span.stars {
    display: inline-block;
    background: url(./images/stars.png) 0 0px repeat-x;
    width: 80px;
    height: 16px;
}

.price-range {
    background: #39A8E0;
    color: #fff !important;
    font-weight: 200 !important;
    font-size: 13px;
    text-align: center;
    width: 150px;
}

.price-range .title {
    margin: 0 2px; 
    font-size: 14px;
    font-weight: bold;
}

.wide {
    display: block;
}

.container-result {
    margin: 0 15px;
}

.filter-lane {
    background-color: #E0E9ED;
    padding: 6px 8px;
    margin-top: 15px;
    border: 0;
}

.filter-submit {
    background-color: #E0E9ED;
    border: 0;  
    padding: 7px 25px;
    margin: 10px 0;
}

.img-hotel {
    width: 100%;
    height: 125px;
}

.ui-slider-horizontal {
    height: 6px;
}

.ui-slider .ui-slider-handle {
    width: 10px;
    height: 12px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: lightblue;
}

.slider-range {
    font-size: 10px;
    margin-bottom: 5px;
}

.filter-slider {
    margin-left: 5px;
}

.ui-autocomplete-loading {
    background: white url("images/spinner.gif") right center no-repeat;
}

#map {
    height: 400px; 
    margin: 12px 0; 
}

select.c_caret {
    border: 0;
    height: 32px;
    -moz-appearance: none;
    -webkit-appearance: none; 
    background: url(images/caret.png) no-repeat right;
}

@media only screen and (max-width: 767px) {
    .wide {
        display: none;
    }

    #map {
        height: 200px; 
        margin: 12px 0; 
    }   

    .add-info .rate
    {
        display: block;
        float: left;
    }

    .hotel-search-panel {
        padding: 6px 14px;
    }
    
}