{% extends "Admin/base.html" %}
{% load staticfiles %} 

{% block extra_css %}
    <link href="/static/Admin/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link href="/static/Admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <div class="block-header">
        <h2>Dash Board <small>You can get all information about PEX+ here.</small></h2>
    
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
    
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    
    </div>
    
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-3">
                <div class="mini-charts-item bgm-cyan">
                    <div class="clearfix">
                        <div class="chart stats-bar"></div>
                        <div class="count">
                            <small>Signed-up Users</small>
                            <h2>{{num_users}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="mini-charts-item bgm-lightgreen">
                    <div class="clearfix">
                        <div class="chart stats-bar-2"></div>
                        <div class="count">
                            <small>Total Searches</small>
                            <h2>{{total_searches}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="mini-charts-item bgm-orange">
                    <div class="clearfix">
                        <div class="chart stats-line"></div>
                        <div class="count">
                            <small>Total Sales</small>
                            <h2>$ 458,778</h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="mini-charts-item bgm-bluegray">
                    <div class="clearfix">
                        <div class="chart stats-line-2"></div>
                        <div class="count">
                            <small>Support Tickets</small>
                            <h2>23,856</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Airline Statistics</h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding-sm">
                    <div class="row">
                        <div class="col-sm-3 m-b-25">
                            <span class="f-500 m-b-15 c-black">Period</span>
                            
                            <select class="selectpicker" onchange="update_line_info();" id="id_airline_info_period">
                                <option value="3650">All time</option>
                                <option value="1">1 Day</option>
                                <option value="7">7 Day</option>
                                <option value="31">1 Month</option>
                                <option value="90">3 Months</option>
                                <option value="180">6 Months</option>
                                <option value="365">1 Year</option>
                                <option value="1825">5 Years</option>
                            </select>
                        </div>
                        <div class="col-sm-3 m-b-25">
                            <span class="f-500 m-b-15 c-black">Fare Class</span>
                            
                            <select class="selectpicker" onchange="update_line_info();" id="id_airline_info_fare_class">
                                <option value="maincabin">Economy</option>
                                <option value="firstclass">Business</option>
                                <option value="business">First</option>
                            </select>
                        </div>                    
                    </div>                    
                    <div id="bar-chart" class="flot-chart"  style="height: 320px;"></div>                    
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Price History</h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4 m-b-25">
                            <span class="f-500 m-b-15 c-black">Period</span>
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                <div class="dtp-container fg-line">
                                    <input type='text' class="form-control" placeholder="From" id="id_price_history_from">
                                </div>
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                <div class="dtp-container fg-line">
                                    <input type='text' class="form-control" placeholder="To" id="id_price_history_to">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 m-b-25">
                            <span class="f-500 m-b-15 c-black">Airlines</span>
                            
                            <select class="selectpicker" onchange="price_history();" id="id_price_history_airline">
                                {% for item in air_lines %}
                                <option value="{{ item }}">{{item|title}}</option>
                                {% endfor %}
                            </select>
                        </div>                    
                        <div class="col-sm-4 m-b-25">
                            <span class="f-500 m-b-15 c-black">Flight Routes</span>
                            
                            <select class="selectpicker" onchange="price_history();" id="id_price_history_route">
                                {% for item in pop_searches %}
                                <option value="{{ item.source }}@{{ item.destination }}">{{ item.source }} -> {{ item.destination }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="col-sm-2 m-b-25">
                            <span class="f-500 m-b-15 c-black">Prices</span>
<!--                             <select class="selectpicker" onchange="price_history();" id="id_price_history_cat">
                                <option value="1">Price</option>
                                <option value="0">Points</option>
                            </select>                            
 -->                            <select class="selectpicker" onchange="price_history();" id="id_price_history_aggregation">
                                <option value="Max">Maximum</option>
                                <option value="Min">Minimum</option>
                                <option value="Avg">Average</option>
                            </select>
                        </div>                    
                   
                    </div>                    

                    <div id="id_price_history_chart" style="height: 270px;" class="m-b-25"></div>
                    <div id="id_price_history_chart_tax" style="height: 200px;"></div>
                </div>
            </div>
        </div>        


        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Popular Searches<small>Top 10 popular flight lines</small></h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding-sm">
                    <div class="row">
                        <div class="col-sm-6 m-b-15 m-l-25">
                            <span class="f-500 m-b-15 c-black">Period</span>
                            <select class="selectpicker" onchange="update_pop_search();" id="id_pop_search_period">
                                <option value="3650">All time</option>
                                <option value="1">1 Day</option>
                                <option value="7">7 Day</option>
                                <option value="31">1 Month</option>
                                <option value="90">3 Months</option>
                                <option value="180">6 Months</option>
                                <option value="365">1 Year</option>
                                <option value="1825">5 Years</option>
                            </select>
                        </div>                  
                    </div>                  
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>#Search</th>
                                </tr>
                            </thead>
                            <tbody id='id_pop_search_table_body'>
                                {% for item in pop_searches %}
                                {% if forloop.counter < 11 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.source }}</td>
                                    <td>{{ item.destination }}</td>
                                    <td>{{ item.dcount }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>User Search History</h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding-sm">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Search Route</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody id='id_pop_search_table_body'>
                                {% for item in user_search_history %}
                                <tr>
                                    <td>{{ item.0 }}</td>
                                    <td>{{ item.1 }}</td>
                                    <td>{{ item.2 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Dynamic Chart</h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding-sm">
                    <div id="dynamic-chart" class="flot-chart"></div>
                    <div class="flc-dynamic"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Pie Chart</h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding">
                    <div id="pie-chart" class="flot-chart-pie"></div>
                    <div class="flc-pie hidden-xs"></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Search Distribution on Countries</h2>
                    
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
            
                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    You can put anything here
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="card-body card-padding-sm">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th># Searches</th>
                                </tr>
                            </thead>
                            <tbody id='id_pop_search_table_body'>
                                {% for item in search_on_country %}
                                <tr>
                                    <td>{{ item.0 }}</td>
                                    <td>{{ item.1 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="/static/Admin/vendors/bower_components/flot/jquery.flot.js"></script>
<script src="/static/Admin/vendors/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/static/Admin/vendors/bower_components/flot/jquery.flot.categories.js"></script>
<script src="/static/Admin/vendors/bower_components/flot/jquery.flot.pie.js"></script>
<script src="/static/Admin/vendors/bower_components/flot/jquery.flot.time.js"></script>
<script src="/static/Admin/vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/static/Admin/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js"></script>
<script src="/static/Admin/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>                         
<script src="/static/Admin/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js"></script>

<script type="text/javascript">
    var stat_num_search = {{stat_num_search|safe}};
</script>

<script src="/static/Admin/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="/static/Admin/js/flot-charts/curved-line-chart.js"></script>
<script src="/static/Admin/js/flot-charts/line-chart.js"></script>
<script src="/static/Admin/js/flot-charts/bar-chart.js"></script>
<script src="/static/Admin/js/flot-charts/dynamic-chart.js"></script>
<script src="/static/Admin/js/flot-charts/pie-chart.js"></script>
<script src="/static/Admin/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="/static/Admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/Admin/vendors/sparklines/jquery.sparkline.min.js"></script>

<script src="/static/Admin/js/pexplus.js"></script>
<script src="/static/Admin/js/charts.js"></script>
{% endblock %}   
