{% extends "Admin/base.html" %}
{% load staticfiles %} 

{% block extra_css %}
    <link href="/static/Admin/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">    
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="card">
        {{ form.errors}}
        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
                <h2>Hotel Link Form <small>Fill the form to add or update the hotel link.</small></h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hotel Chain</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            {% if form.airline.value %}
                            <input type="hidden" name="airline" value="{{form.airline.value}}">
                            <input type="text" class="form-control input-sm" readonly value="{{ pre_hotel }}">
                            {% else %}
                            <select class="selectpicker" name="airline">
                                {% for item in pre_hotel %} 
                                    <option value="{{ item }}">{{ item|title }}</option>
                                {% endfor %}
                            </select>                            
                            {% endif %}
                        </div>
                    </div>
                </div>                 
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Award Link</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" id="id_award_link" required name="award_link" value="{{form.award_link.value}}">
                        </div>
                    </div>
                </div>                 
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Dollar Link</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" id="id_dollar_link" required name="dollar_link" value="{% if form.dollar_link.value %}{{form.dollar_link.value}}{% endif %}">
                        </div>
                    </div>
                </div>                 
                   
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-sm">{% if form.airline.value %}Update Hotel Link {% else %} Create Hotel Link {% endif %}</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="/static/Admin/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="/static/Admin/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>    
{% endblock %}        