{% for entry in user_search_history %}
<div class="panel panel-collapse">
    <div class="panel-heading" role="tab" id="heading-{{forloop.counter}}">
        <h4 class="panel-title">
            <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
                {{ entry.0 }}
            </a>
        </h4>
    </div>
    <div id="collapse-{{forloop.counter}}" class="collapse" role="tabpanel" aria-labelledby="heading-{{forloop.counter}}">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Search Route</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody id='id_pop_search_table_body'>
                        {% for item in entry.1 %}
                        <tr>
                            <td>{{ item.0 }}</td>
                            <td>{{ item.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}