<div class="page-container">
		{% load staticfiles %}
		{% load humanize %}
		<title>Admin|Dashboard</title>
		{% include "flightsearch/admin/admin-header.html" %}
		
			{% include "flightsearch/admin/admin-sidebar.html" %}
			<div class="main-content">
			<div class="row">

		<!-- Profile Info and Notifications -->
		<div class="col-md-6 col-sm-8 clearfix">

			<ul class="user-info pull-left pull-none-xsm">

				
			</ul>


		</div>

		<!-- Raw Links -->
			<div class="col-md-6 col-sm-4 clearfix hidden-xs">
		{% if 'admin' in request.session %}
				<ul class="list-inline links-list pull-right">
		
					
		
					
					<li class="profile-info dropdown">
					
						<ul class="user-info pull-left pull-none-xsm">

						<!-- Profile Info -->
						<li class="profile-info dropdown">
							<!-- add class "pull-right" if you want to place this from right -->
						
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{request.session.admin}}							<i class="entypo-down-open"></i>
							</a>
							<!--  
							<ul class="dropdown-menu">
								<li class="caret"></li>
								<li><a href="/easy-detaxt/admin/manageprofile">
										<i class="entypo-user"></i> Edit profile
								</a></li>
								<li><a href="/easy-detaxt/admin/changepassword">
										<i class="entypo-user"></i> Change password
								</a></li>

							</ul>
							-->
						</li>
						

					</ul> 
					</li>
		
					<li class="sep"></li>
		
					<li>
						<a href="adminlogout">
						Log out
						<i class="entypo-logout right"></i>
						</a>
					</li>
					
				</ul>
				{%endif%}
		
			</div>
		
		</div>
			
			
			
			
			
			 
			<div class="row">
			<div class="col-sm-6 col-xs-6 text-center">
		
				<div class="tile-stats tile-green">
					<h3>PEX ADMIN SECTION</h3>
					<div class="icon"><i class="entypo-users"></i></div>
					<div class="num" data-start="0" data-end="50" data-postfix="" data-duration="1500" data-delay="0"></div>
					
				</div>
		
			</div>
		
			
			
		</div>
		</div>
		<br />
</div>
		
			 
			
	
	</body>
</html>