
	<div class="page-container">
		{% load staticfiles %}
		{% load humanize %}
		<title>Admin|Dashboard</title>
		{% include "flightsearch/admin/admin-header.html" %}
		
			{% include "flightsearch/admin/admin-sidebar.html" %}
		<div class="main-content">
			<div class="row">

		<!-- Profile Info and Notifications -->
		<div class="col-md-6 col-sm-8 clearfix">

			<ul class="user-info pull-left pull-none-xsm">

				
			</ul>


		</div>

		<!-- Raw Links -->
			<div class="col-md-6 col-sm-4 clearfix hidden-xs">
		{% if 'admin' in request.session %}
				<ul class="list-inline links-list pull-right">
		
					
		
					
					<li class="profile-info dropdown">
					
						<ul class="user-info pull-left pull-none-xsm">

						<!-- Profile Info -->
						<li class="profile-info dropdown">
							<!-- add class "pull-right" if you want to place this from right -->
						
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{request.session.admin}}							<i class="entypo-down-open"></i>
							</a>
							<!--  
							<ul class="dropdown-menu">
								<li class="caret"></li>
								<li><a href="/easy-detaxt/admin/manageprofile">
										<i class="entypo-user"></i> Edit profile
								</a></li>
								<li><a href="/easy-detaxt/admin/changepassword">
										<i class="entypo-user"></i> Change password
								</a></li>

							</ul>
							-->
						</li>
						

					</ul> 
					</li>
		
					<li class="sep"></li>
		
					<li>
						<a href="adminlogout">
						Log out
						<i class="entypo-logout right"></i>
						</a>
					</li>
					
				</ul>
				{%endif%}
		
			</div>
		
		</div>

<div class="row">
	<div class="col-md-12">
	{%if blog%}
		<h3>Edit Your Blog</h3>	
	{%else%}
		<h3>Add Blog</h3>	
	{%endif%}
		<div class="panel panel-primary" data-collapsed="0">


			<div class="panel-body">

				<form class="form-horizontal" action="manageBlog" method="post">
					{% csrf_token %}
					{% if blog and blog.blog_id%}
					<input type="hidden" name="blogid"  value="{{blog.blog_id}}" >
					{%endif%}
				    
				  <div class="form-group">
				    <label for="blog_url" class="col-sm-2 control-label">Blog Url</label>
				    <div class="col-sm-10">
				    <p>pexportl/blog<span id="show_blog_url">{%if blog and blog.blog_url%}?title={{blog.blog_url}}{%endif%}</span></p>
				      <input type="hidden" class="form-control" name="blog_url" id="blog_name_id"
				      {% if blog and blog.blog_url %} value="{{blog.blog_url}}" {%endif%} />
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="blog_title" class="col-sm-2 control-label">Blog Title</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="blog_title" id="blog_title_id"
				      {% if blog and blog.blog_title %} value="{{blog.blog_title}}" {%endif%} placeholder="BLOG TITLE" />
				      
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="blog_content" class="col-sm-2 control-label">Blog Content</label>
				    <div class="col-sm-10">
				      <textarea  rows="15" class="tinymce form-control" id="ckeditor1" name="blog_content">
				      	{% if blog %} {{blog.blog_content}} {%endif%}
				      </textarea>
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="placeholder" class="col-sm-2 control-label">Meta Key</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="metakey"
				      {% if blog and blog.blog_meta_key %} value="{{blog.blog_meta_key}}" {%endif%}
				      placeholder="META KEY" />
				      
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="meta_description" class="col-sm-2 control-label">Meta Description</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="meta_description"
				      {% if blog and blog.blog_meta_Description %} value="{{blog.blog_meta_Description}}" {%endif%}
				      placeholder="META DESCRIPTION" />
				      
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="is_active" class="col-sm-2 control-label">Is Active</label>
				    <div class="col-sm-10">
				      <input type="checkbox" class="" name="status" value="1"
				      {% if blog and blog.blog_status == True %} checked {%endif%}
				       />
				      
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-pexSearch">Save</button>
				    </div>
				  </div>
				</form>

			</div>

		</div>

	</div>
</div>
	
	<script>

    CKEDITOR.env.isCompatible = true;
    CKEDITOR.replace( 'ckeditor1', {
	  toolbar : [
		{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike','-','RemoveFormat'] },
		{ name: 'paragraph', items: ['NumberedList','BulletedList','-','Outdent','Indent', '-','Blockquote'] },
		{ name: 'font', items: [ 'Font', 'FontSize','BasicStyle' ] },
		{ name: 'styles', items: [ 'Styles', 'Format' ] },
		{ name: 'links', items: ['Link','Unlink','Anchor'] },
		//{ name: 'colors', groups: ['colors'] }
		{ name: 'insert', items:['Image','Table','Youtube'] }
	  ],
	  // "filebrowserImageUploadUrl": "manageblogImage",
	  "filebrowserBrowseUrl": "manageblogImage",
	   //extraPlugins : 'manageblogImage',
	   ploadUrl :  "manageblogImage",
	   //removeDialogTabs : 'image:advanced',
	   height : 400
	});
</script>
	
<script>

	$("#blog_title_id").keyup(function(){
	    blogurlmaker();

	});
	function blogurlmaker(){

	        var bloggivenurl=$("#blog_title_id").val();
	        var bloggivenurl1=bloggivenurl.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-');
	        var blog_url_string=bloggivenurl1.replace(/\s+/g, '-');
	        var blog_url="?titile="+blog_url_string.toLowerCase();
	        $("#show_blog_url").empty();
	        $("#show_blog_url").append(blog_url);
	        $("#blog_name_id").val('');
	        $("#blog_name_id").val(blog_url);
	}
</script>			 

	
	</body>
</html>