{% load staticfiles %} {% include "flightsearch/header.html" %}


<!-- BODY SECTION/-->
<!-- search form/-->

<div class="col-sm-10 col-sm-push-2 col-xs-12 nopadding static-page-jumbo">
	{% include "flightsearch/top_searchbar.html" %}
</div>

<!-- search form/-->
<div class="container-fluid" style="margin-top: 30px;">
	<!-- tabs left -->

			<div
				class="col-md-10 col-sm-10 tab-pane active col-md-push-2 col-sm-push-2 col-xs-12 about-content nopadding "
				id="a">
			
				<h5>About PEX+</h5>
				<img src="/static/flightsearch/img/banner-about.jpg"
					class="img-responsive">
				<div class="content-div">
					<p>
						We’re a tech company focused on making award travel and redemption
						better. We search other sites which allow award travel, including
						airlines, to show you all the information you need to make the
						best mileage and point travel decisions. With one simple search,
						you can view award airfare prices from numerous airlines in one
						place. <br> <br>PEX+ is currently in "beta release" to demonstrate
						some of our capabilities, and we're constantly adding new
						features. Please feel free to use our site and 
						<a href="/staticPage?action=feedback" class="fr-blk"> give us suggestions on future improvements.</a>
					</p>
					<div class="col-xs-12 col-md-12 nopadding social-icn">
					<h3 class="follow-us" >Follow Us:</h3>
						<div class="col-md-3 col-xs-6">
						<a href="https://www.facebook.com/PEXPlus/?fref=ts" target="blank">
							<img src="/static/flightsearch/img/facebook.png" class="img-responsive"><span>Facebook</span></a>
						</div>
						
						
						<div class="col-md-3 col-xs-6">
						<a href="https://twitter.com/PEXPlus" target="blank">
							<img src="/static/flightsearch/img/twitter.png" class="img-responsive"><span>Twitter</span></a>
						</div>
					
						
						<div class="col-md-3 col-xs-6">
						<a href="https://www.youtube.com/channel/UCjnO5wqUb0agv6_zCld8cxA" target="blank">
							<img src="/static/flightsearch/img/youtube.png" class="img-responsive"><span>Youtube</span></a>
						</div>
						
					
						<div class="col-md-3 col-xs-6">
						<a href="https://www.linkedin.com/company/2706965?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2706965%2Cidx%3A1-1-1%2CtarId%3A1451392191760%2Ctas%3APEX%2B" target="blank">
							<img src="/static/flightsearch/img/linkedin.png" class="img-responsive"><span>Linkedin</span></a>
						</div>
						
					</div>
					<div class="col-xs-12 col-md-12 nopadding "><!--------- map about--------->
						<h3 class="follow-us" >Locations:</h3>
						<div class="row">
			<div class="col-md-4  col-xs-12 address-data">
				 <div class="col-md-12 nopadding">
					<div class="thumbnail">
					<div id="houstonmap" style="width:100%;height:220px;"></div>
					  <div class="caption">

						<h3>Houston, Texas</h3>
						<p class="address">5177 Richmond Avenue, Suite 770 <br/>
						Houston, TX 77056</p>

						<a href="#" class="" role="button">Map <span class="glyphicon right" aria-hidden="true"></span></a> 
					  </div>
					</div>
				  </div>
			</div>
			<div class="col-md-4  col-xs-12 address-data">
				 <div class="col-md-12 nopadding">
					<div class="thumbnail">
					<div id="miami" style="width:100%;height:220px;"></div>
					  <div class="caption">
						<h3>Miami</h3>
						<p class="address">407 Lincoln Road, Suite 11-B <br/>
						Miami Beach, FL 33139</p>

						<a href="#" class="" role="button">Map <span class="glyphicon right" aria-hidden="true"></span></a>
					  </div>

					</div>
				  </div>
			</div>
			<!--
			<div class="col-md-4 col-sm-4 col-xs-12 address-data">
				 <div class="col-md-12 nopadding">
					<div class="thumbnail">
					<div id="" style="width:100%;height:220px;"></div>
					  <div class="caption">
						<h3>Heading</h3>
						<p class="address"> Awards Search. Find the cheapest airline rewards</p>
						<a href="#" class="" role="button">Map <span class="glyphicon right" aria-hidden="true"></span></a> <a href="#" class="" role="button">Hotels <span class="glyphicon right" aria-hidden="true"></span></a>
					  </div>
					</div>
				  </div>
			</div>
			-->
	 </div>
						
						
					</div><!--------- map about--------->
				</div>
			</div>

		{% include "flightsearch/sidebar-menu.html" %}

	<!-- /tabs -->

	<!-- /row -->
</div>

<!-- /container -->



{% include "flightsearch/footer.html" %}


