
    	{% include "flightsearch/header.html" %}
    	{% load staticfiles %}
       
	
<!-- BODY SECTION/-->
<div class="container-fluid">
    <div class="col-xs-12 nopadding"></div>
 </div>    
    
    <!-- /container -->
    


{% include "flightsearch/footer.html" %}
    
	<script>
	
		$('#mc').click(function() {
			var location = "flights?action=mc";
			window.location.href = location;
		});
		
		
	</script>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>');</script>
	
    <script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>
   
    
   <!-- <script src="{% static 'test1/js/main.js' %}"></script> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments);});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r);}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        
        $( "#cabintab" ).focus(function(){
		$(".travelers-holder").addClass('open');
		return false;
	});
	$( "#cabintab" ).click(function(){
		$(".travelers-holder").addClass('open');
		return false;
	});
	
	$(".form_val").focus(function(){
		if(!$(this).hasClass("cabin_type")){ $(".travelers-holder").removeClass('open'); }
	});
	
	$('#apply_traveler').click(function(){
		$(".travelers-holder").removeClass('open');
	});

    </script>
    <script>
    $("#submitid").click(function(event) {
    	if($('#from').val().length<1)
    	{
    		//$('#frommsg').append("Please enter the Source field");
    		$('#from').focus();
    		event.preventDefault();
    	} 
    	if($('#to').val().length<1)
    	{
    		$('#to').focus();
    		event.preventDefault();	
    	}
    	if($('#departMain').val().length<1)
    	{
    		$('#departMain').focus();
    		event.preventDefault();	
    	}
				
    });
    $(document).ready(function(){
    	if($("#ow").prop('checked') == true){
    			$("#return").hide();
    			
    		}
    		else
    		{
    			$("#return").show();
    		}
    		if($("#rt").prop('checked') == true){
    			$("#return").show();
    		}
    });
    	$("#ow").click(function(){
    		if($("#ow").prop('checked') == true){
    			$("#return").hide();
    			$('.mobile-wt').removeClass('col-xs-6 xs-pr5');
    			$('.mobile-wt').addClass('col-xs-12');
    			$('#rmv_nomr').removeClass('nomr');
    			
    		}
    		else
    		{
    			
    			$("#return").show();
    		}
    		
    	});
    	$("#rt").click(function(){
    		if($("#rt").prop('checked') == true){
    			$("#return").show();
    			$('.mobile-wt').removeClass('col-xs-12');
    			$('.mobile-wt').addClass('col-xs-6 xs-pr5');
    			$('#rmv_nomr').addClass('nomr');
    		}
    		else
    		{
    			$("#return").hide();
    		}
    		
    	});
    	
    $(function() {
    
    $( "#from" ).autocomplete({
  		 open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
		autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#fromid').val(ui.item.id);
    	},
    });
    $( "#to" ).autocomplete({
  		open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},

		autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#toid').val(ui.item.id);
    	},
    });
  });
    	
    </script>
    <script>
    
	 $(function(){
	 	/*	$('#returnMain').datetimepicker({format: 'm/d/Y','timepicker': false,closeOnDateSelect: true,scrollMonth: false,defaultSelect: false,});
            $('#departMain').datetimepicker({ format: 'm/d/Y',minDate: 0,'timepicker': false,closeOnDateSelect: true,scrollMonth:false,defaultSelect: false,
                        onSelectDate: function(selectedDate)
                        {
                                $("#returnMain").focus();
                                $( "#returnMain" ).datetimepicker({format: 'm/d/Y', minDate: selectedDate, });
                        }
               });
               */
               $('#departMain').datepicker(
               	{

               		minDate: 0,
               		onSelect: function()
               		{
               			setTimeout(function function_name (argument) {
							 $('#returnMain').focus();
						   },200);
               			
               		},
               		  onClose: function(selectedDate) {
        					// Set the minDate of 'to' as the selectedDate of 'from'
        						$("#returnMain").datepicker("option", "minDate", selectedDate);
    					}
               	}
               	
               );
              $('#returnMain').datepicker({
              		minDate:0,
              		onSelect: function()
               		{
               		/*	setTimeout(function function_name (argument) {
							 $('#cabintab').focus();
						   },50);
               			*/
               		},
              	
              	}) ;
       });


var total;
//@@increase decrease on buttom click
    $(function () {
    $('.add').on('click',function(){
    	total = tatalpassenger();
    	if(total < 6 )
    	{
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal)) {
            $qty.val(currentVal + 1);
        }
        travelinfo();
       }
    });
    $('.minus').on('click',function(){
    	total = tatalpassenger();
    	if(total > 0){
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $qty.val(currentVal - 1);
        }
        
        travelinfo();
       }
    });
    
});
$('#cabintype').on('change',function(){
	travelinfo();
});

$(document).ready(function(){
	$('#passenger').val('1');
	$(".alert-warning").hide();
});
//@@@Cabin select@@@@
function travelinfo(){
	total = tatalpassenger();
	$('#passenger').val(total);
	var text;
	if(total == 1){
		text = "traveler";
	}
	else{
		text = "travelers";
	}
	var selectedcabin = $("#cabintype option:selected").text();
	var html = "<span id='travelar'>"+total+" "+text+", "+selectedcabin+"</span>";
	$('#travelar').replaceWith(html);
	if(total == 0){
		var msg='';
		$('#submitid').prop('disabled', true);
		$(".alert-warning").empty();
		msg="You must select atleast one traveler";
		$(".alert-warning").append(msg);
		$(".alert-warning").show();
	}
	else{
		$('#submitid').prop('disabled', false);
		$(".alert-warning").hide();
	}
}
//@@@Total Passenger@@@@
function tatalpassenger() {
var sum = 0;
$('.numberHolder').each(function(){
    sum += parseFloat($(this).val());
});
return sum;
};
 
//@@not close on click dropdown

  $('.dropdown-menu .down-menu-block').click(function(e) {
        e.stopPropagation();
    });
    
    </script>
