{% load staticfiles %} {% include "flightsearch/header.html" %}


<!-- BODY SECTION/-->
<!-- search form/-->

{% include "flightsearch/top_searchbar.html" %}

<!-- search form/-->
<div class="container-fluid" style="margin-top: 30px;">
	<!-- tabs left -->

			<div
				class="col-md-10 col-sm-10 tab-pane active col-md-push-2 col-sm-push-2 col-xs-12 about-content nopadding "
				id="a">
				<h5>About PEX+</h5>
				<img src="/static/flightsearch/img/banner-about.jpg"
					class="img-responsive">
				<div class="content-div">
					<p>
						We’re a tech company focused on making award travel and redemption
						better. We search other sites which allow award travel, including
						airlines, to show you all the information you need to make the
						best mileage and point travel decisions. With one simple search,
						you can view award airfare prices from numerous airlines in one
						place. <br> <br>PEX+ is currently in "beta release" to demonstrate
						some of our capabilities, and we're constantly adding new
						features. Please feel free to use our site and 
						<a href="staticPage?action=feedback"> give us suggestions on future improvements.</a>
					</p>
					<div class="col-xs-12 col-md-12 nopadding social-icn">
					<h3 class="follow-us" >Follow Us:</h3>
						<div class="col-md-3">
						<a href="https://www.facebook.com/PEXPlus/?fref=ts" target="blank">
							<img src="/static/flightsearch/img/facebook.png" class="img-responsive"><span>Facebook</span></a>
						</div>
						
						
						<div class="col-md-3">
						<a href="https://twitter.com/PEXPlus" target="blank">
							<img src="/static/flightsearch/img/twitter.png" class="img-responsive"><span>twitter</span></a>
						</div>
					
						
						<div class="col-md-3">
						<a href="https://www.youtube.com/channel/UCjnO5wqUb0agv6_zCld8cxA" target="blank">
							<img src="/static/flightsearch/img/youtube.png" class="img-responsive"><span>youtube</span></a>
						</div>
						
					
						<div class="col-md-3">
						<a href="https://www.linkedin.com/company/2706965?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2706965%2Cidx%3A1-1-1%2CtarId%3A1451392191760%2Ctas%3APEX%2B" target="blank">
							<img src="/static/flightsearch/img/linkedin.png" class="img-responsive"><span>linkedin</span></a>
						</div>
						
					</div>
					<div class="col-xs-12 col-md-12 nopadding "><!--------- map about--------->
						<h3 class="follow-us" >Locations:</h3>
						<div class="row">
			<div class="col-md-4  col-xs-12 address-data">
				 <div class="col-md-12 nopadding">
					<div class="thumbnail">
					<div id="houstonmap" style="width:100%;height:220px;"></div>
					  <div class="caption">

						<h3>Houston, Texas</h3>
						<p class="address">5177 Richmond Avenue, Suite 770 <br/>
						Houston, TX 77056</p>

						<a href="#" class="" role="button">Map <span class="glyphicon right" aria-hidden="true"></span></a> 
					  </div>
					</div>
				  </div>
			</div>
			<div class="col-md-4  col-xs-12 address-data">
				 <div class="col-md-12 nopadding">
					<div class="thumbnail">
					<div id="miami" style="width:100%;height:220px;"></div>
					  <div class="caption">
						<h3>Miami</h3>
						<p class="address">407 Lincoln Road, Suite 11-B <br/>
						Miami Beach, FL 33139</p>

						<a href="#" class="" role="button">Map <span class="glyphicon right" aria-hidden="true"></span></a>
					  </div>

					</div>
				  </div>
			</div>
			<!--
			<div class="col-md-4 col-sm-4 col-xs-12 address-data">
				 <div class="col-md-12 nopadding">
					<div class="thumbnail">
					<div id="" style="width:100%;height:220px;"></div>
					  <div class="caption">
						<h3>Heading</h3>
						<p class="address"> Awards Search. Find the cheapest airline rewards</p>
						<a href="#" class="" role="button">Map <span class="glyphicon right" aria-hidden="true"></span></a> <a href="#" class="" role="button">Hotels <span class="glyphicon right" aria-hidden="true"></span></a>
					  </div>
					</div>
				  </div>
			</div>
			-->
	 </div>
						
						
					</div><!--------- map about--------->
				</div>
			</div>

		{% include "flightsearch/sidebar-menu.html" %}

	<!-- /tabs -->

	<!-- /row -->
</div>

<!-- /container -->



{% include "flightsearch/footer.html" %}

<script>
	
		$('#mc').click(function() {
			var location = "flights?action=mc";
			window.location.href = location;
		});
		
		
	</script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>');</script>

<script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>


<!-- <script src="{% static 'test1/js/main.js' %}"></script> -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments);});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r);}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        
        $( "#cabintab" ).focus(function(){
		$(".travelers-holder").addClass('open');
		return false;
	});
	$( "#cabintab" ).click(function(){
		$(".travelers-holder").addClass('open');
		return false;
	});
	
	$(".form_val").focus(function(){
		if(!$(this).hasClass("cabin_type")){ $(".travelers-holder").removeClass('open'); }
	});
	
	$('#apply_traveler').click(function(){
		$(".travelers-holder").removeClass('open');
	});

    </script>
<script>
    $("#submitid").click(function(event) {
    	if($('#from').val().length<1)
    	{
    		//$('#frommsg').append("Please enter the Source field");
    		$('#from').focus();
    		event.preventDefault();
    	} 
    	if($('#to').val().length<1)
    	{
    		$('#to').focus();
    		event.preventDefault();	
    	}
    	if($('#departMain').val().length<1)
    	{
    		$('#departMain').focus();
    		event.preventDefault();	
    	}
				
    });
    $(document).ready(function(){
    	if($("#ow").prop('checked') == true){
    			$("#return").hide();
    			
    		}
    		else
    		{
    			$("#return").show();
    		}
    		if($("#rt").prop('checked') == true){
    			$("#return").show();
    		}
    });
    	$("#ow").click(function(){
    		if($("#ow").prop('checked') == true){
    			$("#return").hide();
    			$('.mobile-wt').removeClass('col-xs-6 xs-pr5');
    			$('.mobile-wt').addClass('col-xs-12');
    			$('#rmv_nomr').removeClass('nomr');
    			
    		}
    		else
    		{
    			
    			$("#return").show();
    		}
    		
    	});
    	$("#rt").click(function(){
    		if($("#rt").prop('checked') == true){
    			$("#return").show();
    			$('.mobile-wt').removeClass('col-xs-12');
    			$('.mobile-wt').addClass('col-xs-6 xs-pr5');
    			$('#rmv_nomr').addClass('nomr');
    		}
    		else
    		{
    			$("#return").hide();
    		}
    		
    	});
    	
    $(function() {
    
    $( "#from" ).autocomplete({
  		 open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
		autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#fromid').val(ui.item.id);
    	},
    });
    $( "#to" ).autocomplete({
  		open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},

		autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#toid').val(ui.item.id);
    	},
    });
  });
    	
    </script>
<script>
    
	 $(function(){
	 	/*	$('#returnMain').datetimepicker({format: 'm/d/Y','timepicker': false,closeOnDateSelect: true,scrollMonth: false,defaultSelect: false,});
            $('#departMain').datetimepicker({ format: 'm/d/Y',minDate: 0,'timepicker': false,closeOnDateSelect: true,scrollMonth:false,defaultSelect: false,
                        onSelectDate: function(selectedDate)
                        {
                                $("#returnMain").focus();
                                $( "#returnMain" ).datetimepicker({format: 'm/d/Y', minDate: selectedDate, });
                        }
               });
               */
               $('#departMain').datepicker(
               	{

               		minDate: 0,
               		onSelect: function()
               		{
               			setTimeout(function function_name (argument) {
							 $('#returnMain').focus();
						   },200);
               			
               		},
               		  onClose: function(selectedDate) {
        					// Set the minDate of 'to' as the selectedDate of 'from'
        						$("#returnMain").datepicker("option", "minDate", selectedDate);
    					}
               	}
               	
               );
              $('#returnMain').datepicker({
              		minDate:0,
              		onSelect: function()
               		{
               		/*	setTimeout(function function_name (argument) {
							 $('#cabintab').focus();
						   },50);
               			*/
               		},
              	
              	}) ;
       });


var total;
//@@increase decrease on buttom click
    $(function () {
    $('.add').on('click',function(){
    	total = tatalpassenger();
    	if(total < 6 )
    	{
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal)) {
            $qty.val(currentVal + 1);
        }
        travelinfo();
       }
    });
    $('.minus').on('click',function(){
    	total = tatalpassenger();
    	if(total > 0){
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $qty.val(currentVal - 1);
        }
        
        travelinfo();
       }
    });
    
});
$('#cabintype').on('change',function(){
	travelinfo();
});

$(document).ready(function(){
	$('#passenger').val('1');
	$(".alert-warning").hide();
});
//@@@Cabin select@@@@
function travelinfo(){
	total = tatalpassenger();
	$('#passenger').val(total);
	var text;
	if(total == 1){
		text = "traveler";
	}
	else{
		text = "travelers";
	}
	var selectedcabin = $("#cabintype option:selected").text();
	var html = "<span id='travelar'>"+total+" "+text+", "+selectedcabin+"</span>";
	$('#travelar').replaceWith(html);
	if(total == 0){
		var msg='';
		$('#submitid').prop('disabled', true);
		$(".alert-warning").empty();
		msg="You must select atleast one traveler";
		$(".alert-warning").append(msg);
		$(".alert-warning").show();
	}
	else{
		$('#submitid').prop('disabled', false);
		$(".alert-warning").hide();
	}
}
//@@@Total Passenger@@@@
function tatalpassenger() {
var sum = 0;
$('.numberHolder').each(function(){
    sum += parseFloat($(this).val());
});
return sum;
};
 
//@@not close on click dropdown

  $('.dropdown-menu .down-menu-block').click(function(e) {
        e.stopPropagation();
    });
    
    </script>
    <script
src="http://maps.googleapis.com/maps/api/js">
</script>
    <script>
function initialize() {
  var houston_mapProp = {
    center:new google.maps.LatLng(29.984433,-95.341442),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var miami_mapProp = {
    center:new google.maps.LatLng(25.79325,-80.290556),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("miami"), miami_mapProp);
  var map1=new google.maps.Map(document.getElementById("houstonmap"), houston_mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>	
