	{% load staticfiles %}
		{% load humanize %}
		<title>Admin|Ad-image</title>
		
		{% include "flightsearch/admin-header.html" %}
		<div class="container nopadding">
		<div class="col-xs-12 col-md-12 nopadding" style="margin-top: 50px">
			{% include "flightsearch/admin-sidebar.html" %}
			<div class="col-xs-12 col-md-10 content-block" >
				<div>
				<h4><b><u>Ad Images Listing </u></b></h4>
				
				</div>
				{%if 'msg' in request.GET %}
				<h5 class="alert alert-success">{{request.GET.msg}}</h5>
				{% endif %}
				<div class="table-responsive">
					
				<a href="manage_adimage?action=add" class="pull-right pr10"><button class="btn btn-pexSearch"> Add Image </button></a>
				<table class="table table-responsive table-striped">
					<thead>
						<tr>
						<th>Image code</th>
						<th>Image Path</th>
						<th>Google Code</th>
						<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{%if imagelist %}
						{%for obj in imagelist %}
						<tr>
							<td>{{obj.ad_code}}</td>
							<td>{{obj.image_path}}</td>
							<td>{{obj.google_code}}</td>
							<td><a href="manage_adimage?imageid={{obj.ad_id}}&action=edit">Edit</a> | <a href="manage_adimage?imageid={{obj.ad_id}}&action=delete">Delete </a></td>
						</tr>
						{%endfor%}
						{%endif%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	
	</body>
</html>