
			<div class="menu-site-bar">
				<h2>Email Template</h2>
				<nav class="nav-sidebar nav nav-tabs">
					<ul class="nav tabs">
						<li><a href="staticPage?action=About">About</a></li>
						<li><a href="staticPage?action=Team">Team</a></li>
						<li class=""><a href="staticPage?action=Blog"  >Blog</a></li>
						<li class=""><a href="staticPage?action=Press_Contact"  >Press Contact</a></li>
						<li class=""><a href="staticPage?action=Help"  >Help</a></li>
					</ul>
				</nav>
			</div>
		