 {% for key1, value1 in aircraft_category.items %}
<div class="filter-aircraft">
    <div class="checkbox filter-aircraft-heading">
        <label>
            <input value="Hotel" type="checkbox" name="flight" {% if 'Hotel' in flight %} checked {% endif %}>
            <span></span>{{ key1 }}</label>
        <img src="/static/hotelsearch/css/images/caret.png" style="float: right;">
    </div>
    {% for value2 in value1 %}
    <div class="checkbox filter-aircraft-body">
        <label>
            <input type="checkbox" name="aircraft" value="{{ value2 }}" {% if value2 in filters.aircraft %} checked="true" {% endif %}>
            <span></span>{{ value2 }}</label>
    </div>
    {% endfor %}
</div>
{% endfor %}
