<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Pex Search Result</title>
		{% include "flightsearch/header.html" %}
		{% load staticfiles %}
		{% load humanize %}
		<body>
			<div class="container">
			<div class="col-xs-12 selected-flights bgclr">
				<div class="col-md-5 col-xs-12 nopadding">
					<div class="col-xs-12 nopadding">
						<div class="col-xs-12 nopadding">
							<div class="arrivel col-sm-5 nopadding">
								<p>
									{{selectedrow.origin}}
								</p>
								<p>
									{{selectedrow.departure}}
								</p>
							</div>
							<div class="arrow-div col-sm-2 nopadding">
								&xrarr;
							</div>
							<div class="arrivel-2 col-sm-5 nopadding text-right">
								<p>
									{{selectedrow.destination}}
								</p>
								<p>
									{{selectedrow.arival}}
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-2 col-xs-5 text-center">
					{% if selectedrow.datasource == "united" %}
					<img src="{% static 'flightsearch/img/unitedLogo.png' %}" class="img-responsive" alt="Responsive image">{% endif %}
					{% if selectedrow.datasource == "delta" %}
					<img src="{% static 'flightsearch/img/deltaLogo.jpg' %}" class="img-responsive" alt="Responsive image">{% endif %} <h5>OUTBOUND</h5>
				</div>

				<div class="col-md-5 col-xs-12 nopadding">
					<div class="col-xs-12 nopadding">
						<div class="col-sm-5 col-xs-12 nopadding">
							<p class="flight-name">
								{{selectedrow.flighno}}
							</p>
							<p class="stops-dur">
								<span>{{selectedrow.stoppage}}</span><span>{{row.duration}}</span>
							</p>
						</div>
						<div class="col-sm-7 col-xs-12 nopadding bkcl">
							<div class="row">
								<div class="col-xs-12" style="padding-bottom: 15px;">
									<div class="col-xs-6">
										
									</div>
									<div class="col-xs-6">
										{{cabin}}
									</div> 
									
								</div>
								<div class="col-xs-12"> 
									<div class="col-xs-6">
										Miles per Passenger
									</div>
									<div class="col-xs-6">
										{{price|intcomma}} Miles
									</div>
								</div>
								
								<div class="col-xs-12 mvt10px"> 
									<div class="col-xs-6">
										Taxes
									</div>
									<div class="col-xs-6">
										32,500 sMiles
									</div>
								</div>
								<div class="col-xs-12 mvt10px"> 
									<div class="col-xs-6">
										Passengers
									</div>
									<div class="col-xs-6">
										{{passenger}}
									</div>
								</div>
								<div class="col-xs-12 mvt30px"> 
									<div class="col-xs-12 nopadding totalprice">
									<div class="col-xs-6">
										Total Prices
									</div>
									<div class="col-xs-6">
										{{total|intcomma}} Miles
										
										<div class="text-left">+ ${{totaltax}}</div> 
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-10 nopadding pop-hover">
					<a class="" role="button" data-toggle="collapse" href="#{{selectedrow.rowid}}" aria-expanded="false" aria-controls="collapseExample">SHOW DETAILS</a>
					<div class="collapse" id="{{selectedrow.rowid}}">
						<div class="well">
							<h2>DEPART</h2>
							<p>
								COMPANY FLIGHT (ECO)
							</p>
							<div class="table-responsive table-date-search">
								<table class="table">
									<tr>
										<td>{{selectedrow.departure}}</td>
										<td>{{searchdate}}</td>
										<td>{{selectedrow.origin}}</td>
									</tr>
									<tr>
										<td>{{selectedrow.arival}}</td>
										<td>{{searchdate}}</td>
										<td>{{selectedrow.destination}}</td>
									</tr>
								</table>
							</div>
							<a href="#">share</a>
						</div>
					</div>
				</div>
				<div class="col-xs-2 nopadding pop-hover text-right"><span class="btn btn-success">Continue </span></div>
			</div>
			</div>
			{% include "flightsearch/footer.html" %}
			<script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>
		</body>
		</html>
		
