{% load staticfiles %}
{% load humanize %}
{% include "flightsearch/header.html" %}
<div class="col-xs-12 nopadding">
	<div class="container">
		<div class="col-xs-12 nopadding">
			<div class="col-md-6 col-sm-8 col-xs-12 nopadding form-cstm-mng">
				{%if message %}<h4 style="color: red">{{message}}</h4>
				{%else%}
				<h4 >Reset Your New PEX+ password</h4>
				{%if message %}
			    	<h4 class"alert-danger">{{message}}</h4>
			    	{%endif%}
				<form class="form-horizontal" method="post" action="createPassword">
					{% csrf_token %}
				  <div class="form-group">
				    <label class="col-sm-2 control-label">Current Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" placeholder="Current Password" name="current_password" required>
				    </div>
				  </div>	
				  <div class="form-group">
				    <label class="col-sm-2 control-label">New Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="new_password" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-2 control-label">Confirm Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-pexSearch">Submit</button>
				    </div>
				  </div>
				</form>
				 {%endif%}
			</div>
		</div>
	</div>
</div>
	
<script src="/static/flightsearch/js/vendor/bootstrap.min.js"></script>
<script>
	//$(".alert-danger").fadeOut(3000);
</script>
<script>
		$('#confirm_password').change(function(e){
			console.log("test");
		  if ($('#confirm_password').val() !=  $('#newpassword').val())
		  {
		  	
		  	alert("password missmatch");
		  	$('#newpassword').val('');
		  	$('#confirm_password').val('');
		  	$('#newpassword').focus();
		  	e.preventDefault();
		  	
		  }
		});
		
	</script>
{% include "flightsearch/footer.html" %}