{% extends "flightsearch/base.html" %}
{% load staticfiles %}
{% load humanize %}

<title>Flight Alert|PEX+</title>
{% block content %}

<div class="container">
    <div class="col-xs-12 heading-container nopadding">
        {% if request.GET.status %}
        <h4 class="text-center">{{request.GET.status}}</h4>
        {%endif%}
        <div class="col-xs-12 mvb30px nopadding">
            <span class="flight_alert_heading pull-left">Flight Price Alert</span>
            <a class="pull-right" href="#" data-toggle="modal" data-target="#flight-model-alert" id="flight_alert_link">Set A Flight Price Alert</a>
        </div>
        <div class="col-xs-12 nopadding">
            {%if alertResult%} {%for row in alertResult%}
            <div class="col-xs-12 mvb10px account-block-bg">
                <div class="col-sm-8 col-xs-12 nopadding">
                    <h4>{{row.from_airport}}  <img src="{% static 'flightsearch/img/summary-arrow.png' %}" /> {{row.to_airport}}</h4>
                    <span>{{row.departdate}}{% if row.returndate %} - {{row.returndate}}{%endif%}, {{row.traveller}} {%if row.traveller == 1%}adult{%else%}travelers{%endif%} {%if row.cabin == 'maincabin' %}Economy{%elif row.cabin == 'firstclass'%}Business{%elif row.cabin == 'business'%}First{%endif%},  Max price miles {{row.pricemile|intcomma}} </span>
                </div>
                <div class="col-sm-4 col-xs-12 text-right mvt15p">
                    <h4><a href="#" class="action" id="{{row.alertid}}" >Change</a> | <a href="/useralert?action=delete&alertid={{row.alertid}}" class="delete_button">Delete</a>  </h4>
                </div>
            </div>
            {% endfor %} {% else %}
            <h4>You have not created any Flight price alert</h4> {% endif %}
        </div>
    </div>
</div>
</div>
<!-- /.modal -->

<script src="{% static 'flightsearch/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'flightsearch/js/bootbox.js' %}"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'flightsearch/js/flight_alert.js' %}"></script>
{% endblock %}
