<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>New Web Project</title>
	</head>
	<body>
		<footer class="container-footer">
      <center>
        
        
      </center>
        <div class="container">
              <nav class="navbar navbar-footer">
                <div class="container-fluid">
                  
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <ul class="nav navbar-nav navbar-footerfont">
                          <li><a href="#">About</a></li>
                          <li><a href="#">How It Works</a></li>
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">Privacy</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4 col-sm-offset-4">
                        <ul class="nav navbar-nav navbar-footerimg">
                          <li class=""><a href="http://www.twitter.com/PEXPlus"><img src="{% static 'flightsearch/img/twtr.png' %}"></a></li>
                <li class=""><a href="http://www.facebook.com/PEXPlus"><img src="{% static 'flightsearch/img/fb.png' %}"></a></li>
                <li class=""><a href="http://www.instagram.com/PEXPlus"><img src="{% static 'flightsearch/img/instgm.png' %}"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
                <div class="footertext">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="footertext-copyright">
                          <div class="text-center hidden-sm hidden-xs hidden-xxs">
                            <p class="">Copyright 2015 PEX+. All Rights Reserved. </p>
                            <p class="alignright pspacerv15t textalignright spacerh15r">Search cheap rewards flights with PEX+ Awards Search. Find the cheapest airline rewards tickets for all top airlines around the world and the top international flight routes. PEX+ Awards Search searches hundreds of travel sites to help you find and book the rewards flight that suits you best.</p>
                            <br />
                          </div>
                          <div class="hidden-lg hidden-md">
                            <p class="">Copyright 2015 PEX+. All Rights Reserved.</p>
                            <p class="alignright pspacerv15t textalignright spacerh15r">Search cheap rewards flights with PEX+ Awards Search. Find the cheapest airline rewards tickets for all top airlines around the world and the top international flight routes. PEX+ Awards Search searches hundreds of travel sites to help you find and book the rewards flight that suits you best.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </footer> 
	</body>
</html>

