{% load staticfiles %} {% include "flightsearch/header.html" %}


<!-- BODY SECTION/-->
<!-- search form/-->

<div class="col-sm-10 col-sm-push-2 col-xs-12 nopadding static-page-jumbo">
	{% include "flightsearch/top_searchbar.html" %}
</div>

<!-- search form/-->
<div class="container-fluid" style="margin-top: 30px;">
	<!-- tabs left -->

	<div class="tabbable tabs-left">

		<div class="">


			<div
				class="col-md-10 col-sm-10 tab-pane  col-xs-12 col-md-push-2 col-sm-push-2 about-content nopadding "
				id="t">
				<!----------- help ------>
				<h5 class="Only-text">Help</h5>
				<div class="content-div pding-cd-help">
					<div class="col-xs-12 nopadding help-tab">
					  <div class="col-sm-6 col-md-6 ">
						<div class="thumbnail">
						  <img src="/static/flightsearch/img/feedback.png" alt="help">
						  <div class="caption">
							<h3>GENERAL FEEDBACK</h3>
							<p>Questions or feedback? Let us know!</p>
							<p><a href="staticPage?action=feedback" class="feedback">SEND FEEDBACK <img src="/static/flightsearch/img/link_arrow_white_right.png" alt="help"></a> </p>
						  </div>
						</div>
					  </div>
					  <div class="col-sm-6 col-md-6">
						<div class="thumbnail">
						  <img src="/static/flightsearch/img/price.png" alt="help">
						  <div class="caption">
							<h3>PRICE ACCURACY</h3>
							<p>Found a price that didn't match up? Tell us.</p>
							<p><a href="staticPage?action=feedback&item=report_problem" class="feedback">REPORT A PROBLEM <img src="/static/flightsearch/img/link_arrow_white_right.png" alt="help"></a> </p>
							<p><a href="staticPage?action=Pricing_policy" class="">PRICING POLICY <img src="/static/flightsearch/img/link_arrow_white_right.png" alt="help"></a> </p>
						  </div>
						</div>
					  </div>
					</div>
				</div>
			</div> <!----------- help ------>
	</div>
		{% include "flightsearch/sidebar-menu.html" %}
	</div>
	<!-- /tabs -->

	<!-- /row -->
</div>

<!-- /container -->
<script>
	var userid = "{{request.session.userid}}";
	var session_user = "{{request.session.username}}";
	console.log(userid);
	console.log(session_user);
	$('.feedback').click(function(){
		if(userid != '' && session_user != '')
		{
			alert("test");
		}
		else{
			$('#login-modal').modal('show');
			$('#signup').removeClass('active');
			$('#signuptab').removeClass('active');
			$('#login').addClass('active');
			$('#logintab').addClass('active');
			$('#loginmsg').empty();
			$('#loginmsg').append("Please login here");
			$('#curl').val("staticPage?action=feedback");
			return false;
		}
		
	});
</script>


{% include "flightsearch/footer.html" %}
