{% extends "flightsearch/base.html" %} {% load customfilter %} {% load staticfiles %} {% load humanize %} {% block content %}
<!-- BODY SECTION/-->
{% include "flightsearch/top_searchbar.html" %}
<script type="text/javascript">
$('.form-side').remove();
$('.flight-search-panel').removeClass('xs-collapse');
</script>
<div class="main-holder container-fluid" style="background-color: #39A8E0">
    <div class="col-md-12">
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/umwxw49sssh2rdm/businessinsider-white.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/bald2w5nx2on334/forbes-white.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/s0gs5ie8izzc10g/gobankingrates-white.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/eynwpm1eerck6yi/fortunewhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/9axn0oqv3xt2wo1/learnvestwhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/kbh8rftn2wo8woe/msnwhite.png?dl=0" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/9pm3j3zhavi2yez/hbjwhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/31fia7g5ywx549c/nasdaqwhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/7km1clv1dr42mzg/rewardscardsdotcomwhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/vg7vnyuinzczxni/timewhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/a0h514rme5xfonu/thefiscaltimeswhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/0ii900fffsvyeh2/yahoofinancewhite.png?dl=0" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/47rtogc4ou3kma2/travellingluxurywhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/g6k2mbwlj91qyob/usatodaywhite.png?dl=0" class="img-responsive" />
        </div>
        <div class="col-sm-4 col-xs-6" style="height: 60px;">
            <img src="https://dl.dropboxusercontent.com/s/4oo63ay21afa87v/timesmoneywhite.png?dl=0" class="img-responsive" />
        </div>
    </div>
</div>

<script>
(function(b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
        function() {
            (b[l].q = b[l].q || []).push(arguments);
        });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r);
}(window, document, 'script', 'ga'));
ga('create', 'UA-XXXXX-X', 'auto');
ga('send', 'pageview');

</script>
<script src="{% static 'flightsearch/js/flight_search.js' %}"></script>
{% endblock %}
