
    	{% include "flightsearch/header.html" %}
    	{% load staticfiles %}
       <title>How It Works | PEX+</title>
	
<!-- BODY SECTION/-->
<!-- search form/-->

<div class="col-xs-12 nopadding">
<nav class="navbar navbar-default cstm-hw-it">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand visible-xs " href="#">Search </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-5">
<div class="col-sm-10 col-sm-push-2 col-xs-12 nopadding static-page-jumbo">
<div class="main-holder container-fluid text-left">
    <div class="col-xs-12 nopadding">
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-xs-12 ">
            	<div class="col-xs-12 pl5 nopadding">
            		{%if message %}
			    	<h4 class"alert-danger">{{message}}</h4>
			    	{%endif%}
              		<h1 class=""><b>Find the best way to travel using your rewards points and miles.</b></h1>
            	</div> 
            </div>
          </div>
        </div>
        <div class="col-xs-12 xs-nopadding nopadding">
        	<div class="col-xs-12 xs-nopadding nopadding">
				<form class="form-horizontal" role="form" action="searchLoadingPage" method="post" >
		        	{% csrf_token %}
			         <div class="col-xs-12 nopadding">
							<div class="container nopadding trip-custome">
								<div class="col-sm-12 col-xs-12 nopadding">
			                <div class="checkbox-inline mhr10px auto-crsr">
			                  <label><input type="radio" id="rt" class="curson" name="trip" value="roundTripBtn" checked="checked"> Round-Trip</label>
			                </div>
			                <div class="checkbox-inline mhr10px auto-crsr">
			                  <label><input type="radio" id="ow" class="curson" name="trip" value="oneWayBtn"> One-Way</label>
			                </div>
			                <div class="checkbox-inline mhr10px auto-crsr">
			                  <label><input type="radio" id="mc" class="curson" value="multicity" name="trip"> Multi-City</label>
			                </div>
			              </div>
			            </div>
			            <div class="container xs-nopadding">
			            <div class="col-sm-12 col-xs-12 nopadding pl5 pd-xs custome-pd">
			              <div class="col-sm-2 col-xs-12 nopl xs-nopadding">
			                <div class="form-group nomr noml" class="ui-widget">
			                  <label class="sr-only" for="from">From:</label>
			                  <input type="search" tabindex="1" class=" form_val form-control" id="from" name="from" placeholder="From" autocomplete="off">
			                  <input type="hidden" id="fromid" name="fromMain" />
			                </div>
			              </div>
			              <div class="col-sm-2 col-xs-12 nopl xs-nopadding">
			                <div class="form-group  nomr noml" class="ui-widget">
			                  <label class="sr-only" for="to">To:</label>
			                  <input type="search" tabindex="2" class="form_val form-control" id="to" name="to" placeholder="To" autocomplete="off">
			                  <input type="hidden" id="toid" name="toMain" />
			                </div>
			              </div>
			              <div class="input-daterange">
			              <div class="col-sm-2 col-xs-6 nopl xs-pr5 mobile-wt">
			
			                <div class="form-group nomr noml nomb no-margin-md-form " id="rmv_nomr">
			                  <label class="sr-only" for="departMain">Departure Date:</label>
			                  <div class="inner-addon left-addon date" id="dp1">
			                      <i class="glyphicon glyphicon-calendar"></i>
			                      <input type="text" tabindex="3" class="form_val form-control curson" id="departMain" placeholder="Depart" name="deptdate" autocomplete="off">
			                  </div>
			                  <div class="form-group" id="deptmsg"></div>
			                </div>
			              </div>
			              <div class="col-sm-2 col-xs-6 xs-nopadding xs-pl5 pd-le-md" id="return">
			                <div class="form-group nomr noml">
			                  <label class="sr-only" for="returnMain">Return Date:</label>
			                  <div class="inner-addon left-addon date" id="dp2">
			                      <i class="glyphicon glyphicon-calendar"></i>
			                      <input type="text" tabindex="4" class="form_val form-control curson" id="returnMain" placeholder="Return" name="returndate" autocomplete="off">
			                  </div>
			                </div>
			              </div>
			              </div>
			              <div class="col-sm-2 col-xs-12 nopadding for_cabin_class" id="cabintab" tabindex="5">
			                <div class="form-group travelers-dpdn-details no-margin" class="ui-widget">
			                  <div class="dropdown travelers-holder form-control ">
			                  	<span class="curson" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="travelar">1 adult, Economy</span> <span class="caret"></span></span>
			                  	<div class="travelers-down-menu dropdown-menu for_cabin_class" aria-labelledby="dropdownMenu1">
			                  		<div class="col-xs-12 down-menu-block">
										<span class="col-xs-4 nopadding">Class</span>
										<span class="col-xs-8 text-right nopr curson"><select class="custom-field-control curson" id="cabintype" name="cabintype" tabindex="6">
											<option class="cabin curson" value="maincabin">Economy</option>
											<option class="cabin curson" value="firstclass">Business</option>
											<option  class="cabin curson" value="business">First</option>
											</select></span>                  			
			                  		</div>
			                  		<div class="col-xs-12 alert alert-warning"> </div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			<p>
										<span class="col-xs-4 nopadding">Adults</span>
										<span class="col-xs-5 text-right nopadding">
											<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
											<input type="text" class="field-width custom-field-control numberHolder qty" value="1" id="adults" tabindex="7">
											<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>								
										</span>
										<span class="col-xs-3 nopr">18+</span> 
										</p>                 			
			                  		</div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			<p>
										<span class="col-xs-4 nopadding">Seniors</span>
										<span class="col-xs-5 text-right nopadding">
											<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
											<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="senior" tabindex="8">
											<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>								
											
										</span>
										<span class="col-xs-3 nopr">65+</span> 
										</p>                 			
			                  		</div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			<p>
										<span class="col-xs-4 nopadding">Youths</span>
										<span class="col-xs-5 text-right nopadding">
											<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
											<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="youth" tabindex="9">
											<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>								
											
										</span>
										<span class="col-xs-3 nopr">12-17</span>  
										</p>                			
			                  		</div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			<p>
										<span class="col-xs-4 nopadding">Children</span>
										<span class="col-xs-5 text-right nopadding">
											<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
											<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="children" tabindex="10">								
											<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>
											
										</span>
										<span class="col-xs-3 nopr">2-11</span>
										</p>                  			
			                  		</div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			<p>
										<span class="col-xs-4 nopadding">Seat infants</span>
										<span class="col-xs-5 text-right nopadding">
											<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
											<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="seatinfants" tabindex="11">								
											<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>
											
										</span>
										<span class="col-xs-3 nopr">under 2</span>  
										</p>                			
			                  		</div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			<p>
										<span class="col-xs-4 nopadding">Lap infants</span>
										<span class="col-xs-5 text-right nopadding">
											<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
											<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="lapinfants" tabindex="12">								
											<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>
											
										</span>
										<span class="col-xs-3 nopr">under 2</span> 
										</p>                 			
			                  		</div>
			                  		<div class="col-xs-12 down-menu-block">
			                  			
			                  				<span class="btn btn-pexSearch" id="apply_traveler">Apply</span>
			                  			
			                  		</div>
			                  		<input type="hidden" id="passenger" name="passenger" value="">
			                  	</div>
			                  </div>
			                </div>
			                
			              </div>
			              <div class="col-sm-2 col-xs-12 xs-nopadding" >
			                <button type="submit" class="form_val btn btn-pexSearch" id="submitid" tabindex="13">Search</button>
			              </div>
			            </div>
			            </div>
			          </div>
			        </form>	        		
        	</div>
        </div>
      </div>
      </div>
      </div>
   </div> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
















<!-- search form/-->











<div class="container-fluid" style="margin-top:30px;">










    <div class="col-md-2 col-sm-2 col-xs-12 nopadding site-bar-menu-css">
	
	
	<nav class="navbar navbar-default">
  <div class="container-fluid nopadding">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nopadding" id="bs-example-navbar-collapse-1">
	
		<div class="menu-site-bar">
		<h2>General</h2>
		 <nav class="nav-sidebar">
			<ul class="nav tabs">
			  <li class=""><a href="#tab2" data-toggle="tab">Getting Started</a></li>
			  <li class=""><a href="#tab3" data-toggle="tab">Sync Your Programs</a></li>                               
			  <li class=""><a href="#tab3" data-toggle="tab">Manage Your Account</a></li>                               
			  <li class=""><a href="#tab3" data-toggle="tab">FAQ</a></li>                               
			</ul>
		</nav>
		</div>
		<div class="menu-site-bar">
		<h2>For Businesses</h2>
		 <nav class="nav-sidebar">
			<ul class="nav tabs">
			  <li class="active"><a href="#tab1" data-toggle="tab">Getting Started</a></li>
			  <li class=""><a href="#tab2" data-toggle="tab">Advertising on PEX+</a></li>                              
			</ul>
		</nav>
		</div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	</div>
	<div class="col-md-10 col-sm-10  col-xs-12 about-content nopadding">
	<h5 style="background:#F0F6FC;margin-bottom:10px;">Getting Started</h5>
		<img src="/static/flightsearch/img/banner-about.jpg" class="img-responsive">
		<!--/ <iframe width="100%" height="315" rc="/static/flightsearch/img/banner-about.jpg" frameborder="0" allowfullscreen></iframe> -->
	 <div class="content-div">
		<p><font size="4"><b>Performing A Flight Search</b></font><br /><br />

		One of the primary functions of PEX+ is to help our users more easily and quickly find their preferred award flight*. Let's walk through the process of doing a flight search.<br />
		*Note: If you're new to loyalty programs and frequent flyer miles, see our guide <a href="http://pexportal.com/blog/Apr-2016/the-beginners-holy-grail-of-frequent-flyer-miles">The Beginner's Holy Grail of Frequent Flyer Miles</a>.
		<ol style="font-size: 14px">
			<li>
			On either the <a href="pexportal.com">homepage</a> or the <a href="pexportal.com/flights">flights page</a>, make sure you see the search form.<br /><br />
			<img src="{% static 'flightsearch/img/searchform.png' %}" width="100%">
			</li><br />
			<li>Select the type of flight you're searching for. You can choose between one-way, round-trip, and multi-city. Each option will change the form fields accourdingly.</li><br />
			<li>Enter your search into the appropriate fields. Note that as you're entering your city or airport code into each of the appropriate form field(s), a dropdown with options will display under each corresponding form field. You must select the appropriate airport or city option from the dropdown.<br /><br />
			<img src="{% static 'flightsearch/img/gettingstarteddropdown.png' %}" width="100%"><br /><br />
			There's a calendar dropdown for selecting each, departing and returning dates.<br /><br />
			<img src="{% static 'flightsearch/img/gettingstartedcalendardropdown.png' %}" width="100%">
			</li><br />
			<li>The default selected fare class is economy (aka. coach) and the default number of passengers selected is one adult. If you need to change the fare class and/or the number of travelers, select the form field to display the dropdown of options.<br /><br />
			<center><img src="{% static 'flightsearch/img/gettingstartedfareclasspassengerdropdown.png' %}" width="50%"></center><br /><br />
			Then select your fare class and add the appropriate number of passengers. Once you've finished this, click or press the apply button to apply these changes to your search.
			</li><br />
			<li>Select whether you want to perform an exact date search or a flexible date search and then click the search button.</li><br />
		</ol><br />
		Upon initiating your search, you'll be taken to the search results page. You will see a search loading popup to let you know your search results are loading; this will disappear in approximately fifteen seconds. While you wait, you're welcome to sign-up for an email notification from us for when the price decreases for your flight as well as sign up for our newsletter.<br /><br />
		<img src="{% static 'flightsearch/img/gettingstartedsearchloading.png' %}" width="100%"><br /><br />
		Once the search loading pop-up disappears after the fifteen seconds, you'll be able to browse through your search results and use the filters to narrow down your flight options. All search result options are live and if you see the option it's available with the corresponding airline.<br /><br />
		<img src="{% static 'flightsearch/img/gettingstartedflightresults.png' %}" width="100%"><br /><br />
		If you want a quick overview of the lowest available award prices for each fare class for your flight search, lick on the price matrix link.<br /><br />
		<center><img src="{% static 'flightsearch/img/gettingstartedflightmatrix.png' %}" width="50%"></center><br /><br />
		If you performed a flexible date search ("flex search") you can click on the award availability calendar to view award availability for your search from all of the airlines we currently offer.<br /><br />
		<center><img src="{% static 'flightsearch/img/gettingstartedavailibilitycal.png' %}" width="50%"></center><br /><br />
		To know which airline's mileage currency to use for a flight option, let the airline logos be your guide. In the below example, we have a flight from New York to Beijing. The flight is operated by Air China. However, the logo displayed is United Airlines. Therefore, this search result is a United codeshare flight with Air China and the price displayed is in United MileagePlus frequent flyer miles. The dollar price displayed is the total taxes, surcharges, and fees for purchasing this flight - all dollar prices are in, or converted to, U.S. dollars.<br /><br />
		<img src="{% static 'flightsearch/img/gettingstartedflightresultex.png' %}" width="100%"><br /><br />
		</p>
		<p><font size="4"><b>Flight Search Pricing</b></font><br /><br />
		PEX+ offers a freemium pricing structure for flight searches as follows:<br /><br />
		<u>Non-PEX+ Account Holder</u> Daily free search limit of three searches.<br /><br />
		<u>Free PEX+ Account Holder</u> Daily free search limit of ten searches. PEX+ account holders must be logged in to receive their extra free searches - otherwise logged-out free account holders are subject to the same daily limit of non-PEX+ account holders. In addition to more free daily searches, logged-in free PEX+ account holders have access to the price alerts tool and loyalty program balance syncing.<br /><br />
		If you're a power user that needs additional flight searches, please consider upgrading to a paid PEX+ account. <a href="http://pexportal.com/staticPage/contact_us">Contact us</a> for more details on how to upgrade to a paid PEX+ account. 
		</p>
		<br /><br /><br />
		<p><font size="4"><b>Performing A Hotel Search</b></font><br /><br />

		Another valuable function of PEX+ is to help our users more easily and quickly find their preferred hotel stay*. Let's walk through the process of doing a hotel search.<br />
		<ol style="font-size: 14px">
			<li>On either the <a href="pexportal.com/hotels">hotels page</a>, make sure you see the search form.<br /><br />
			<img src="{% static 'flightsearch/img/hotelsearchform.png' %}" width="100%">
			</li><br />
			<li>Enter your search into the appropriate fields. Note that as you're entering your city, airport code, or U.S. postal code into the "Where To" text field, a dropdown with options will display under the form field. You must select the appropriate option from the dropdown.<br /><br />
			<center><img src="{% static 'flightsearch/img/gettingstartedhoteldropdown.png' %}" width="50%"></center><br /><br />
			There's a calendar dropdown for selecting each, check-in and check-out dates.<br /><br />
			<center><img src="{% static 'flightsearch/img/gettingstartedhotelcalendardropdown.png' %}" width="50%"></center>
			</li><br />
			<li>The default selected number of guests is one and number of rooms is one. If you need to change the number of guests and/or the number of rooms, select each form field to display their dropdowns and change them.
			Once you've completed this, click or press the search button. 
			</li><br />
		</ol>
		Upon initiating your search, you'll it will take up to thirty seconds for the search results to appear (you will see your browser working). Once the search results load, you'll be able to browse through your search results and use the filters to narrow down your hotel options. All search result options are live and if you see the option it's available with the corresponding hotel.<br /><br />
		<img src="{% static 'flightsearch/img/gettingstartedhotelresults.png' %}" width="100%"><br /><br />
		If you want a quick overview of the lowest available award and dollar prices for each hotel chain, click on the price matrix link.<br /><br />
		<center><img src="{% static 'flightsearch/img/gettingstartedhotelmatrix.png' %}" width="50%"></center><br /><br />
		You can also view a map with the hotel locations in the surrounding area of your search. You can hide this map by clicking on the hide map link.<br /><br />
		<center><img src="{% static 'flightsearch/img/gettingstartedhotelmap.png' %}" width="50%"></center><br /><br />
		When you've selected the hotel you'd like to book, click on the "Book With Points" button to book with points or "Book With Dollars" to book with dollars. Note that all dollar prices are in, or converted to, U.S. dollars.<center><img src="{% static 'flightsearch/img/gettingstartedhotelbooking.png' %}" width="50%"></center><br /><br />
		</p>
	 </div>
	 
	</div>
	
 </div>    
    
    <!-- /container -->
    


{% include "flightsearch/footer.html" %}
    
	<script>
	
		$('#mc').click(function() {
			var location = "flights?action=mc";
			window.location.href = location;
		});
		
		
	</script>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>');</script>
	
    <script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>
   
    
   <!-- <script src="{% static 'test1/js/main.js' %}"></script> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments);});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r);}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        
        $( "#cabintab" ).focus(function(){
		$(".travelers-holder").addClass('open');
		return false;
	});
	$( "#cabintab" ).click(function(){
		$(".travelers-holder").addClass('open');
		return false;
	});
	
	$(".form_val").focus(function(){
		if(!$(this).hasClass("cabin_type")){ $(".travelers-holder").removeClass('open'); }
	});
	
	$('#apply_traveler').click(function(){
		$(".travelers-holder").removeClass('open');
	});

    </script>
    <script>
    $("#submitid").click(function(event) {
    	if($('#from').val().length<1)
    	{
    		//$('#frommsg').append("Please enter the Source field");
    		$('#from').focus();
    		event.preventDefault();
    	} 
    	if($('#to').val().length<1)
    	{
    		$('#to').focus();
    		event.preventDefault();	
    	}
    	if($('#departMain').val().length<1)
    	{
    		$('#departMain').focus();
    		event.preventDefault();	
    	}
				
    });
    $(document).ready(function(){
    	if($("#ow").prop('checked') == true){
    			$("#return").hide();
    			
    		}
    		else
    		{
    			$("#return").show();
    		}
    		if($("#rt").prop('checked') == true){
    			$("#return").show();
    		}
    });
    	$("#ow").click(function(){
    		if($("#ow").prop('checked') == true){
    			$("#return").hide();
    			$('.mobile-wt').removeClass('col-xs-6 xs-pr5');
    			$('.mobile-wt').addClass('col-xs-12');
    			$('#rmv_nomr').removeClass('nomr');
    			
    		}
    		else
    		{
    			
    			$("#return").show();
    		}
    		
    	});
    	$("#rt").click(function(){
    		if($("#rt").prop('checked') == true){
    			$("#return").show();
    			$('.mobile-wt').removeClass('col-xs-12');
    			$('.mobile-wt').addClass('col-xs-6 xs-pr5');
    			$('#rmv_nomr').addClass('nomr');
    		}
    		else
    		{
    			$("#return").hide();
    		}
    		
    	});
    	
    $(function() {
    
    $( "#from" ).autocomplete({
  		 open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
		autoFocus: true,
    	source: "/get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#fromid').val(ui.item.id);
    	},
    });
    $( "#to" ).autocomplete({
  		open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},

		autoFocus: true,
    	source: "/get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#toid').val(ui.item.id);
    	},
    });
  });
    	
    </script>
    <script>
    
	 $(function(){
	 	/*	$('#returnMain').datetimepicker({format: 'm/d/Y','timepicker': false,closeOnDateSelect: true,scrollMonth: false,defaultSelect: false,});
            $('#departMain').datetimepicker({ format: 'm/d/Y',minDate: 0,'timepicker': false,closeOnDateSelect: true,scrollMonth:false,defaultSelect: false,
                        onSelectDate: function(selectedDate)
                        {
                                $("#returnMain").focus();
                                $( "#returnMain" ).datetimepicker({format: 'm/d/Y', minDate: selectedDate, });
                        }
               });
               */
               $('#departMain').datepicker(
               	{

               		minDate: 0,
               		onSelect: function()
               		{
               			setTimeout(function function_name (argument) {
							 $('#returnMain').focus();
						   },200);
               			
               		},
               		  onClose: function(selectedDate) {
        					// Set the minDate of 'to' as the selectedDate of 'from'
        						$("#returnMain").datepicker("option", "minDate", selectedDate);
    					}
               	}
               	
               );
              $('#returnMain').datepicker({
              		minDate:0,
              		onSelect: function()
               		{
               		/*	setTimeout(function function_name (argument) {
							 $('#cabintab').focus();
						   },50);
               			*/
               		},
              	
              	}) ;
       });


var total;
//@@increase decrease on buttom click
    $(function () {
    $('.add').on('click',function(){
    	total = tatalpassenger();
    	if(total < 6 )
    	{
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal)) {
            $qty.val(currentVal + 1);
        }
        travelinfo();
       }
    });
    $('.minus').on('click',function(){
    	total = tatalpassenger();
    	if(total > 0){
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $qty.val(currentVal - 1);
        }
        
        travelinfo();
       }
    });
    
});
$('#cabintype').on('change',function(){
	travelinfo();
});

$(document).ready(function(){
	$('#passenger').val('1');
	$(".alert-warning").hide();
});
//@@@Cabin select@@@@
function travelinfo(){
	total = tatalpassenger();
	$('#passenger').val(total);
	var text;
	if(total == 1){
		text = "traveler";
	}
	else{
		text = "travelers";
	}
	var selectedcabin = $("#cabintype option:selected").text();
	var html = "<span id='travelar'>"+total+" "+text+", "+selectedcabin+"</span>";
	$('#travelar').replaceWith(html);
	if(total == 0){
		var msg='';
		$('#submitid').prop('disabled', true);
		$(".alert-warning").empty();
		msg="You must select atleast one traveler";
		$(".alert-warning").append(msg);
		$(".alert-warning").show();
	}
	else{
		$('#submitid').prop('disabled', false);
		$(".alert-warning").hide();
	}
}
//@@@Total Passenger@@@@
function tatalpassenger() {
var sum = 0;
$('.numberHolder').each(function(){
    sum += parseFloat($(this).val());
});
return sum;
};
 
//@@not close on click dropdown

  $('.dropdown-menu .down-menu-block').click(function(e) {
        e.stopPropagation();
    });
    
    </script>
