		{% load staticfiles %}
		{% include "flightsearch/header.html" %}
	    <div class="container form-cstm-mng" style="">
	    	
		<div class="col-xs-12 col-sm-9  bkcl mng-act" style="">
			{% if message %}
			<div class="alert alert-warning">{{message}}</div>
			{% endif %}
		<form action="manageAccount" method="post" class="form-group" id="manageform">
			{% csrf_token %}
		  <div class="form-group">
		    <label  for="email">Email address</label> 	
		    <input type="text" class="form-control" id="email" placeholder="Email" name="email" value="{{request.session.username}}" required>
		  </div>
		 	{% if issocial == '' %}
			  <div class="form-group">
			    <label  for="current_password">Password</label> <a href="#" id="change_password"><span id="change">Change<span></a>
			    <input type="password" class="form-control" id="password" placeholder="Current Password" name="current_password" value="{{user.password}}" disabled required>
			  </div>
			{% endif %}
			<div {% if issocial == '' %}id="password_div" {% endif %}>
			  <div class="form-group">
			    <label  for="new_password">New Password</label> 
			    <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="new_password" required>
			  </div>
			  <div class="form-group">
			    <label  for="new_password">Confirm Password</label>
			    <input type="password" class="form-control" id="confirm_password" placeholder="confirm Password" name="confirm_password" required>
			  </div>
		  </div>
		  <div class="form-group">
		    <label  for="Home_airport">Home Airport</label>
		    <input type="search" class="form-control" id="airport" name="home_airport" value="{{user.home_airport}}"  required>
		  </div>
		  <!--
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" name="active"> Active
		    </label>
		  </div>
		  -->
		  <button type="submit" class="btn btn-pexSearch" id="update">Update</button> <a href="index"> <span type="submit"  class="btn btn-pexSearch">Cancel</span></a>
		</form>
		</div>
		</div>
		<div class="">
	{% include "flightsearch/footer.html" %}
	</div>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>');</script>
	
    <script src="/static/flightsearch/js/vendor/bootstrap.min.js"></script>
	<script>
	$('#back').click(function(){
		parent.history.back();
	});
	
	
		$( "#airport" ).autocomplete({
  		 open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
		autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    });
    $('#update').click(function(){
		if ($('#newpassword').is(':hidden')){
			$('#newpassword').prop("disabled", true);
			$('#confirm_password').prop("disabled", true);
		}
    });
    
    var activePassword = "{{request.session.password}}";
    $('#password_div').hide();
    $('#change_password').click(function(){
    	$('#password_div').toggle();
    	
    	if($('#change_password').text() == "Change")
    	{
    		$('#change_password').text('Cancel');
    		$('#password').val('');
    		$('#password').prop("disabled", false);
    	}  
    	else{
    		$('#change_password').text('Change');
    		$('#password').val(activePassword);
    		$('#password').prop("disabled", true);
    	}
    	/*
    	$('#password_div').show();
    	$('#password').val('');
    	$('#password').prop("disabled", false);
    	*/
    	
    });
	</script>
	<script>
		$('#confirm_password').change(function(e){
		  if ($('#confirm_password').val() !=  $('#newpassword').val())
		  {
		  	
		  	alert("password missmatch");
		  	$('#newpassword').val('');
		  	$('#newpassword').focus();
		  	e.preventDefault();
		  	
		  }
		});
		
	</script>
	
	
