		{% load staticfiles %}
		{% load humanize %}
		{% include "flightsearch/header.html" %}
		{% include "flightsearch/top_searchbar.html" %}
	    <div class="col-xs-12 nopadding manage-account">
		<div class="container">
			<div class="col-xs-12 nopadding">
				<div id="hello" title="Hello  World!"> </div>
				<div class="col-xs-12 account-block-bg" id="infodiv">
				<!--	<h4 class="pull-right mhl15px"><a href="#">Change Password</a></h4> -->
					<h2 class="title">Your Account Information <a href="#" class="pull-right editinfo" id="accountinfo">Edit</a></h2>
					<div class="col-xs-12 nopadding">
					<div class="col-sm-6 col-xs-12 nopadding">
						<dl class="dl-horizontal">
							<dt>First Name:</dt>
							<dd>{%if user.firstname%} {{user.firstname|title}} {%endif%}</dd>
							<dt>Middle Name:</dt>
							<dd>{%if user.middlename%} {{user.middlename|title}} {%endif%}</dd>
							<dt>Last Name:</dt>
							<dd>{%if user.lastname%} {{user.lastname|title}} {%endif%}</dd>
							<dt>Date of Birth:</dt>
							<dd>{%if user.date_of_birth%} {{user.date_of_birth}} {%endif%}</dd>
							<dt>Gender:</dt>
							<dd>{%if user.gender%} {{user.gender|title}} {%endif%}</dd>
						</dl>
					</div>
					<div class="col-sm-6 col-xs-12 nopr xs-nopadding">
						<dl class="dl-horizontal">
							<dt>Address:</dt>
							<dd>
								{%if user.address1%}{{user.address1|title}}{%endif%}{%if user.address2%},<br>{{user.address2|title}}{%endif%}
								{%if user.city%}, {{user.city|title}}{%endif%}{%if user.state%}<br> {{user.state|title}}{%endif%}{%if user.zipcode%} - {{user.zipcode|title}}{%endif%}
							</dd>
							<dt>Country:</dt>
							<dd>{%if user.country%}{{user.country|title}}{%endif%}</dd>
							<dt>Phone:</dt>
							<dd>{%if user.phone%}{{user.phone}}{%endif%}</dd>
							<dt>Email:</dt>
							<dd>{%if user.email%}{{user.email}}{%endif%}</dd>
						</dl>
						
					</div>
				</div>
				</div>
				<div class="col-xs-12 account-block-bg edit" id="edit_infodiv">
				<form method="post" action="manageAccount">
				<h2 class="title">Your Account Information <span class="hidden-xs"> <span class="btn btn-link pull-right cancel_info" id="">Cancel</span> <button type="submit" class="btn btn-link pull-right saveinfo">Save</button></span></h2>
				<div class="col-xs-12 nopadding" >
				
					{% csrf_token %}
					<div class="col-sm-5 col-xs-12 nopl xs-nopadding">
						<dl class="dl-horizontal" >
							<dt>First Name:</dt>
							<dd><input type="text" class="form-control" name="firstname" {%if user.firstname%} value="{{user.firstname|title}}" {%endif%}></dd>
							<dt>Middle Name:</dt>
							<dd><input type="text" class="form-control" name="middlename" {%if user.middlename%} value="{{user.middlename|title}}" {%endif%}></dd>
							<dt>Last Name:</dt>
							<dd><input type="text" class="form-control" name="lastname" {%if user.lastname%} value="{{user.lastname|title}}" {%endif%}></dd>
							<dt>Date of Birth:</dt>
							<dd><input type="text" class="form-control" id="dob" name="dateofbirth" {%if user.date_of_birth%} value="{{user.date_of_birth|date:'Y-m-d'}}" {%endif%}></dd>
							<dt>Gender:</dt>
							<dd><input type="text" class="form-control" name="gender" {%if user.gender%} value="{{user.gender|title}}" {%endif%}></dd>
							
						</dl>
					</div>
					<div class="col-sm-5 col-sm-push-1 col-xs-12 nopr xs-nopadding">
						<dl class="dl-horizontal">
							<dt>Address1:</dt>
							<dd><input type="text" class="form-control" name="address1" {%if user.address1%} value="{{user.address1}}"{%endif%}> </dd>
							<dt>Address2:</dt>
							<dd><input type="text" class="form-control" name="address2" {%if user.address2%} value="{{user.address2}}" {%endif%}></dd>
							<dt>City:</dt>
							<dd><input type="text" class="form-control" name="city" {%if user.city%} value="{{user.city}}" {%endif%}></dd>
							<dt>State/Province:</dt>
							<dd><input type="text" class="form-control" {%if user.state%} value= "{{user.state}}" {%endif%} name="state"></dd>
							<dt>Zipcode:</dt>
							<dd><input type="number" class="form-control" {%if user.zipcode%} value= "{{user.zipcode}}" {%endif%} name="zipcode"></dd>
							<dt>Country:</dt>
							<dd><input type="text" class="form-control" name="country" {%if user.country%} value="{{user.country|title}}" {%endif%}></dd>
							<dt>Phone:</dt>
							<dd><input type="text" class="form-control" name="phone" {%if user.phone%} value="{{user.phone}}" {%endif%}></dd>
							<dt>Email:</dt>
							<dd><input type="email" class="form-control" name="email" {%if user.email%} value="{{user.email}}" {%endif%}><br><a href="#" id="password_change">Change Password</a></dd>
						</dl>
						<!--
						<dl class="dl-horizontal password_block edit">
							
							<dt>Current Password:</dt>
							<dd><input type="password" class="form-control pass" name="current_password"/></dd>
							<dt>New Password:</dt>
							<dd><input type="password" class="form-control pass" name="new_password"/></dd>
							<dt>confirm Password:</dt>
							<dd><input type="password" class="form-control pass" name="new_password"/></dd>
						</dl>
						-->
					</div>
					
					<div class="col-xs-12 nopadding visible-xs">
						<button type="submit" class="btn btn-pexSearch saveinfo">Save</button>
						<span class="btn btn-pexSearch cancel_info" id="">Cancel</span>
                   </div>

				</form>
				</div>
				</div>
				<div class="col-xs-12 account-block-bg" id="prefrenceinfo">
					<h2 class="title">Your Account Prefrences <a href="#" class="pull-right" id="prefrence">Edit</a></h2>
					<div class="col-xs-12 nopadding">
						<div class="col-sm-6 col-xs-12 nopl">
							<dl class="dl-horizontal">
								<dt>Home Airport:</dt>
								<dd>{%if user.home_airport%}{{user.home_airport}}{%endif%}</dd>
								<dt>Subscriptions:</dt>
								<dd>None<br><a href="#">Sign-up for PEX+updates</a></dd>
							</dl>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 account-block-bg edit" id="edit_prefrenceinfo">
					<form action="manageAccount" method="post">
					<h2 class="title">Your Account Prefrences <span class="hidden-xs"><span class="btn btn-link pull-right cancel_preference">Cancel</span> <button type="submit" class="btn btn-link pull-right">Save</button></span> </h2>
					<div class="col-xs-12 nopadding">
						<div class="col-sm-5 col-xs-12 nopl">
							<dl class="dl-horizontal" >
								
									{% csrf_token %}
									<dt>Home Airport:</dt>
									<dd><input type="text" class="form-control" id="airport" name="home_ariport" {%if user.home_airport%} value="{{user.home_airport|title}}" {%endif%}></dd>
									<dt>Subscriptions:</dt>
									<dd>None<br><a href="#">Sign-up for PEX+updates</a></dd>
									
							</dl>
							<span class="visible-xs">
									<button type="submit" class="btn btn-pexSearch">Save</button>
                                    <span class="btn btn-pexSearch cancel_preference" id=""> Cancel</span>
								</span>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$('.edit').hide();
		});
		$('#prefrence').click(function(){
			$('#edit_prefrenceinfo').show();
			$('#prefrenceinfo').hide();
			
		});
		$('#accountinfo').click(function(){
			$('#edit_infodiv').show();
			$('#infodiv').hide();
			
		});
		$('.cancel_info').click(function(){
			$('#edit_infodiv').hide();
			$('#infodiv').show();
			
		});
		$('.cancel_preference').click(function(){
			$('#edit_prefrenceinfo').hide();
			$('#prefrenceinfo').show();
			
		});
		
		$('#password_change').click(function(){
			
			//$(".password_block").show();
			$.ajax({
		 	type: "POST",
		 	//dataType: "text",
		 	url: "forgotPassword",
		 	data: "&csrfmiddlewaretoken={{ csrf_token }}"+"&email="+encodeURI("jk.dhn2010@gmail.com"),
		 	success: function(data){
		 		$( "#hello" ).empty();
		 		$( "#hello" ).append(data);
				}
			});
		}); 
		$('.saveinfo').click(function(){
			if ($('.password_block').is(':hidden')){
			$('.pass').prop("disabled", true);
			//$('#confirm_password').prop("disabled", true);
		}
		});
	</script>
	<script>
		$('#dob').datepicker({ dateFormat: 'yy-mm-dd' });
		$( "#airport" ).autocomplete({
  		 open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
		autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	appendTo:".modelform",
    });
	</script>
	{% include "flightsearch/footer.html" %}
	
	
	
	
