<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% load staticfiles %}
		{% load humanize %}
		<title>Admin|manage_image</title>
		<link rel="apple-touch-icon" href="{% static 'flightsearch' %}/apple-touch-icon.png">
        <link rel="shortcut icon" type="image/ico" href="{% static 'flightsearch' %}/favicon.ico"/>
        <link rel="stylesheet" href="{% static 'flightsearch/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'flightsearch/js/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'flightsearch/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'flightsearch/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'flightsearch/css/fileinput.css' %}">
		<script src="{% static 'flightsearch/js/jquery-2.1.4.min.js' %}"></script>

	</head>
	<body>
		
		<div class="container-fluid" >
			<div class="col-xs-12 nopadding" style="margin-top: 10px;">
				<div class="col-xs-12 text-right" >
					
				{% if 'admin' in request.session %}		
					<a href="#">{{request.session.admin}}</a> |
					<a  href="adminlogout">Logout</a>
					
				{%endif%}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-x-12 col-md-8" style="margin-top: 50px">
				<div>
					<h4><b><u>Manage Image</u></b></h4>
				</div>
				<form class="form-horizontal" id="imageform" action="manage_adimage" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				 <div class="form-group">
				 	{%if imageobj.ad_id %}
				 		<input type="hidden" name="imageid"  value="{{imageobj.ad_id}}">
				 	{%endif%}
				    <label for="ad_code" class="col-sm-2 control-label">Page Option</label>
				    <div class="col-sm-10">
				    	<select name="ad_code" class="form-control">
				    		<option value="global" {%if imageobj.ad_code and imageobj.ad_code == 'global' %} selected='selected' {%endif%}>Global</option>
				    		<option value="index" {%if imageobj.ad_code and imageobj.ad_code == 'index' %} selected='selected' {%endif%}>Index</option>
				    		<option value="blog" {%if imageobj.ad_code and imageobj.ad_code == 'blog' %} selected='selected' {%endif%}>Blog </option>
				    		<option value="flight result" {%if imageobj.ad_code and imageobj.ad_code == 'flight result' %} selected='selected' {%endif%}>Flight Result</option>
				    	</select>
				      
				    </div>
				  </div>	
				  <div class="form-group">
				    <label for="image" class="col-sm-2 control-label">Google Code</label>
				    <div class="col-sm-10">
				      <!--<input type="file" class="form-control" name="image">-->
				      <input  type="text" class="form-control" name="google_code" {%if imageobj.google_code %} value="{{imageobj.google_code}}"{%endif%}/>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="image" class="col-sm-2 control-label">Select Ad Image</label>
				    <div class="col-sm-10">
				      <!--<input type="file" class="form-control" name="image">-->
				      <input id="file-1" type="file" multiple="true" data-preview-file-type="any" name="image[]" />
				      <input type="hidden" name="img_path" id="doc" />
				    </div>
				  </div>
				  
				  
				  
				  
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" id="uploadid" class="btn btn-pexSearch">Save</button>
				    </div>
				  </div>
				  <div id="data_uploader" style="display: none">
					<label style="height: 10px; width: 400px;"> <span> Image
						uploading..! Please wait. </span> <img
					src="{% static 'flightsearch/img/bx_loader.gif' %}" />
					</label>
				</div>
				</form>
				
		</div>
		
	</div>
	<script src="{% static 'flightsearch/js/jquery.form.js' %}"></script>
	<script src="{% static 'flightsearch/js/fileinput.js' %}"></script>
	<script>
$(function(){
$("#file-1").change(function() { 
	uploadfile();
});
});
//class="close 
$( document ).on( 'click', '.fileinput-remove', function () {

	$("#data_uploader").hide();
	$("#uploadid").removeAttr("disabled") ;
	$("#doc").val('');
});


$("#file-1").fileinput({
    overwriteInitial: false,
    maxFileSize: 1000,
    maxFilesNum: 10,
    allowedFileTypes: ['image']
});
</script>
<script>
function uploadfile()
{ 
	$("#data_uploader").show();
	$("#uploadid").attr("disabled","disabled");
	$("#imageform").ajaxSubmit({
		url : 'manage_adimage/',
		type : 'post',
		success : function(response) {
			console.log(response.length);
			var imagePath='';
			var staticpath = '/static/flightsearch/uploads/';
			var seperater='';
			for(var i = 0 ; i < response.length ; i++)
		    {
	               imagePath +=seperater+staticpath+ response[i];
	               seperater='|';
	        }
			$("#doc").val(imagePath);
			$("#data_uploader").hide();
			$("#uploadid").removeAttr("disabled") ;
		}
	});
}


</script>

<script>

$("#uploadid").click(function(event){
	if($("#doc").val() == '')
	{
		bootbox.alert("Please select image");
		event.preventDefault();
		return false;
	}
});

</script>


	</body>
	</html>