{% extends "flightsearch/base.html" %}
{% load staticfiles %}
{% block content %}

    <title> {% block title %}{{ category_name }}{% endblock %}</title>
    <style>
    .add,
    .minus {
        padding: 5px 8px;
    }
    </style>
    <div class="main-holder">
        <div class="col-xs-12 nopadding">
            <div class="container">
                <div class="col-xs-12 nopadding">
                    <div class="col-xs-12 nopadding">
                        {%if message %}
                        <h4 class "alert-danger">{{message}}</h4> {%endif%}
                        <h1 class="">Find the best way to travel using your rewards points and miles.</h1>
                        <form class="form-inline">
                            <div class="col-xs-12 nopadding">
                                <div class="checkbox-inline nopl mhr10px">
                                    <label>
                                        <input type="radio" id="rt" name="trip" value="roundTripBtn"> Round-Trip</label>
                                </div>
                                <div class="checkbox-inline mhr10px">
                                    <label>
                                        <input type="radio" id="ow" name="trip" value="oneWayBtn"> One-Way</label>
                                </div>
                                <div class="checkbox-inline mhr10px">
                                    <label>
                                        <input type="radio" id="mc" value="multicity" name="trip" checked="checked"> Multi-City</label>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding mvt10px mvb10px">
                                <div class="form-group nomr noml" class="ui-widget">
                                    <label class="sr-only" for="from">From:</label>
                                    <input type="search" tabindex="1" class=" form_val form-control" id="from" name="from" placeholder="From" autocomplete="off">
                                    <input type="hidden" id="fromid" name="fromMain" />
                                </div>
                                <div class="form-group  nomr noml" class="ui-widget">
                                    <label class="sr-only" for="to">To:</label>
                                    <input type="search" tabindex="2" class="form_val form-control" id="to" name="to" placeholder="To" autocomplete="off">
                                    <input type="hidden" id="toid" name="toMain" />
                                </div>
                                <div class="form-group nomr noml">
                                    <label class="sr-only" for="departMain">Departure Date:</label>
                                    <div class="inner-addon left-addon date" id="dp1">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <input type="text" tabindex="3" class="form_val form-control" id="departMain" placeholder="Depart" name="deptdate" autocomplete="off">
                                    </div>
                                    <div class="form-group hide" id="deptmsg"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form_val btn btn-pexSearch" id="submitid" tabindex="13">Search</button>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding mvt10px mvb10px">
                                <div class="form-group nomr noml" class="ui-widget">
                                    <label class="sr-only" for="from">From:</label>
                                    <input type="search" tabindex="1" class=" form_val form-control" id="from" name="from" placeholder="From" autocomplete="off">
                                    <input type="hidden" id="fromid" name="fromMain" />
                                </div>
                                <div class="form-group  nomr noml" class="ui-widget">
                                    <label class="sr-only" for="to">To:</label>
                                    <input type="search" tabindex="2" class="form_val form-control" id="to" name="to" placeholder="To" autocomplete="off">
                                    <input type="hidden" id="toid" name="toMain" />
                                </div>
                                <div class="form-group nomr noml">
                                    <label class="sr-only" for="departMain">Departure Date:</label>
                                    <div class="inner-addon left-addon date" id="dp1">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <input type="text" tabindex="3" class="form_val form-control" id="departMain" placeholder="Depart" name="deptdate" autocomplete="off">
                                    </div>
                                    <div class="form-group hide" id="deptmsg"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding mvt10px mvb10px addmore">
                                <div class="form-group nomr noml" class="ui-widget">
                                    <label class="sr-only" for="from">From:</label>
                                    <input type="search" tabindex="1" class=" form_val form-control" id="from" name="from" placeholder="From" autocomplete="off">
                                    <input type="hidden" id="fromid" name="fromMain" />
                                </div>
                                <div class="form-group  nomr noml" class="ui-widget">
                                    <label class="sr-only" for="to">To:</label>
                                    <input type="search" tabindex="2" class="form_val form-control" id="to" name="to" placeholder="To" autocomplete="off">
                                    <input type="hidden" id="toid" name="toMain" />
                                </div>
                                <div class="form-group nomr noml">
                                    <label class="sr-only" for="departMain">Departure Date:</label>
                                    <div class="inner-addon left-addon date" id="dp1">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <input type="text" tabindex="3" class="form_val form-control" id="departMain" placeholder="Depart" name="deptdate" autocomplete="off">
                                    </div>
                                    <div class="form-group hide" id="deptmsg"></div>
                                </div>                            
                            </div>
                            <span class="btn btn-pexSearch add_field_button"> Add Another Flight</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'flightsearch/js/multicity.js' %}"></script>
{% endblock %}
