{% load staticfiles %}
{% load humanize %}
		{% include "flightsearch/header.html" %}
	    <div class="form-cstm-mng" style="">
	    <h3 class="text-center">My Reward Points</h3>
		<div class="col-xs-12 col-sm-9 mng-act">
			
			
			{% if message %}
			<div class="alert alert-warning">{{message}}</div>
			{% endif %}
			<div class="mvb60px">
			<div class="col-xs-9">
				<table>
					
				<tr><td class="pr30"><b><u>Airlines</u></b></td><td><b><u>Reward Points</u></b></td></tr>
				{% if points %}
				{% for row in points%}	
					<tr><td class="pr30">{{row.3|title}}</td><td>{{row.2}} miles</td></tr>
				{% endfor %}
				{% endif %}	
			<!--
				<tr><td class="pr30">Delta</td><td>0 miles</td></tr>	
				<tr><td class="pr30">Virgin Atlantic</td><td>0 miles</td></tr> -->
			</table>
			
			</div>
			<div class="col-xs-3 text-right">
				<button class="btn btn-pexSearch" id="add_account">Add Account</button>
			</div>
			
			</div>
				
		<form class="form-inline" id="addaccount" style="padding-top: 100px" method="post" action="myRewardPoint">
		  {% csrf_token %}
		  <div class="form-group pr30">
		    <label for="username">User Number</label>
		    <input type="text" name="username" class="form-control" id="" placeholder="USERNAME" required>
		  </div>
		  <div class="form-group pr30">
		    <label for="password">Password</label>
		    <input type="password" name="password" class="form-control" id="" placeholder="PASSWORD" required>
		  </div>
		  <div class="form-group pr50">
		    <label for="password">Select Airline</label>
		    <select name="airline">
		    	<option value="">Select Airline</option>
		    	<option value="delta">Delta</option>
		    	<option value="united">United</option>
		    	<option value="etihad">Etihad</option>
		    	<option value="virgin">Virgin Atlantic</option>
		    </select>
		  </div>
		  <button type="submit" class="btn btn-pexSearch">Sync</button>
		</form>
		</div>
		
			
		</div>
		
		<div class="">
	{% include "flightsearch/footer.html" %}
	</div>
	<script>
		$(document).ready(function(){
			$('#addaccount').hide();		
		});
		$('#add_account').click(function(){
			 if ($(this).text() == "Add Account") 
			  { 
			  	$('#addaccount').show();
			     $(this).text("Cancel"); 
			  } 
			  else 
			  { 
			     $(this).text("Add Account"); 
			     $('#addaccount').hide();
			  }; 
		});
	</script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>');</script>
    <script src="/static/flightsearch/js/vendor/bootstrap.min.js"></script>
    