{% load staticfiles %}
		{% load humanize %}
		<title>Admin|Ad-image</title>
		
		{% include "flightsearch/admin-header.html" %}
		<div class="container nopadding">
		<div class="col-xs-12 col-md-12 nopadding" style="margin-top: 50px">
			{% include "flightsearch/admin-sidebar.html" %}
			<div class="col-xs-12 col-md-10 content-block" >
				<div>
				<h4><b><u>Ad Images Listing </u></b></h4>
				
				</div>
				{%if 'msg' in request.GET %}
				<h5 class="alert alert-success">{{request.GET.msg}}</h5>
				{% endif %}
				<div class="table-responsive">
				<!--	
				<a href="manage_adimage?action=add" class="pull-right pr10"><button class="btn btn-pexSearch"> Add Image </button></a>
				-->
				<table class="table table-responsive table-striped">
					<thead>
						<tr>
						<th>Page Name</th>
						<th>Page Url</th>
						<th>Top Content</th>
						<th>Content</th>
						<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{%if pagelist %}
						{%for obj in pagelist %}
						<tr>
							<td>{{obj.page_name}}</td>
							<td>http://pexportal.com/staticPage?action={{obj.page_path}}</td>
							<td>{{obj.top_content}}</td>
							<td>{{obj.page_text}}</td>
							<td><a href="manage_page?pageid={{obj.pageid}}&action=edit">Edit</a></td>
						</tr>
						{%endfor%}
						{%endif%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	
	</body>
</html>