{% load staticfiles %} {% include "flightsearch/header.html" %}


<!-- BODY SECTION/-->
<!-- search form/-->

{% include "flightsearch/top_searchbar.html" %}

<!-- search form/-->
<div class="container-fluid" style="margin-top: 30px;">
	<!-- tabs left -->

	<div class="tabbable tabs-left">

		<div class="">


			<div
				class="col-md-10 col-sm-10 tab-pane col-md-push-2 col-sm-push-2 col-xs-12 about-content nopadding hotel-owners"
				id="g">
				<!----------- Contact Us ------>
				<h5 class="Only-text">Contact Us - Partners</h5>
				<div class="content-div row">
					<div class="col-xs-12 col-sm-6 min-cs-contact">
						<p>If you're an airline, credit card company or issuing bank,
							rental car company or online travel agency that wants to be
							listed on PEX+:</p>
						<p>
							Visit our <a href="mailto:info@pexportal.com">info@pexportal.com</a>
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 min-cs-contact">
						<p>If you're a hotel chain or agency that wants to be listed on
							PEX+:</p>
						<p>
							<a href="staticPage?action=Hotel_Owners">Click here</a>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4">
						<h3>Marketing sales inquiries:</h3>
						<p>
							<a href="mailto:info@pexportal.com">info@pexportal.com</a>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4">
						<h3>Advertising inquiries:</h3>
						<p>
							<a href="mailto:info@pexportal.com">info@pexportal.com</a>
						</p>

					</div>
				</div>
			</div>
			<!----------- Contact Us ------>
	</div>
		{% include "flightsearch/sidebar-menu.html" %}
	</div>
	<!-- /tabs -->

	<!-- /row -->
</div>

<!-- /container -->



{% include "flightsearch/footer.html" %}
