{% extends "flightsearch/base.html" %}
{% load staticfiles %}

<title>Pricing</title>

{% block content %}

<div class="col-sm-10 col-sm-push-2 col-xs-12 nopadding ">
    {% include "flightsearch/top_searchbar.html" %}
</div>

<div class="container-fluid" style="margin-top: 30px;">
    <div class="col-md-10 col-sm-10 tab-pane active col-md-push-2 col-sm-push-2 col-xs-12 about-content nopadding" id="a">
        <h5>Pricing</h5>
        <div class="content-div">
            <p>
                Choose the right solution for your pexportal.com search needs.
            </p>
            <br /><br /><br />
            <div class="row">
                <div class="col-md-4 col-xs-10 reduce-gutter" style="border-color: #39A8E0;">
                    <div class="price-block">
                        <div class="plan">
                            <strong>Free User</strong>
                        </div>
                        <h6 class="monthly">Free</h6>
                        <ul class="details">
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4">
                                        <strong>10</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8">
                                        Daily Free Flight Searches
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4">
                                        <strong>Unlimited</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8">
                                        Daily Free Hotel Searches
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4">
                                        <strong>5</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8">
                                        Concurrent Flight Price Alerts
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-12">
                                        Sync and manage your point balances
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="action">
                            <a class="btn btn-action" <a href="#" data-toggle="modal" data-target="#login-modal" >Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-10 reduce-gutter" style="border-color: #39A8E0;">
                    <div class="price-block">
                        <div class="plan">
                            <strong>ProFlyer</strong>
                        </div>
                        <h6 class="monthly">Pay Per Search<br />($5 minimum)</h6>
                        <ul class="details">
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4">
                                        <strong>50</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8">
                                        Minimum Flight Searches
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4">
                                        <strong>Unlimited</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8">
                                        Daily Free Hotel Searches
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4">
                                        <strong>5</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8">
                                        Concurrent Flight Price Alerts
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row-content">
                                    <div class="col-xs-5 col-sm-3 col-lg-4 plan-value">
                                        <strong>2</strong>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 col-lg-8 plan-key">
                                        TB Transfer
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="action">
                            <a class="btn btn-action" <a href="#" data-toggle="modal" data-target="#login-modal" >Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col-sm-6 col-sm-push-6 col-xs-12 login-section">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs signup-logn-tabs" role="tablist">
                                    <li role="presentation" class="active" id="signuptab"><a href="#signup"
                                        aria-controls="signup" role="tab" data-toggle="tab">Sign up</a></li>
                                    <li role="presentation" id="logintab"><a href="#login" aria-controls="login"
                                        role="tab" data-toggle="tab">Login</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="signup">
                                        
                                        {%if 'signup_msg' in request.GET %}
                                            <span class="show-msg">{{request.GET.signup_msg}}</span>
                                        {%endif%}
                                        <form action="/signup" method="post" class="modelform">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name" name="first_name" required >
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email" name="username" required >
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password" name="password" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="search" class="form-control" placeholder="Home Airport" id="home_airpot" name="home_airport" autocomplete="off">
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="pexdeals" value="1"> Email me PEX+ amazing deals</label>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-info">Sign up</button>
                                            </div>
                                            <hr>
                                            <div class="form-group text-center">
                                                <h5>Or Login with</h5>

                                                <a href="{% url 'social:begin' 'facebook' %}" class="pexdeal"><span class="social-login facebook">Facebook</span></a> 
                                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="pexdeal"><span class="social-login google">Google+</span></a>
                                            </div>                                  
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="login">
                                        {% if 'msg' in request.GET %}
                                            <div class="show-msg">{{request.GET.msg}} </div>
                                        {% endif %}
                                        <div class="show-msg" id="loginmsg"></div>
                                        <form action="/login" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="curl" value="{{request.get_full_path}}" id="curl">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email" name="username" required>
                                            </div>
                                            <div class="form-group" id="password" >
                                                <input type="password" class="form-control" placeholder="Password" name="password" required>
                                            </div>
                                            <input type="hidden" name="url" value="{{request.path}}">
                                            <div class="form-group">
                                                <a href="#" id="forgot_password">Forgot Password?</a>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-info">Log in</button>
                                            </div>
                                            <hr>
                                        </form>
                                        <div class="form-group text-center">
                                            <h5>Or Login with</h5>
                                            <a href="{% url 'social:begin' 'facebook' %}"><span class="social-login facebook">Facebook</span> </a>
                                            <a href="{% url 'social:begin' 'google-oauth2' %}"><span class="social-login google">Google+</span></a>
                                        </div>                                                                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-pull-6 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="forgetpassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% if 'welcome_msg' in request.GET %}{{request.GET.welcome_msg}} {% else %}Enter your registered email{% endif %}</h4>
                    </div>
              
                    <form action="/forgotPassword" method="post" class="form-group" id="forgot_password_form">
                        {% csrf_token %}
                        <div class="modal-body col-xs-12">
                            <input type="email" name="email" class="form-group" required/>
                        </div>
                        <input type="hidden" name="pagetype" value="forgot"/>
                        <div class="modal-footer form-group">
                            <button type="submit" class="btn btn-primary">Send Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var resetpassword = "{{request.GET.fpmsg}}"; 
            var welcome_msg = "{{request.GET.welcome_msg}}";
            var lmsg = "{{request.GET.msg}}";
            var smsg = "{{request.GET.signup_msg}}";
            var csrf = "{{csrf_token}}";
        </script>

    </div>

    {% include "flightsearch/sidebar-menu.html" %}

</div>

{% endblock %}
