{% extends "flightsearch/base.html" %} {% load staticfiles %} {% block content %}
<title>PEX+ Pricing</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/flightsearch/css/pricing.css">
<div class='container wrapper'>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12 text-center">
            <h1 style="margin-bottom: 70px;">Choose the plan that's right for you</h1>
        </div>
        <div class="col-md-offset-1 col-md-10 col-sm-12 main">
            <div class='col-sm-4'>
                <div class='package' style="margin-bottom: 40px;">
                    <div class='name'>Free Single User</div>
                    <div class='price'>Want the search power of PEX+, but don't travel often.<br><br></div>
                    <div class="line"><div class='trial'>10 Flight Searches / Day</div></div>
                    <!-- <hr class="pricing"> -->
                    <ul class="pricing">
                        <li>
                            <strong>5</strong> daily price alerts
                        </li>
                        <li>
                            Manage point balances in one place
                        </li>
                        <li style="margin-bottom: 51px;">
                            Award flight and hotel search
                        </li>
                    </ul>
                    <button class="btn btn-pexSearch " data-toggle="modal" data-target="#login-modal"> Sign up </button>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='package brilliant'>
                    <div class="highlighted">MOST POPULAR</div>
                    <div class='name'>Paid Power User</div>
                    <div class='price'>Great for business travelers, travel aficionados, and intense flight search.<br><br></div>
                    <div class="line"><div class='trial'>Unlimited*</div></div>
                    <!-- <hr class="pricing"> -->
                    <ul class="pricing">
                        <li>
                            <strong>Unlimited</strong> custom price alerts
                        </li>
                        <li>
                            Manage point balances in one place
                        </li>
                        <li>
                            Award flight and hotel search
                        </li>
                        <li>
                            Individual user analytics
                        </li>
                    </ul>
                    <button class="btn btn-pexSearch" data-toggle="modal" data-target="#upgradeModal">Upgrade Now</button>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='package'>
                    <div class='name'>Paid Enterprise</div>
                    <div class='price'>Companies can save on corporate travel expenses with the ultimate points and miles search and management system.</div>
                    <div class="line"><div class='trial'>Custom</div></div>
                    <!-- <hr class="pricing"> -->
                    <ul class="pricing">
                        <li>
                            <strong>Unlimited</strong> custom price alerts
                        </li>
                        <li>
                            Manage point balances in one place
                        </li>
                        <li>
                            Award flight and hotel search
                        </li>
                        <li>
                            Corporate analytics
                        </li>
                    </ul>
                    <a class="btn btn-pexSearch" href="/contactUs/6"> Contact us </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-12 text-center">
                <h1 style="margin-bottom: 50px;">Bring The Power of PEX+ to You</h1>
            </div>
            <div class='col-md-12' style="padding: 0 7px;">
                <div class='package' style="margin-bottom: 40px;">
                    <div class='name'>PEX+ API</div>
                    <div class='price'>Developers and corporations can utilize the power of PEX+ search technology for their applications and business goals.</div>
                    <div class="line"><div class='trial'>Annual License Subscription + Custom (Monthly)</div></div>
                    <!-- <hr class="pricing"> -->
                    <div class="col-sm-3">
                    <ul class="pricing">
                        <li>
                            Award and Revenue Flights*
                        </li>
                        <li>
                            Award and Revenue Hotels*
                        </li>
                    </ul>
                    </div>
                    <div class="col-sm-3">
                    <ul class="pricing">
                        <li>
                            Filter Functionality
                        </li>
                        <li>
                            Complete Itineraries with codeshares
                        </li>
                    </ul>
                    </div>
                    <div class="col-sm-3">
                    <ul class="pricing">
                        <li>
                            Cost Per Point*
                        </li>
                        <li>
                            Secure
                        </li>
                    </ul>
                    </div>
                    <div class="col-sm-3">
                    <ul class="pricing">                        
                        <li>
                            RESTful
                        </li>
                        <li>
                            Documented
                        </li>
                    </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class='col-sm-12 text-center'>
                        <a class="btn btn-pexSearch" href="/contactUs/7"> Contact us </a>
                    </div>       
                    <div class="clearfix"></div>
                </div>
            </div>           
        </div>
    </div>
</div>
<div id="upgradeModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="color: black;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: #39A8E0;">Upgrade to Become A ProFlyer</h4>
            </div>
            {% if user.is_authenticated or request.session.username %} 
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="description">
                            To upgrade, please tell us how many PEX points you want to purchase towards searches (Minimum 50 PEX points). <b>Earn 3 miles per dollar spent</b> with minimum spend.*
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-9">Number of PEX Points ( 1 PEX Point = 1 Search ):</label>
                            <div class="col-sm-3">
                                <input type="number" min="50" value="50" class="form-control" name="queries" id="id_queries" tabindex="1">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4 cycle_option">
                                <input type="radio" name="cycle" value="O" tabindex="2" required="">One Time
                            </div>
                            <div class="col-sm-4 cycle_option">
                                <input type="radio" name="cycle" value="M" tabindex="3" required="">Monthly
                            </div>
                            <div class="col-sm-4 cycle_option">
                                <input type="radio" name="cycle" value="Y" tabindex="4" required="">Annually 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-9" style="padding: 0; margin-top: 15px;">What's your Alaska Airlines Mileage Plan Account Number?</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" tabindex="5" name="acct_alaska" id="id_acct_alaska" style="margin-top: 10px;" disabled="" value="{{acct_alaska}}">
                            </div>
                        </div>

                        <div class="col-sm-12 form-side text-center">
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' id="id_term"  tabindex="6"/>
                                    <span></span> I've read and agree to the <a>terms and conditions</a> 
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <button class="btn btn-pexSearch " tabindex="8" type="submit" id="id_upgrade_pp"> Purchase and Upgrade </button>
                    </div>    
                </form>
            {% else %}
                <div class="modal-body">
                    <div style="padding: 30px 5px;">
                        <b >You need to sign up first.</b> 
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button class="btn btn-pexSearch " data-toggle="modal" data-target="#login-modal"  tabindex="1"> Sign up </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'flightsearch/js/pricing.js' %}"></script>
{% endblock %}
