{% load staticfiles %} {% include "flightsearch/header.html" %} {% include "flightsearch/top_searchbar.html" %}
<div class="main-holder container-fluid">
    <div class="col-xs-12 nopadding">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 ">
                        <div class="col-xs-12 pl5 nopadding">
                            {%if message %}
                            <h4class "alert-danger">{{message}}</h4>
                                {%endif%}
                                <h1 class=""><b>Find the best way to travel using your rewards points and miles.</b></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 xs-nopadding nopadding">
                <div class="col-xs-12 xs-nopadding nopadding">
                    <form class="form-horizontal" role="form" action="/searchLoadingPage" method="post">
                        {% csrf_token %}
                        <div class="col-xs-12 nopadding">
                            <div class="container nopadding trip-custome">
                                <div class="col-sm-12 col-xs-12 nopadding">
                                    <div class="checkbox-inline mhr10px auto-crsr">
                                        <label>
                                            <input type="radio" id="rt" class="curson" name="trip" value="roundTripBtn" checked="checked"> Round-Trip</label>
                                    </div>
                                    <div class="checkbox-inline mhr10px auto-crsr">
                                        <label>
                                            <input type="radio" id="ow" class="curson" name="trip" value="oneWayBtn"> One-Way</label>
                                    </div>
                                    <div class="checkbox-inline mhr10px auto-crsr">
                                        <label>
                                            <input type="radio" id="mc" class="curson" value="multicity" name="trip"> Multi-City</label>
                                    </div>
                                </div>
                            </div>
                            <div class="container xs-nopadding">
                                <div class="col-sm-12 col-xs-12 nopadding pl5 pd-xs custome-pd">
                                    <div class="col-sm-2 col-xs-12 nopl xs-nopadding">
                                        <div class="form-group nomr noml" class="ui-widget">
                                            <label class="sr-only" for="from">From:</label>
                                            <input type="search" tabindex="1" class=" form_val form-control" id="from" name="from" placeholder="From" autocomplete="off">
                                            <input type="hidden" id="fromid" name="fromMain" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12 nopl xs-nopadding">
                                        <div class="form-group  nomr noml" class="ui-widget">
                                            <label class="sr-only" for="to">To:</label>
                                            <input type="search" tabindex="2" class="form_val form-control" id="to" name="to" placeholder="To" autocomplete="off">
                                            <input type="hidden" id="toid" name="toMain" />
                                        </div>
                                    </div>
                                    <div class="input-daterange">
                                        <div class="col-sm-2 col-xs-6 nopl xs-pr5 mobile-wt">
                                            <div class="form-group nomr noml nomb no-margin-md-form " id="rmv_nomr">
                                                <label class="sr-only" for="departMain">Departure Date:</label>
                                                <div class="inner-addon left-addon date" id="dp1">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                    <input type="text" tabindex="3" class="form_val form-control curson" id="departMain" placeholder="Depart" name="deptdate" autocomplete="off">
                                                </div>
                                                <div class="form-group" id="deptmsg"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-6 xs-nopadding xs-pl5 pd-le-md" id="return">
                                            <div class="form-group nomr noml">
                                                <label class="sr-only" for="returnMain">Return Date:</label>
                                                <div class="inner-addon left-addon date" id="dp2">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                    <input type="text" tabindex="4" class="form_val form-control curson" id="returnMain" placeholder="Return" name="returndate" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12 nopadding for_cabin_class" id="cabintab" tabindex="5">
                                        <div class="form-group travelers-dpdn-details no-margin" class="ui-widget">
                                            <div class="dropdown travelers-holder form-control ">
                                                <span class="curson" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="travelar">1 adult, Economy</span>
                                                <span class="caret"></span></span>
                                                <div class="travelers-down-menu dropdown-menu for_cabin_class" aria-labelledby="dropdownMenu1">
                                                    <div class="col-xs-12 down-menu-block">
                                                        <span class="col-xs-4 nopadding">Class</span> <span class="col-xs-8 text-right nopr curson"><select
															class="custom-field-control curson" id="cabintype"
															name="cabintype" tabindex="6">
																<option class="cabin curson" value="maincabin">Economy</option>
																<option class="cabin curson" value="firstclass">Business</option>
																<option class="cabin curson" value="business">First</option>
														</select></span>
                                                    </div>
                                                    <div class="col-xs-12 alert alert-warning"></div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <p>
                                                            <span class="col-xs-4 nopadding">Adults</span> <span class="col-xs-5 text-right nopadding"> <span
																class="btn btn-default btn-xs minus"><span
																	class="glyphicon glyphicon-minus"></span></span>
                                                            <input type="text" class="field-width custom-field-control numberHolder qty" value="1" id="adults" tabindex="7"> <span class="btn btn-default btn-xs add"><span
																	class="glyphicon glyphicon-plus"></span></span>
                                                            </span> <span class="col-xs-3 nopr">18+</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <p>
                                                            <span class="col-xs-4 nopadding">Seniors</span> <span class="col-xs-5 text-right nopadding"> <span
																class="btn btn-default btn-xs minus"><span
																	class="glyphicon glyphicon-minus"></span></span>
                                                            <input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="senior" tabindex="8"> <span class="btn btn-default btn-xs add"><span
																	class="glyphicon glyphicon-plus"></span></span>
                                                            </span> <span class="col-xs-3 nopr">65+</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <p>
                                                            <span class="col-xs-4 nopadding">Youths</span> <span class="col-xs-5 text-right nopadding"> <span
																class="btn btn-default btn-xs minus"><span
																	class="glyphicon glyphicon-minus"></span></span>
                                                            <input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="youth" tabindex="9"> <span class="btn btn-default btn-xs add"><span
																	class="glyphicon glyphicon-plus"></span></span>
                                                            </span> <span class="col-xs-3 nopr">12-17</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <p>
                                                            <span class="col-xs-4 nopadding">Children</span> <span class="col-xs-5 text-right nopadding"> <span
																class="btn btn-default btn-xs minus"><span
																	class="glyphicon glyphicon-minus"></span></span>
                                                            <input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="children" tabindex="10"> <span class="btn btn-default btn-xs add"><span
																	class="glyphicon glyphicon-plus"></span></span>
                                                            </span> <span class="col-xs-3 nopr">2-11</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <p>
                                                            <span class="col-xs-4 nopadding">Seat infants</span> <span class="col-xs-5 text-right nopadding"> <span
																class="btn btn-default btn-xs minus"><span
																	class="glyphicon glyphicon-minus"></span></span>
                                                            <input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="seatinfants" tabindex="11"> <span class="btn btn-default btn-xs add"><span
																	class="glyphicon glyphicon-plus"></span></span>
                                                            </span> <span class="col-xs-3 nopr">under 2</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <p>
                                                            <span class="col-xs-4 nopadding">Lap infants</span> <span class="col-xs-5 text-right nopadding"> <span
																class="btn btn-default btn-xs minus"><span
																	class="glyphicon glyphicon-minus"></span></span>
                                                            <input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="lapinfants" tabindex="12"> <span class="btn btn-default btn-xs add"><span
																	class="glyphicon glyphicon-plus"></span></span>
                                                            </span> <span class="col-xs-3 nopr">under 2</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 down-menu-block">
                                                        <span class="btn btn-pexSearch" id="apply_traveler">Apply</span>
                                                    </div>
                                                    <input type="hidden" id="passenger" name="passenger" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12 xs-nopadding">
                                        <button type="submit" class="form_val btn btn-pexSearch" id="submitid" tabindex="13">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
