{% load humanize %}
<table class="table">
<thead>
    <tr>
        <th class="text-center">Program</th>
        <th class="text-center">Kind</th>
        <th class="text-center">Account No</th>
        <th class="text-center">Balance</th>
        <th class="text-center">Status</th>
        <th class="text-center">Time to expire</th>
    </tr>
</thead>
<tbody>
    {% if accounts %}
    {% for row in accounts %}
    <tr>
        <td class="">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" onclick="show_history('{{row.4}}', '{{row.0}}')" style="margin: 0 10px;"></span>
            {{row.0}}
        </td>
        <td class="">{{row.3}}</td>
        <td class="text-center">{{row.4}}</td>
        <td class="text-center">{{row.1 | intcomma}} Miles</td>
        <td class="text-center">{{row.2}}</td>
        <td class="text-center">{{row.5}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="5">There is no available rewards information.</td></tr>
    {% endif %}
</tbody>
</table>
