{% extends "flightsearch/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<title>Reward Points | PEX+</title>
<div class="col-xs-12 nopadding form-cstm-mng" style="">
    <h3 class="text-center">My Reward Points</h3> {% if updatemsg %}
    <h4 class="text-center"> {{updatemsg}}</h4> {%endif%}
    <div class="col-xs-12 col-sm-10 col-sm-push-1 mng-act fr-pd" style="padding: 30px 10px !important;">
        {% if message %}
        <div class="alert alert-warning">{{message}}</div>
        {% endif %}

        {% if not wallet_id %}
        <div class="col-xs-12 text-center">
            <a href="https://awardwallet.com/m/#/connections/approve/fjbykhglkc/2" class="btn btn-pexSearch">
                Connect to AwardWallet
            </a>
        </div>
        {% else %}
        <div class="col-xs-12 text-right cstm-btn" style="margin-bottom: 10px;">
            <a href="https://awardwallet.com/account/select-provider" target="_blank">
                <button class="btn btn-pexSearch" id="sync_all_points">Visit AwardWallet Account </button>
            </a>
        </div>        
        <div class="col-xs-12  nopadding">
            <div class="table-responsive" id="wallet_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Program</th>
                            <th class="text-center">
                                Kind
                                <select class="custom-field-control curson select-wallet" name="kind" onchange="choose_kind(this);">
                                    <option class="cabin curson" value="%">All</option>
                                    <option class="cabin curson" value="Airlines">Airlines</option>
                                    <option class="cabin curson" value="Hotels">Hotels</option>
                                    <option class="cabin curson" value="Credit Cards">Credit Cards</option>
                                </select>
                            </th>
                            <th class="text-center">Account No</th>
                            <th class="text-center">Balance</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Time to expire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if accounts %}
                        {% for row in accounts %}
                        <tr>
                            <td class="text-center">{{row.airline}}</td>
                            <td class="text-center">{{row.kind}}</td>
                            <td class="text-center">{{row.accountId}}</td>
                            <td class="text-center">{{row.balance | intcomma}} Miles</td>
                            <td class="text-center">{{row.status}}</td>
                            <td class="text-center">{{row.expireDate}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr><td colspan="5">There is no available rewards information.</td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-push-1 mng-act fr-pd" style="padding: 10px 10px !important; margin: 10px 0; ">
        <h4 class="title" style="margin-left: 10px;">Reward Page Configuration <a href="#" class="pull-right editinfo" id="accountinfo" data-toggle="collapse" data-target="#config-reward-page-pannel">Edit</a></h4>
        <div id="config-reward-page-pannel" class="collapse">
        <form id="config-reward-page-form">
        <div class="col-md-2 form-side">
            <b>Hotel Page</b>
            <div class="checkbox"><label>
                <input value="Airlines" type="checkbox" name="hotel" {% if 'Airlines' in hotel %} checked {% endif %}>
                <span></span>Airlines</label>
            </div>
            <div class="checkbox"><label>
                <input value="Hotels" type="checkbox" name="hotel" {% if 'Hotels' in hotel %} checked {% endif %}>
                <span></span>Hotels</label>
            </div>
            <div class="checkbox"><label>
                <input value="Credit Cards" type="checkbox" name="hotel" {% if 'Credit Cards' in hotel %} checked {% endif %}>
                <span></span>Credit Cards</label>
            </div>
        </div>
        <div class="col-md-2 form-side">
            <b>Flight Page</b>
            <div class="checkbox"><label>
                <input value="Airlines" type="checkbox" name="flight" {% if 'Airlines' in flight %} checked {% endif %}>
                <span></span>Airlines</label>
            </div>
            <div class="checkbox"><label>
                <input value="Hotels" type="checkbox" name="flight" {% if 'Hotels' in flight %} checked {% endif %}>
                <span></span>Hotels</label>
            </div>
            <div class="checkbox"><label>
                <input value="Credit Cards" type="checkbox" name="flight" {% if 'Credit Cards' in flight %} checked {% endif %}>
                <span></span>Credit Cards</label>
            </div>
        </div>
        </form>
        <div class="col-md-2">
            <button class="btn btn-pexSearch" style="margin-bottom: 10px;" onclick="modify_reward_page_config();">Save</button>
            <span class="btn btn-pexSearch" style="margin-bottom: 10px;" onclick="$('#config-reward-page-pannel').removeClass('in');">Cancel</span>
        </div>

        </div>
    </div>    
</div>
<script src="{% static 'flightsearch/js/rewardpoints.js' %}"></script>
{% endblock %}
