<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>New Web Project</title>
		{% load staticfiles %}
		
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
        <style>
            body {
                /*padding-top: 50px;*/
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'flightsearch/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'flightsearch/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'flightsearch/css/datepicker.css' %}">
        <!--<link rel="stylesheet" href="{% static 'flightsearch/css/bootstrap.css' %}"> -->
        
		<link rel="stylesheet" href="{% static 'flightsearch/css/main.css' %}">
        <script src="{% static 'flightsearch/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>/-->
        <script src="{% static 'flightsearch/js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'flightsearch/js/bootstrap-datepicker.js' %}"></script>
		
	</head>
	<body itemscope itemtype="http://schema.org/WebPage">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- NAVBAR SECTION/-->

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pexMainNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>

            <a class="navbar-brand brandmedia" href="http://www.pexportal.com"><img src="{% static 'flightsearch/img/logoMain.jpg' %}" alt="" class="hidden-xs hidden-sm hidden-md"><img src="{% static 'flightsearch/img/logo.jpg' %}" alt="" class="hidden-lg hidden-xs"> <img src="{% static 'flightsearch/img/logo.jpg' %}" alt="" class="hidden-lg hidden-md hidden-sm"></a>
          </div>

          <div class="collapse navbar-collapse" id="pexMainNavbar">
            <ul class="nav navbar-nav mainNav mvt30px">
              <li class=""><a href="#">Flights</a></li>
              <li class=""><a href="#">Hotels</a></li> 
              <li class=""><a href="#">Cars</a></li>
              <li class=""><a href="#">Cruises</a></li> 
              <li class=""><a href="#">Restaurants</a></li>
            </ul>   
            <ul class="nav navbar-nav navbar-right">
              <li class=""><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li class=""><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li class=""><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
	<body>
		<div class="">
      <div class="jumbotron">
        <div class="container-fluid">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-2 col-xs-12 nopadding">
			<form action="search" method="post">{% csrf_token %}
			<div class="col-md-12 col-xs-12 nopadding form-side">
					<div class="priceRangeInfo">
					DEPARTURE TIME
					  <input type="range" name="buying_slider_min" id="buying_slider_min" class="minBuyingSlider" value="00:00" min="00:00" max="23:59" />
					</div>
					<div class="priceRangeInfo mvt15px">
					ARRIVAL TIME
					  <input type="range" name="buying_slider_min" id="buying_slider_min" class="minBuyingSlider" value="0" min="0" max="100" />
					</div>
			</div>
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<p>NUMBER OF STOPS</p>
				
					  <div class="checkbox">
						<label>
						  <input type='checkbox' name="stop" value="nonstop">
						  <span></span>
						  NONSTOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox' name="stop" value="1 STOP">
						  <span></span>
						  1 STOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox' name="stop" value="2+ STOPS">
						  <span></span>
						  2+ STOPS
						</label>
					  </div>
				
				</div>
				<!--
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<p>NUMBER OF STOPS</p>
				<form>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  NONSTOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  STOP
						</label>
					  </div>
					  
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  2+ STOPS
						</label>
					  </div>
					  
				</form>
				</div>
				-->
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<p>CABIN</p>
				
					  <div class="checkbox">
						<label>
						  <input type='checkbox' name="cabin" value="ECONOMY">
						  <span></span>
						  ECONOMY
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox' name="cabin" value="Business">
						  <span></span>
						  BUSINESS
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox' name="cabin" value="First">
						  <span></span>
						  FIRST
						</label>
					  </div>
				
				</div>
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<input type="submit" value="SEARCH" class="btn btn-default">
				</div>
				</form>
				</div>
				<div class="col-md-8 col-xs-12 ">
				{% if temp %}
					{% for fno,stn,stp,lyovr,dept,price1,cabin1,prc2,cabin2,dsttime,dststn in temp %}
					<div class="col-md-12 col-xs-12 centr-info">
						<div class="col-md-6 col-xs-12 nopadding">
						<div class="col-md-12 col-xs-12 nopadding">
							<div class="col-md-8 col-xs-12 nopadding na-ra">
								<p class="flight-name">{{fno}} <!--FIRST FLIGHT OPTION RESULT--></p>
								<p class="flight-rate">{{price1}} <!--4,500 POINTS + $5.00 --></p>
							</div>
							<div class="col-md-4 col-xs-12"><img src="{% static 'flightsearch/img/logoMain.jpg' %}" class="img-responsive" alt="Responsive image"></div>
						</div>
						</div>
						<div class="col-md-6 col-xs-12 nopadding">	
						<div class="col-md-12 col-xs-12 nopadding">	
							<div class="col-md-8 col-xs-12 nopadding">
								<div class="arrivel">
									<p>{{stn}}</p>
									<p>{{dept}}</p>
								</div>
								<div class="arrow-div">
								</div>
								<div class="arrivel-2">
									<p>{{dststn}}</p>
									<p>{{dsttime}}</p>
								</div>
	
								
								
							</div>
							
							<div class="col-md-4 col-xs-12 non-stop">
							<p>{{stp}}</p>
							
							</div>
						</div>	
						<div class="col-xs-12 nopadding pop-hover"><p class="econo">{{cabin1}}</p>
									<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">SHOW DETAILS</a>
								<div class="collapse" id="collapseExample">
								  <div class="well">
									<h2>DEPART</h2>
									<p>COMPANY FLIGHT (ECO)</p>
									<div class="table-responsive table-date-search">
									  <table class="table">
										<tr>
											<td>{{dept}}</td>
											<td>{{searchdate}}</td>
											<td>{{stn}}</td>
										</tr>
										<tr>
											<td>{{dsttime}}</td>
											<td>{{searchdate}}</td>
											<td>{{dststn}}</td>
										</tr>
									  </table>
									</div>
									<a href="#">share</a>
								  </div>
								</div>
								</div>
						</div>	
						</div>
						{%endfor %}
				{% endif %}
					</div>
					
				
				
				<div class="col-md-2 col-xs-12 nopadding"><img src="{% static 'flightsearch/img/ad.jpg' %}" class="img-responsive" alt="Responsive image"></div>
			</div>
        </div>
      </div>
 </div>
		<!--
		<div><h4>Journey Date: {{searchdate}} </h4></div>
		<table class="table table-bordered datatable" id="datatable">
			<thead>
				<tr>
					<td>Flight No.</td>
					<td>Source Station</td>
					<td>Departure Time</td>
					<td>Main Cabin</td>
					<td>First/Business</td>
					<td>Arival Time</td>
					<td>Destination Station</td>
				</tr>
			</thead>
			<tbody>
				{% if temp %}
					{% for fno,stn,stp,lyovr,dept,price1,cabin1,prc2,cabin2,dsttime,dststn in temp %}
						<tr>
							<td>{{fno}}</td>
							<td>{{stn}} - {{stp}} <h5>{{lyovr}}</h5></td>
							<td>{{dept}} </td>
							<td>{{price1}} - {{cabin1}} </td>
							<td>{{prc2}} - {{cabin2}}</td>
							<td>{{dsttime}}</td>
							<td>{{dststn}} </td>
						
				
						</tr>
				{%endfor %}
			{% endif %}
		</tbody>
		</table>
	
	<script>

		jQuery(window).load(function()
                {
                        
                        var $ = jQuery; 
                        
                       
                        $("#datatable").dataTable({
                                "columns": [
                                	{ "data": "Flight No." },
						            { "data": "Source Station" },
						            { "data": "Departure Time" },
						            { "data": "Main Cabin" },
						            { "data": "First/Business" },
						            { "data": "Arival Time" },
						            { "data": "Destination Station" },
						            
						        ]
                        });
                        /*
                        $("#datatable tbody input[type=checkbox]").each(function(i, el)
                        {
                                var $this = $(el),
                                        $p = $this.closest('tr');
                                
                                $(el).on('change', function()
                                {
                                        var is_checked = $this.is(':checked');
                                        
                                        $p[is_checked ? 'addClass' : 'removeClass']('highlight');
                                });
                        });
                        
                        // Replace Checboxes
                        $(".pagination a").click(function(ev)
                        {
                                replaceCheckboxes();
                        });*/
                        
                });
                        
                // Sample Function to add new row
                var giCount = 1; 
	</script>
		<link rel="stylesheet" href="{% static 'flightsearch/datatables/responsive/css/datatables.responsive.css' %}">
		<script src="{% static 'flightsearch/js/vendor/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'flightsearch/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'flightsearch/datatables/TableTools.min.js' %}"></script>
		<script src="{% static 'flightsearch/datatables/jquery.dataTables.columnFilter.js' %}"></script>
		<script src="{% static 'flightsearch/datatables/responsive/js/datatables.responsive.js' %}"></script>
		<script src="{% static 'flightsearch/datatables/lodash.min.js' %}"></script>
		<script src="{% static 'flightsearch/js/dataTables.bootstrap.js' %}"></script>
		-->
	<script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>
	</body> 
</html>



