<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "flightsearch/header.html" %}
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>New Web Project</title>
		<script src="{% static 'flightsearch/js/jquery-2.1.4.min.js' %}"></script>
	</head>
	
	<body>
		<form action="#" method="post">{% csrf_token %}
		<input type="hidden" name="from" id="from" value="{{sname}}">
		<input type="hidden" name="to" id="to" value="{{dname}}">
		<input type="hidden" name="departdate" id="date" value="{{searchdate}}">
		<input type="hidden" name="returndate" id="retdate" value="{{returndate}}">
		<input type="hidden" name="roundtripkey" id="rdtrip" value="{{roundtripkey}}">
		<input type="hidden" name="trip" id="trip" value="{{triptype}}">
		<input type="hidden" name="cabintype" id="cabin" value="{{cabintype}}">
		<input type="hidden" name="passenger" id="passenger" value="{{passenger}}">
		</form>
		<form action="index" method="post" id ="formid">
			<input type="hidden" name="searchid" value="" id="searchid"/>
		</form>
		<div id="loading" align="center">
			 <img id="loading-image" src="{% static 'flightsearch/js/images/loading.gif' %}" alt="Loading..." />
		</div>
          
		

<script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>
<script>

	/*$.ajax({
    type: "POST",
    url:"search/",
    data: 
    success: function(){
      alert('test')
     }
    $('from').val(),'toMain':$('to').val(),'departdate':$('date')
});*/
//alert($('#from').val());

var CSRF_TOKEN = "{{ csrf_token }}";
var from = $('#from').val();
var to = $('#to').val();
var depart = $('#date').val();
var cabintype = $('#cabin').val();
var trip = $('#trip').val();
var returndate = $('#retdate').val();
var rdtrip = $('#rdtrip').val();
var traveller = $('#passenger').val();
var searchid = '';
$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
var formdata={"fromMain":$('#from').val(),"csrtoken":CSRF_TOKEN};

$.ajax({
        type: "POST",
        url: "/search/",
        data: "returndate="+ encodeURI(returndate)+"&rndtripkey="+encodeURI(rdtrip) +"&triptype="+ encodeURI(trip)+ "&fromMain="+ encodeURI(from)+ "&toMain=" + encodeURI(to)+ "&deptdate=" + encodeURI(depart) + "&csrfmiddlewaretoken=" + encodeURI(CSRF_TOKEN),
    	success: function(data){
        searchid = data[0];
        var returnid='';
        if(data[1])
        {
        	returnid = data[1];
        }
        redirecttosearchpage(searchid,returnid);   
    },
	
   });
     
 //alert(searchid)  ;  
 function redirecttosearchpage(searchid,returnkey){
 	if(searchid != '')
{  
	$('#searchid').val(searchid);
	var location = "getsearchresult?keyid="+ encodeURI(searchid)+"&cabin="+encodeURI(cabintype)+"&passenger="+encodeURI(traveller);
	if(returnkey != ''){ location = location+"&returnkey="+encodeURI(returnkey);}
	window.location.href = location; 
}
}
     
         
</script>
</body>
</html>
