<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Pex Search Result</title>
		
		{% load customfilter %}
		{% load staticfiles %}
		{% load humanize %}
		
		<body>
<style>
.add {
    margin-left: -6px;}
</style>

	<!--	<div class="main-holder"> -->
			<div class="col-xs-12 nopadding">
				<div class="jumbotron">
					<div class="container-fluid">
						<div class="col-md-12 col-xs-12 nopadding">
							<div class="col-md-2 col-xs-12 nopadding filters-holder mvb10px ">
								</div>
							
							<div class="col-md-8 col-xs-12 xs-nopadding">

								
								
							
								
							
							{% with "1" as rows_count %}
							
					
							{% if data %}
								
								
								{% for row in data %}
								
								<div class="col-md-12 col-xs-12 centr-info responsive-color-img">
									<div class="col-sm-3 col-xs-5 visible-xs visible-sm nopl">
										<div class="col-xs-12 nopadding text-center" itemscope itemtype ="http://schema.org/Airline">
											{% if row.datasource == "united" %}
												<img itemprop="logo" src="{% static 'flightsearch/img/unitedLogo.png' %}" class="img-responsive" alt="Responsive image">
											{% endif %}
											{% if row.datasource == "delta" %}
												<img itemprop="logo" src="{% static 'flightsearch/img/deltaLogo.jpg' %}" class="img-responsive" alt="Responsive image">
											{% endif %}
										</div>
									</div>
									<div class="col-md-12 col-sm-9 col-xs-7 nopadding" itemscope itemtype ="http://schema.org/Flight">
										<p class="flight-name" itemprop="flightNumber">
											{{row.flighno}} <!--FIRST FLIGHT OPTION RESULT-->
										</p>
									</div>
									<div class="col-md-5 col-xs-12 nopadding hidden-xs hidden-sm">
										<div class="col-sm-8 col-sm-8 col-xs-12 nopl">
											<div class="col-md-12 col-xs-12 nopadding">
													<div class="col-xs-12 nopadding xs-margin-25px">
														{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin' %}
												  
															<div class="col-xs-12 nopadding mvb10px na-ra" itemscope itemtype ="http://schema.org/FlightReservation">
																<p class="flight-rate" itemprop="totalPrice">
																	{% if row.datasource == "delta" %}
																	{{row.maincabin|add:deltaminval|intcomma}} Miles + <span>${{row.maintax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.maincabin|add:unitedminval|intcomma}}  Miles + <span>${{row.maintax|floatadd:unitedtax|floatformat:2}} </span> {%endif%}
																</p>
															</div> 
														
														{% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %}
															<div class="col-xs-12 nopadding mvb10px na-ra" itemscope itemtype ="http://schema.org/FlightReservation">
															<p class="flight-rate" itemprop="totalPrice">
																{% if row.datasource == "delta" %}
																{{row.firstclass|add:deltaminval|intcomma}} {%else%}{{row.firstclass|add:unitedminval|intcomma}} {%endif%} Miles + <span>${{row.firsttax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
														{% else %}
															{% if request.GET.cabin == 'business' or cabin == 'business' %}
															<div class="col-xs-12 nopadding mvb10px na-ra" itemscope itemtype ="http://schema.org/FlightReservation">
															<p class="flight-rate" itemprop="totalPrice">
																{% if row.datasource == "delta" %}
																{{row.business|add:deltaminval|intcomma}} {%else%}{{row.business|add:unitedminval|intcomma}} {%endif%} Miles + <span>${{row.businesstax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
														{% endif %}
													{%endif%}
													</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12 nopl">
											<div class="col-xs-12 nopadding text-center mvb10px" itemscope itemtype ="http://schema.org/Airline">
												{% if row.datasource == "united" %}
												<img itemprop="logo" src="{% static 'flightsearch/img/unitedLogo.png' %}" class="img-responsive" alt="Responsive image">{% endif %}
												{% if row.datasource == "delta" %}
												<img itemprop="logo" src="{% static 'flightsearch/img/deltaLogo.jpg' %}" class="img-responsive" alt="Responsive image">{% endif %}
											</div>
										</div>
									</div>
									<div class="col-md-7 col-xs-12 nopadding">
										
										
										<div class="col-xs-12 nopadding flight-div-repeat"> 
										<div class="col-md-8 col-sm-8 col-xs-12 nopadding">
											<div class="col-xs-12 nopadding">
												<div class="arrivel col-sm-5 nopadding col-xs-4" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="departureAirport">
														{{row.origin}}
													</p>
													<p>
														<time itemprop="departureTime">{{row.departure}}</time>
													</p>
												</div>
												<div class="arrow-div col-sm-2 col-xs-1 text-center nopadding">&#8594;</div>
												<div class="arrivel-2 col-sm-4 nopadding text-right col-xs-4 xs-text-center" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="arrivalAirport">
														{{row.destination}}
													</p>
													<p>
														<time itemprop="arrivalTime">{{row.arival}}</time>
													</p>
												</div>
												<div class="col-xs-3 nopadding visible-xs text-right">
													<div class="col-xs-12 nopadding non-stop text-right">
														<p>
															{{row.stoppage}}
														</p>
													</div>
													<div class="col-xs-12 nopadding non-stop" itemscope itemtype ="http://schema.org/Flight">
														<p itemprop="estimatedFlightDuration">
															{{row.duration}}
														</p>
													</div>
												</div>
											</div>
											
									{% if returndate == '' %}	
									<div class="col-xs-12 nopadding mvt10px for-mobile-view"> <!-- main data only mobile -->
										<div class="col-xs-12 nopadding text-center custome-edit-block"> 
											{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin' %}
											
													
													<div class="col-xs-12 nopadding mvb10px na-ra">
													<h5 class="econo edit-width-econo">{{row.cabintype1}}</h5>
													<div class="right-data-responsive" itemscope itemtype="http://schema.org/FlightReservation">
														<p class="flight-rate" itemprop="totalPrice">
																{% if row.datasource == "delta" %}
																{{row.maincabin|add:deltaminval|intcomma}} Miles + <span>${{row.maintax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.maincabin|add:unitedminval|intcomma}} Miles + <span>${{row.maintax|floatadd:unitedtax|floatformat:2}}</span> {%endif%} 
															</p>
														</div>
													</div>
											{% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %}
													
													<div class="col-xs-12 nopadding mvb10px na-ra">
														<h5 class="econo edit-width-econo">{{row.cabintype2}}</h5>
														<div class="right-data-responsive">
														<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.firstclass|add:deltaminval|intcomma}} Miles + <span>${{row.firsttax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.firstclass|add:unitedminval|intcomma}} Miles + <span>${{row.firsttax|floatadd:unitedtax|floatformat:2}}</span> {%endif%}
															</p>
														</div>
													</div>
													
											{% else %}
													{% if request.GET.cabin == 'business' or cabin == 'business' %}

														<div class="col-xs-12 nopadding mvb10px na-ra">
															<h5 class="econo edit-width-econo">{{row.cabintype3}}</h5>
															<div class="right-data-responsive" itemscope itemtype="http://schema.org/FlightReservation">
															<p class="flight-rate" itemprop="totalPrice">
																{% if row.datasource == "delta" %}
																{{row.business|add:deltaminval|intcomma}} Miles + <span>${{row.businesstax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.business|add:unitedminval|intcomma}} Miles + <span>${{row.businesstax|floatadd:unitedtax|floatformat:2}}</span> {%endif%}
															</p>
														</div>
														</div>
													{% endif %}
											{% endif%}											
										</div>
									</div>  
									{% endif %}		
									</div>
										<div class="col-md-4 col-sm-4 col-xs-12 text-center nopr hidden-xs">
											<div class="col-xs-12 nopadding non-stop">
												<p>
													{{row.stoppage}}
												</p>
												<div class="col-xs-12 nopadding non-stop" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="estimatedFlightDuration">
														{{row.duration}}
													</p>
												</div>
											</div>
										</div>
									</div>
									
									<!-- terurn data block -->
									{% if returndate %}
									{% if row.datasource == "united" and unitedreturn %}
										{% with unitedreturn as returnrecord %} 
									<div class="col-xs-12 nopadding flight-div-repeat"> 
										<div class="col-md-8 col-sm-8 col-xs-12 nopadding">
											<div class="col-xs-12 nopadding">
												<div class="arrivel col-sm-5 nopadding col-xs-4" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="departureAirport">
														{{returnrecord.0.origin}}
													</p>
													<p>
														<time itemprop="departureTime">{{returnrecord.0.departure}}</time>
													</p>
												</div>
												<div class="arrow-div col-sm-2 col-xs-1 text-center nopadding">&#8594;</div>
												<div class="arrivel-2 col-sm-4 nopadding text-right col-xs-4 xs-text-center" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="arrivalAirport">
														{{returnrecord.0.destination}}
													</p>
													<p>
														<time itemprop="arrivalTime">{{returnrecord.0.arival}}</time>
													</p>
												</div>
												<div class="col-xs-3 nopadding visible-xs text-right">
													<div class="col-xs-12 nopadding non-stop text-right">
														<p>
															{{returnrecord.0.stoppage}}
														</p>
													</div>
													<div class="col-xs-12 nopadding non-stop" itemscope itemtype ="http://schema.org/Flight">
														<p itemprop="estimatedFlightDuration">
															{{returnrecord.0.duration}}
														</p>
													</div>
												</div>
											</div>
											
									</div>
										<div class="col-md-4 col-sm-4 col-xs-12 text-center nopr hidden-xs">
											<div class="col-xs-12 nopadding non-stop">
												<p>
													{{returnrecord.0.stoppage}}
												</p>
												<div class="col-xs-12 nopadding non-stop" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="estimatedFlightDuration">
														{{returnrecord.0.duration}}
													</p>
												</div>
											</div>
										</div>
									</div> <!-- end retun block -->
									{%endwith%}
								{% endif%}
								{% if row.datasource == "delta" and deltareturn %}
										{% with deltareturn as returnrecord %} 
									<div class="col-xs-12 nopadding flight-div-repeat"> 
										<div class="col-md-8 col-sm-8 col-xs-12 nopadding">
											<div class="col-xs-12 nopadding">
												<div class="arrivel col-sm-5 nopadding col-xs-4" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="departureAirport">
														{{returnrecord.0.origin}}
													</p>
													<p>
														<time itemprop="departureTime">{{returnrecord.0.departure}}</time>
													</p>
												</div>
												<div class="arrow-div col-sm-2 col-xs-1 text-center nopadding">&#8594;</div>
												<div class="arrivel-2 col-sm-4 nopadding text-right col-xs-4 xs-text-center" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="arrivalAirport">
														{{returnrecord.0.destination}}
													</p>
													<p>
														<time itemprop="arrivalTime">{{returnrecord.0.arival}}</time>
													</p>
												</div>
												<div class="col-xs-3 nopadding visible-xs text-right">
													<div class="col-xs-12 nopadding non-stop text-right">
														<p>
															{{returnrecord.0.stoppage}}
														</p>
													</div>
													<div class="col-xs-12 nopadding non-stop" itemscope itemtype ="http://schema.org/Flight">
														<p itemprop="estimatedFlightDuration">
															{{returnrecord.0.duration}}
														</p>
													</div>
												</div>
											</div>
											
									</div>
										<div class="col-md-4 col-sm-4 col-xs-12 text-center nopr hidden-xs">
											<div class="col-xs-12 nopadding non-stop">
												<p>
													{{returnrecord.0.stoppage}}
												</p>
												<div class="col-xs-12 nopadding non-stop" itemscope itemtype ="http://schema.org/Flight">
													<p itemprop="estimatedFlightDuration">
														{{returnrecord.0.duration}}
													</p>
												</div>
											</div>
										</div>
									</div> <!-- end retun block -->
									{%endwith%}
								{% endif%}
								
								<div class="col-xs-12 nopadding mvt10px for-mobile-view"> <!-- main data only mobile  if return in present -->
										<div class="col-xs-12 nopadding text-center custome-edit-block"> 
											{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin' %}
											
													
													<div class="col-xs-12 nopadding mvb10px na-ra">
													<h5 class="econo edit-width-econo">{{row.cabintype1}}</h5>
													<div class="right-data-responsive" itemscope itemtype="http://schema.org/FlightReservation">
														<p class="flight-rate" itemprop="totalPrice">
																{% if row.datasource == "delta" %}
																{{row.maincabin|add:deltaminval|intcomma}} Miles + <span>${{row.maintax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.maincabin|add:unitedminval|intcomma}} Miles + <span>${{row.maintax|floatadd:unitedtax|floatformat:2}}</span> {%endif%} 
															</p>
														</div>
													</div>
											{% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %}
													
													<div class="col-xs-12 nopadding mvb10px na-ra">
														<h5 class="econo edit-width-econo">{{row.cabintype2}}</h5>
														<div class="right-data-responsive">
														<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.firstclass|add:deltaminval|intcomma}} Miles + <span>${{row.firsttax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.firstclass|add:unitedminval|intcomma}} Miles + <span>${{row.firsttax|floatadd:unitedtax|floatformat:2}}</span> {%endif%}
															</p>
														</div>
													</div>
													
											{% else %}
													{% if request.GET.cabin == 'business' or cabin == 'business' %}

														<div class="col-xs-12 nopadding mvb10px na-ra">
															<h5 class="econo edit-width-econo">{{row.cabintype3}}</h5>
															<div class="right-data-responsive" itemscope itemtype="http://schema.org/FlightReservation">
															<p class="flight-rate" itemprop="totalPrice">
																{% if row.datasource == "delta" %}
																{{row.business|add:deltaminval|intcomma}} Miles + <span>${{row.businesstax|floatadd:deltatax|floatformat:2}}</span> {%else%}{{row.business|add:unitedminval|intcomma}} Miles + <span>${{row.businesstax|floatadd:unitedtax|floatformat:2}}</span> {%endif%}
															</p>
														</div>
														</div>
													{% endif %}
											{% endif%}											
										</div>
									</div>  
							{% endif%}	
							
									
									
										<a class="show-details" role="button" data-toggle="collapse" href="#{{row.rowid}}" aria-expanded="false" aria-controls="collapseExample">SHOW DETAILS</a>
										<h4 class="econo hidden-xs"> 
												{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%}
												{{row.cabintype1}} {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %} {{row.cabintype2}} {% else%}{{row.cabintype3}} {% endif %}</h4>	
										<div class="col-xs-12 pop-hover nopadding">
											<div class="collapse" id="{{row.rowid}}">
												<div class="well" itemscope itemtype="http://schema.org/Flight">
													<h2>DEPART</h2>
													<p itemprop="flightNumber">
														{{row.datasource|title}} | {{row.flighno}} ({% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%}
												{{row.cabintype1}} {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %} {{row.cabintype2}} {% else%}{{row.cabintype3}} {% endif %})
													</p>
													<div class="table-responsive table-date-search">
														<table class="table">
															{% with row.departdetails|split:'@' as mylist%}
															{% with row.arivedetails|split:'@' as mylist1%}
															{% with row.planedetails|split:'@' as mylist2%}
															{% with row.operatedby|split:'@' as mylist3%}
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.0}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
															
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.0}}</time></td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td itemprop="flightNumber"><b>Flight:</b></td>
																<td>{{mylist2.0}}</td>
															</tr>
															{% if mylist3.0 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.0}}</td>
																</tr>
															{% endif %}
															{% if row.stoppage == '1 STOP' or row.stoppage == '2 STOPS' or row.stoppage == '3 STOPS'%}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.1}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.1}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.1}}</td>
															</tr>
															{% if mylist3.1 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.1}}</td>
																</tr>
															{% endif %}
															
															{% endif %}
															{% if row.stoppage == '2 STOPS' or row.stoppage == '3 STOPS' %}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.2}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.2}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.2}}</td>
															</tr>
															{% if mylist3.2 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.2}}</td>
																</tr>
															{% endif %}
															{% endif %}
															{% if row.stoppage == '3 STOPS' %}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.3}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.3}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.3}}</td>
															</tr>
															{% if mylist3.3 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.3}}</td>
																</tr>
															{% endif %}
															{% endif %}
															
															
															{% endwith %}
															{% endwith %}
															{% endwith %}
															{% endwith %}
														</table>
													</div>
													
													<!--  FOR RETURN DELTA BLOCK -->
													{% if returndate and row.datasource == 'delta' and deltareturn%}
													<div class="well" itemscope itemtype="http://schema.org/Flight">
													<h2>RETURN</h2>
													<p itemprop="flightNumber">
														{{deltareturn.0.datasource|title}} | {{deltareturn.0.flighno}} ({{deltacabin_name}})
														<!-- ( {% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%}
												{{deltareturn.0.cabintype1}} {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %} {{deltareturn.0.cabintype2}} {% else%}{{deltareturn.0.cabintype3}} {% endif %})-->
													</p>
													<div class="table-responsive table-date-search">
														<table class="table">
															{% with deltareturn.0.departdetails|split:'@' as mylist%}
															{% with deltareturn.0.arivedetails|split:'@' as mylist1%}
															{% with deltareturn.0.planedetails|split:'@' as mylist2%}
															{% with deltareturn.0.operatedby|split:'@' as mylist3%}
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.0}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
															
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.0}}</time></td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td itemprop="flightNumber"><b>Flight:</b></td>
																<td>{{mylist2.0}}</td>
															</tr>
															{% if mylist3.0 %}
															<tr>
																<td><b>Operated By:</b></td>
																<td>{{mylist3.0}}</td>
															</tr>
															{%endif%}
															{% if deltareturn.0.stoppage == '1 STOP' or deltareturn.0.stoppage == '2 STOPS' or deltareturn.0.stoppage == '3 STOPS'%}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.1}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.1}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.1}}</td>
															</tr>
															{% if mylist3.1 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.1}}</td>
																</tr>
															{% endif%}
															
															{% endif %}
															{% if deltareturn.0.stoppage == '2 STOPS' or deltareturn.0.stoppage == '3 STOPS'%}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.2}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.2}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.2}}</td>
															</tr>
															{% if mylist3.2 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.2}}</td>
																</tr>
															{% endif %}
														{% endif %}
														{% if deltareturn.0.stoppage == '3 STOPS'%}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.3}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.3}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.3}}</td>
															</tr>
															{% if mylist3.3 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.3}}</td>
																</tr>
															{% endif %}
															{% endif %}
													
													
													{% endwith %}
													{% endwith %}
													{% endwith %}
													{% endwith %}
												</table>
												</div>
												</div>
											{% endif %}
											<!-- RETTUN DELTA BLOCK END AND START RETURN UNITED BLOCK -->
											{% if returndate and row.datasource == 'united' and unitedreturn%}
													<div class="well" itemscope itemtype="http://schema.org/Flight">
													<h2>RETURN</h2>
													<p itemprop="flightNumber">
														{{unitedreturn.0.datasource|title}}  | {{unitedreturn.0.flighno}} ({{unitedcabin_name}})
														<!--( {% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%}
												{{unitedreturn.0.cabintype1}} {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %} {{unitedreturn.0.cabintype2}} {% else%}{{unitedreturn.0.cabintype3}} {% endif %})-->
													</p>
													<div class="table-responsive table-date-search">
														<table class="table">
															{% with unitedreturn.0.departdetails|split:'@' as mylist%}
															{% with unitedreturn.0.arivedetails|split:'@' as mylist1%}
															{% with unitedreturn.0.planedetails|split:'@' as mylist2%}
															{% with unitedreturn.0.operatedby|split:'@' as mylist3%}
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.0}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
															
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.0}}</time></td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td itemprop="flightNumber"><b>Flight:</b></td>
																<td>{{mylist2.0}}</td>
															</tr>
															{% if mylist3.0 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.0}}</td>
																</tr>
															{% endif %}
															{% if unitedreturn.0.stoppage == '1 STOP' or unitedreturn.0.stoppage == '2 STOPS' or unitedreturn.0.stoppage == '3 STOPS' %}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.1}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><bglyphicon glyphicon-menu-up></b>Arives:</td>
																<td><time itemprop="arrivalTime">{{mylist1.1}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.1}}</td>
															</tr>
															{% if mylist3.1 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.1}}</td>
																</tr>
															{% endif %}
															
															{% endif %}
															{% if unitedreturn.0.stoppage == '2 STOPS' or unitedreturn.0.stoppage == '3 STOPS'%}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.2}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.2}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.2}}</td>
															</tr>
															{% if mylist3.2 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.2}}</td>
																</tr>
															{% endif %}
															
															{% endif %}
															{% if unitedreturn.0.stoppage == '3 STOPS'%}
															<tr>
																<td></td>
																<td>
																	<h5><b>Change planes </b></h5>
																</td>
															</tr>
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Depart: </b></td>
																<td><time itemprop="departureTime">{{mylist.3}}</time></td>
															</tr>
															
															
															<tr itemscope itemtype="http://schema.org/Flight">
																<td><b>Arives:</b></td>
																<td><time itemprop="arrivalTime">{{mylist1.3}}</time></td>
															</tr>
															<tr>
																<td><b>Flight:</b></td>
																<td>{{mylist2.3}}</td>
															</tr>
															{% if mylist3.3 %}
																<tr>
																	<td><b>Operated By:</b></td>
																	<td>{{mylist3.3}}</td>
																</tr>
															{% endif %}
															
															{% endif %}
													
													{% endwith %}
													{% endwith %}
													{% endwith %}
													{% endwith %}
												</table>
												</div>
												</div>
											{% endif %}	
											{% if action == 'depart' %}
													<div>
													<form action="getsearchresult" method="get">
														{% csrf_token %}
														<input type="hidden" name="cabin"  value="{{request.GET.cabin}}">
														<input type="hidden" name="rowid"  value="{{row.rowid}}">
														<input type="hidden" name="price" 
														{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%} 
														 value="{{row.maincabin}}" {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass'%} 
														 value="{{row.firstclass}}"{% else %}{% if request.GET.cabin == 'business' or cabin == 'business'%} 
														 value="{{row.business}}"{%endif%}{% endif %}>
														<input type="hidden" name="tax"
														{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%} 
														 value="{{row.maintax}}" {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass'%} 
														 value="{{row.firsttax}}"{% else %}{% if request.GET.cabin == 'business' or cabin == 'business'%} 
														 value="{{row.businesstax}}"{%endif%}{% endif %}>
														<input type="hidden" name="action"  value="return">
														<input type="hidden" name="datasource"  value="{{row.datasource}}">
														<input type="hidden" name="passenger"  value="{{request.GET.passenger}}">
														<input type="hidden" name="keyid"  value="{{row.searchkeyid}}">
														<input type="hidden" name="returnkey"  {% if returndata %} value="{{returndata}}"{%endif%}>
														<button type"submit" value="{{searchrow.searchid}}" name="return" class="btn btn-pexSearch">Other Options For Return Flight</button>
													</form>
													</div>
											{% endif %}
												<!-- END RETURN UNITED BLOCK -->
													
													
													
													<a href="#" data-toggle="modal" class="share" data-target="#share-modal" id="{{row.rowid}}">share</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							
								   
							{% endif %}
							{% if data|assignval == 0 %}
								<input type="hidden" id="nodata" name="nodata" />	
							{% endif %}	
							{% endwith %}					
							</div>
							<!--
							<div class="col-md-2 col-xs-12 nopadding "><img src="{% static 'flightsearch/img/ad.jpg' %}"  alt="Responsive image" class="img-responsive">

							</div> -->
						</div>
					</div>
				</div>
			</div>
			<script>
			// ==========show/hide details=======================================
			/*
			$(document).on('click', ".showhide", function() {
			
			    var collapse_content_selector = $(this).attr('href');
			    var toggle_switch = $(this);
			    $(collapse_content_selector).slideToggle(function () {
			        $(this).is(':visible')? toggle_switch.text('HIDE DETAILS') : toggle_switch.text('SHOW DETAILS');
			    });
			}); */
		</script>
	<!--	</div> -->
		




