<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Pex Search Result</title>
		{% include "flightsearch/header.html" %}
		{% load customfilter %}
		{% load staticfiles %}
		{% load humanize %}
		
		<body>
<style>
	.add {
    margin-left: -5px;}
</style>
			<div class="col-xs-12 nopadding">
				<div class="jumbotron">
					<div class="container-fluid">
						<div class="col-md-12 col-xs-12 nopadding">
							<div class="col-md-2 col-xs-12 nopadding filters-holder mvb10px ">
								<div class="col-xs-12 nopadding visible-xs filter-collapse form-side">
									<p class="pull-left">Filters</p>
									<p class="pull-right show-filter"><span class="glyphicon glyphicon-th-large"></span></p>
								</div>
								<form action="search" method="post">
									{% csrf_token %}
									{% if selectedrow %}
									<input type="hidden" name="rowid" value="{{selectedrow.rowid}}" />
									{% endif %}
									{% if search %}
										{% for searchrow in search %}
									<input type="hidden" name="passenger" id="traveller" value="">
									<input type="hidden" name="cabin" {% if cabin %} value="{{cabin}}" {% else %}value="{{request.GET.cabin}}"{% endif%} >	
									<input type="hidden" name="action" value="{{action}}">
									<input type="hidden" name="tax" id ="fltrtax" {% if request.GET.tax %} value="{{request.GET.tax}}" {%else%} value="{{tax}}"{% endif%}>
									<input type="hidden" name="price" id ="fltrprice" {% if request.GET.price %} value="{{request.GET.price}}" {%else%} value="{{minprice}}"{% endif%}>	
									<input type="hidden" name="searchkeyval" value="{{ searchrow.searchid }}" id="searchkey"/>
									{% if returndata %}
									<input type="hidden" name="returnkey"  value="{{returndata}}" id="returnkey"/>
									{%endif%}
									{%endfor %}
									{% endif %}
									<div class="col-md-12 col-xs-12 nopadding form-side">
										<div class="priceRangeInfo">
											DEPARTURE TIME

											<div class="slider slider-blue mvt15px" data-postfix=" $" data-min="0" data-max="2000" data-min-val="400" data-max-val="1400" data-fill="#sample-field-2" id="depart"></div>
											<span id="time"></span>
											<input type="hidden" name="depaturemin" id="depaturemin" value=""/>
											<input type="hidden" name="depaturemax" id="depaturemax" value=""/>
										</div>
										
										<div class="priceRangeInfo mvt15px">
											ARRIVAL TIME
											<div class="slider slider-blue mvt15px" data-postfix=" $" data-min="0" data-max="2000" data-min-val="400" data-max-val="1400" data-fill="#sample-field-2" id="arive"></div>
											<span id="arivaltime"></span>
										</div>
										<input type="hidden" name="arivalmin" id="arivalmin" value=""/>
										<input type="hidden" name="arivalmax" id="arivalmax" value=""/>
									</div>
									<div class="col-md-12 col-xs-12 nopadding form-side">
										<p>
											NUMBER OF STOPS
										</p>
										<div class="col-md-10 col-xs-10 nopadding">
										<div class="checkbox">
											<label>
												<input type='checkbox' id="selectallstop">
												<span></span> SELECT ALL </label>
										</div>
										<div class="checkbox">
											<label>
												<input type='checkbox' class="chk-stoppage" name="stoppage" value="NONSTOP" {% for row in filterkey.stoppage %} {% if row == 'NONSTOP'%} checked="checked" {% endif %}{%endfor %}>
												<span></span> NONSTOP </label>
										</div>
										<div class="checkbox">
											<label>
												<input type='checkbox' class="chk-stoppage" name="stoppage" value="1 STOP" {% for row in filterkey.stoppage %} {% if row == '1 STOP'%} checked="checked" {% endif %}{%endfor %}>
												<span></span> 1 STOP </label>
										</div>
										<div class="checkbox">
											<label>
												<input type='checkbox' class="chk-stoppage" name="stoppage" value="2 STOPS" {% for row in filterkey.stoppage %} {% if row == '2 STOPS'%} checked="checked" {% endif %}{%endfor %}>
												<span></span> 2+ STOPS </label>
										</div>
										</div>
									</div>
									<div class="col-md-12 col-xs-12 nopadding form-side">
									<p>AIRLINES</p>
									<div class="col-md-11 col-xs-11 nopadding">
									<div class="checkbox">
									<label>
									<input type='checkbox' id='selectairline' />
									<span></span>
									SELECT ALL
									</label>
									</div>
									<div class="checkbox">
									<label>
									<input type='checkbox' class="chk-airlines" name="airlines" value="delta" {% for row in filterkey.datasource %} {% if row == 'delta'%} checked="checked" {% endif %}{%endfor %}>
									<span></span>
									DELTA AIRLINES
									</label>
									</div>
									<div class="checkbox" >
									<label>
									<input type='checkbox' class="chk-airlines" name="airlines" value="united" {% for row in filterkey.datasource %} {% if row == 'united'%} checked="checked" {% endif %}{%endfor %}>
									<span></span>
									UINTED AIRLINES
									</label>
									</div>
									</div>
									</div>
									<!--
									<div class="col-md-12 col-xs-12 nopadding form-side">
										
										<p>
											CABIN
										</p>
										
										<div class="col-md-10 col-xs-10 nopadding">
										<div class="checkbox">
											<label>
												<input type='checkbox' id="checkallcabin" value="selectall">
												<span></span>SELECT ALL</label>
										</div>
										<div class="checkbox">
											<label>
												<input type='checkbox' class="chk" name="cabin" value="cabintype1"  {% for row in filterkey.cabin %} {% if row == 'cabintype1'%} checked="checked" {% endif %} {%endfor %}>
												<span></span> ECONOMY</label>
										</div>
										<div class="checkbox">
											<label>
												<input type='checkbox' class="chk" name="cabin" value="cabintype2" {% for row in filterkey.cabin %} {% if row == 'cabintype2'%} checked="checked" {% endif %}{%endfor %}>
												<span></span> BUSINESS </label>
										</div>
										<div class="checkbox">
											<label>
												<input type='checkbox' class="chk" name="cabin" value="cabintype3" {% for row in filterkey.cabin %} {% if row == 'cabintype3'%} checked="checked" {% endif %}{%endfor %}>
												<span></span> FIRST </label>
										</div>

									</div> 
									</div> -->
									
									<input type="hidden" name="search" value="search">
									<div class="col-md-12 col-xs-12 nopadding">
										<input type="submit" value="FILTER" class="btn  btn-pexSearch filter-serch-btn">
									</div>
								</form>
							</div>
							<div class="col-md-8 col-xs-12 xs-nopadding">

								{% if search %}
							{% for searchrow in search %}
							<div class="col-xs-12 mvb10px nopadding">
								<div class="col-xs-12 nopadding">
									<form class="form-inline" method="post" action="searchLoadingPage">
										{% csrf_token %}
									  <div class="form-group date-wd">
									    <label class="sr-only" for="exampleInputEmail3">Source</label>
									    <input type="text" tabindex="1" id="from" class="form-control" value="{{searchrow.source}}">
									  	<input type="hidden" id="fromid" name="fromMain" value="{{searchrow.origin_airport_id}}">
									  </div>
									   <div class="form-group">
									    <h4 class="for-desktop-view arrow-size">&#8594;</h4>
									    <h4 class="for-mobile-view text-center arrow-size">&#8595;</h4>
									  </div>
									  <div class="form-group date-wd">
									    <label class="sr-only" for="exampleInputPassword3">Destination</label>
									    <input type="text" tabindex="2" id="to" class="form-control" value="{{searchrow.destination}}">
									  	<input type="hidden" id="toid" name="toMain" value="{{searchrow.destination_airport_id}}">
									  </div>
									  <div class="form-group date-wd">
										 <label class="sr-only" for="exampleInputPassword3">Departure</label>
											<div class="inner-addon left-addon date" id="dp1">
										    <i class="glyphicon glyphicon-calendar"></i>
										    <input type="text"  tabindex="3" class="form-control" value="{{searchrow.traveldate|date:"m/d/Y"}}" id="departuredate" name="deptdate">
									  		</div>
									  </div>
									  {%if searchrow.returndate%}
									  <div class="form-group date-wd">
									    <label class="sr-only" for="exampleInputPassword3">return</label>
									    <div class="inner-addon left-addon date" id="dp2">
									    <i class="glyphicon glyphicon-calendar"></i>
									    <input type="text" tabindex="4" class="form-control" value="{{searchrow.returndate|date:"m/d/Y"}}" id="return" name="returndate">
									  </div>
									  </div>
									  {%endif%}
									  <!--
									  <div class="form-group">
									    <label class="sr-only" for="exampleInputPassword3">Traveller</label>
									    <div class="inner-addon left-addon " >
									    <select name="passenger" id="passenger" class="form-control">
									    	{% for i in "123456" %}
									    	<option value="{{i}}" {% if passenger == i %} selected="selected" {%endif%}>{{i}}</option>
									    	{%endfor%}
									    </select>
									  </div>
									  </div>
									  -->
										<div class="form-group" id="cabintab" tabindex="5">
						                <div class="form-group travelers-dpdn-details nomr noml" class="ui-widget">
						                  <div class="dropdown travelers-holder form-control">
						                  	<span class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="travelar">1 adult, Economy</span> <span class="caret"></span></span>
						                  	<div class="travelers-down-menu dropdown-menu" aria-labelledby="dropdownMenu1">
						                  		<div class="col-xs-12 down-menu-block">
													<span class="col-xs-4 nopadding">Class</span>
													<span class="col-xs-8 text-right nopr"><select class="custom-field-control " id="cabintype" name="cabintype">
														<option class="cabin" value="maincabin" {% if request.GET.cabin == "maincabin" or cabin == "maincabin" %} selected="selected" {% endif %}>Economy</option>
														<option class="cabin" value="firstclass" {% if request.GET.cabin == "firstclass" or cabin == "firstclass" %} selected="selected" {% endif %}>Business</option>
														<option  class="cabin" value="business" {% if request.GET.cabin == "business" or cabin == "business" %} selected="selected" {% endif %}>First</option>
														</select></span>                  			
						                  		</div>
						                  		<div class="col-xs-12 alert alert-warning"></div>
						                  		<div class="col-xs-12 down-menu-block">
						                  			<p>
													<span class="col-xs-4 nopadding">Adults</span>
													<span class="col-xs-5 text-right nopadding">
														<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
														<input type="text" class="field-width custom-field-control numberHolder qty" value="1" id="adults">
														<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>								
													</span>
													<span class="col-xs-3 nopr">18+</span> 
													</p>                 			
						                  		</div>
						                  		<div class="col-xs-12 down-menu-block">
						                  			<p>
													<span class="col-xs-4 nopadding">Seniors</span>
													<span class="col-xs-5 text-right nopadding">
														<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
														<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="senior">
														<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>								
														
													</span>
													<span class="col-xs-3 nopr">65+</span> 
													</p>                 			
						                  		</div>
						                  		<div class="col-xs-12 down-menu-block">
						                  			<p>
													<span class="col-xs-4 nopadding">Youths</span>
													<span class="col-xs-5 text-right nopadding">
														<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
														<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="youth">
														<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>								
														
													</span>
													<span class="col-xs-3 nopr">12-17</span>  
													</p>                			
						                  		</div>
						                  		<div class="col-xs-12 down-menu-block">
						                  			<p>
													<span class="col-xs-4 nopadding">Children</span>
													<span class="col-xs-5 text-right nopadding">
														<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
														<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="children">								
														<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>
														
													</span>
													<span class="col-xs-3 nopr">2-11</span>
													</p>                  			
						                  		</div>
						                  		<div class="col-xs-12 down-menu-block">
						                  			<p>
													<span class="col-xs-4 nopadding">Seat infants</span>
													<span class="col-xs-5 text-right nopadding">
														<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
														<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="seatinfants">								
														<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>
														
													</span>
													<span class="col-xs-3 nopr">under 2</span>  
													</p>                			
						                  		</div>
						                  		<div class="col-xs-12 down-menu-block">
						                  			<p>
													<span class="col-xs-4 nopadding">Lap infants</span>
													<span class="col-xs-5 text-right nopadding">
														<span class="btn btn-default btn-xs minus"><span class="glyphicon glyphicon-minus"></span></span>
														<input type="text" class="field-width custom-field-control numberHolder qty" value="0" id="lapinfants">								
														<span class="btn btn-default btn-xs add"><span class="glyphicon glyphicon-plus"></span></span>
														
													</span>
													<span class="col-xs-3 nopr">under 2</span> 
													</p>              			
						                  		</div>
						                  		<input type="hidden" id="passenger" name="passenger" value="">
						                  	</div>
						                  </div>
						                </div>
						                
						              </div>
									  <div class="form-group">
									    <button class="btn  btn-pexSearch" tabindex="6">Change</button>
									  </div>
									</form>
									<!--
									<h4>{% if action == 'return' %}Return : {% endif %}{{searchrow.source}} &#10230; {{searchrow.destination}} </h4>
									<h4> {{searchrow.traveldate}}<!--<input type="text" id="datepicker" name="date" value="{{searchdate}}"></h4>-->
								</div>
							</div>
							{%endfor %}
							{% endif %}
								
								<!--
								{% if selectedrow %}
								
								<div class="col-xs-12 selected-flights bgclr">
									<div class="col-md-5 col-xs-12 nopadding">
										<div class="col-xs-12 nopadding">
											<div class="col-xs-12 nopadding">
												<div class="arrivel col-xs-5 col-sm-5 nopadding">
													<p>
														{{selectedrow.origin}}
													</p>
													<p>
														{{selectedrow.departure}}
													</p>
												</div>
												<div class="arrow-div col-sm-2 nopadding">&#8594;</div>
												<div class="arrivel-2 col-xs-5 col-sm-5 nopadding text-right">
													<p>
														{{selectedrow.destination}}
													</p>
													<p>
														{{selectedrow.arival}}
													</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-md-2 col-xs-6 text-center xs-nopadding xs-margin-20">
										{% if selectedrow.datasource == "united" %}
										<img src="{% static 'flightsearch/img/unitedLogo.png' %}" class="img-responsive" alt="Responsive image">{% endif %}
										{% if selectedrow.datasource == "delta" %}
										<img src="{% static 'flightsearch/img/deltaLogo.jpg' %}" class="img-responsive" alt="Responsive image">{% endif %}
										<h5>OUTBOUND</h5>
									</div>
											<div class="col-sm-5 col-xs-6 col-xs-12 nopadding for-mobile-view text-right xs-margin-20">
												<p class="flight-name">
													{{selectedrow.flighno}} 
												</p>
												<p class="stops-dur"><span>{{selectedrow.stoppage}}</span> <span>{{row.duration}}</span></p>												
											</div>
									<div class="col-md-5 col-xs-12 nopadding">
										<div class="col-xs-12 nopadding">
											<div class="col-sm-5 col-xs-12 nopadding for-desktop-view">
												<p class="flight-name">
													{{selectedrow.flighno}} 
												</p>
												<p class="stops-dur"><span>{{selectedrow.stoppage}}</span> <span>{{row.duration}}</span></p>												
											</div>
											<div class="col-sm-7 col-xs-12 nopadding">
												<div class="col-xs-12 nopadding text-center">
													{% if selectedrow.cabintype1 and selectedrow.maincabin %}
													<h5 class="econo"> {{row.cabintype1}} </h5>
													<div class="col-xs-12 nopadding na-ra">
														<p class="flight-rate">
															{% if selectedrow.datasource == "delta" %}
															{{selectedrow.maincabin|add:minprice|intcomma}} {%else%}{{selectedrow.maincabin|intcomma}} {%endif%} Miles
														</p>
														<p>+</p>
														<h6 class="nomt">${{selectedrow.maintax|floatadd:tax|floatformat:2}}</h6>
													</div>
													
													{% endif %}
												</div>												
											</div>											
										</div>
									</div>
									
									<div class="col-xs-12 nopadding pop-hover xs-nopadding">
											<a class="" role="button" data-toggle="collapse" href="#{{selectedrow.rowid}}" aria-expanded="false" aria-controls="collapseExample">SHOW DETAILS</a>
											<div class="collapse" id="{{selectedrow.rowid}}">
												<div class="well">
													<h2>DEPART</h2>
													<p>
														COMPANY FLIGHT (ECO)
													</p>
													<div class="table-responsive table-date-search">
														<table class="table">
															<tr>
																<td>{{selectedrow.departure}}</td>
																<td>{{searchdate}}</td>
																<td>{{selectedrow.origin}}</td>
															</tr>
															<tr>
																<td>{{selectedrow.arival}}</td>
																<td>{{searchdate}}</td>
																<td>{{selectedrow.destination}}</td>
															</tr>
														</table>
													</div>
													<a href="#">share</a>
													
												</div>
											</div>
										</div>
								</div>
							{% endif %}
							-->
							
							
							{% if data %}
								
								
								{% for row in data %}
								<div class="col-md-12 col-xs-12 centr-info responsive-color-img">
									<div class="col-xs-6 visible-xs nopl">
										<div class="col-xs-12 nopadding text-center">
											{% if row.datasource == "united" %}
												<img src="{% static 'flightsearch/img/unitedLogo.png' %}" class="img-responsive" alt="Responsive image">
											{% endif %}
											{% if row.datasource == "delta" %}
												<img src="{% static 'flightsearch/img/deltaLogo.jpg' %}" class="img-responsive" alt="Responsive image">
											{% endif %}
										</div>
									</div>
									<div class="col-md-12 col-xs-6 nopadding">
										<p class="flight-name">
											{{row.flighno}} <!--FIRST FLIGHT OPTION RESULT-->
										</p>
									</div>
									<div class="col-md-5 col-xs-12 nopadding hidden-xs">
										<div class="col-sm-8 col-xs-12 nopadding">
											<div class="col-md-12 col-xs-12 nopadding">
													<div class="col-xs-12 nopadding xs-margin-25px">
														{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin' %}
												  
															<div class="col-xs-12 nopadding mvb10px na-ra">
																<p class="flight-rate">
																	{% if row.datasource == "delta" %}
																	{{row.maincabin|add:minprice|intcomma}} {%else%}{{row.maincabin|intcomma}} {%endif%} Miles + <span>${{row.maintax|floatadd:tax|floatformat:2}}</span>
																</p>
															</div> 
														
														{% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %}
															<div class="col-xs-12 nopadding mvb10px na-ra">
															<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.firstclass|add:minprice|intcomma}} {%else%}{{row.firstclass|intcomma}} {%endif%} Miles + <span>${{row.firsttax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
														{% else %}
															{% if request.GET.cabin == 'business' or cabin == 'business' %}
															<div class="col-xs-12 nopadding mvb10px na-ra">
															<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.business|add:minprice|intcomma}} {%else%}{{row.business|intcomma}} {%endif%} Miles + <span>${{row.businesstax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
														{% endif %}
													{%endif%}
													</div>
											</div>
										</div>
										<div class="col-sm-4 col-xs-12 nopl">
											<div class="col-xs-12 nopadding text-center mvb10px">
												{% if row.datasource == "united" %}
												<img src="{% static 'flightsearch/img/unitedLogo.png' %}" class="img-responsive" alt="Responsive image">{% endif %}
												{% if row.datasource == "delta" %}
												<img src="{% static 'flightsearch/img/deltaLogo.jpg' %}" class="img-responsive" alt="Responsive image">{% endif %}
											</div>
										</div>
									</div>
									<div class="col-md-7 col-xs-12 nopadding">
										<div class="col-md-8 col-xs-12 nopadding">
											<div class="col-xs-12 nopadding">
												<div class="arrivel col-sm-5 nopadding col-xs-4">
													<p>
														{{row.origin}}
													</p>
													<p>
														{{row.departure}}
													</p>
												</div>
												<div class="arrow-div col-sm-2 col-xs-1 text-center nopadding">&#8594;</div>
												<div class="arrivel-2 col-sm-4 nopadding text-right col-xs-4 xs-text-center">
													<p>
														{{row.destination}}
													</p>
													<p>
														{{row.arival}}
													</p>
												</div>
												<div class="col-xs-3 nopadding visible-xs text-right">
													<div class="col-xs-12 nopadding non-stop text-right">
														<p>
															{{row.stoppage}}
														</p>
													</div>
													<div class="col-xs-12 nopadding non-stop">
														<p>
															{{row.duration}}
														</p>
													</div>
												</div>
											</div>
											<!-- div class="col-xs-12 nopadding visible-xs">
												<div class="col-xs-6 nopl non-stop">
													<p>
													{{row.duration}}
													</p>
												</div>
												<div class="col-xs-6 nopr non-stop text-right">
													<p>
													{{row.stoppage}}
													</p>
												</div>
											</div -->
									<a class="show-details" role="button" data-toggle="collapse" href="#{{row.rowid}}" aria-expanded="false" aria-controls="collapseExample">SHOW DETAILS</a>		
									<div class="col-xs-12 nopadding mvt10px for-mobile-view"> <!-- main data only mobile -->
										<div class="col-xs-12 nopadding text-center custome-edit-block"> 
											{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin' %}
											
													
													<div class="col-xs-12 nopadding mvb10px na-ra">
													<h5 class="econo edit-width-econo">{{row.cabintype1}}</h5>
													<div class="right-data-responsive">
														<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.maincabin|add:minprice|intcomma}} {%else%}{{row.maincabin|intcomma}} {%endif%} Miles + <span>${{row.maintax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
													</div>
											{% if action == 'depart' %}
													<div>
														<!--
													<form action="getsearchresult" method="get">
														{% csrf_token %}
														<input type="hidden" name="price"  value="{{row.business}}">
														<input type="hidden" name="rowid"  value="{{row.rowid}}">
														<input type="hidden" name="cabin"  value="{{request.GET.cabin}}">
														<input type="hidden" name="tax"  value="{{row.businesstax}}">
														<input type="hidden" name="action"  value="return">
														<input type="hidden" name="keyid"  value="{{row.searchkeyid}}">
														<input type="hidden" name="returnkey"  {% if returndata %} value="{{returndata}}"{%endif%}>
														<button type="submit" class="btn btn-pexSearch" value="{{searchrow.searchid}}" name="return" >SELECT</button>
													</form> -->
													</div>
													{% endif %}
											{% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %}
													
													<div class="col-xs-12 nopadding mvb10px na-ra">
														<h5 class="econo edit-width-econo">{{row.cabintype2}}</h5>
														<div class="right-data-responsive">
														<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.firstclass|add:minprice|intcomma}} {%else%}{{row.firstclass|intcomma}} {%endif%} Miles + <span>${{row.firsttax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
													</div>
													{% if action == 'depart' %}
													<div>
														<!--
													<form action="getsearchresult" method="get">
														{% csrf_token %}
														<input type="hidden" name="price"  value="{{row.firstclass}}">
														<input type="hidden" name="rowid"  value="{{row.rowid}}">
														<input type="hidden" name="cabin"  value="{{request.GET.cabin}}">
														<input type="hidden" name="tax"  value="{{row.firsttax}}">
														<input type="hidden" name="action"  value="return">
														<input type="hidden" name="keyid"  value="{{row.searchkeyid}}">
														<input type="hidden" name="returnkey"  {% if returndata %} value="{{returndata}}"{%endif%}>
														<button type="submit" class="btn btn-pexSearch" value="{{searchrow.searchid}}" name="return" >SELECT</button>
													</form>  -->
													</div>
													{% endif %}
											{% else %}
													{% if request.GET.cabin == 'business' or cabin == 'business' %}

														<div class="col-xs-12 nopadding mvb10px na-ra">
															<h5 class="econo edit-width-econo">{{row.cabintype3}}</h5>
															<div class="right-data-responsive">
															<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.business|add:minprice|intcomma}} {%else%}{{row.business|intcomma}} {%endif%} Miles + <span>${{row.businesstax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
														</div>
														{% if action == 'depart' %}
														<div> <!--
														<form action="getsearchresult" method="get">
															{% csrf_token %}
															<input type="hidden" name="price"  value="{{row.maincabin}}">
															<input type="hidden" name="rowid"  value="{{row.rowid}}">
															<input type="hidden" name="cabin"  value="{{request.GET.cabin}}">
															<input type="hidden" name="tax"  value="{{row.maintax}}">
															<input type="hidden" name="action"  value="return">
															<input type="hidden" name="keyid"  value="{{row.searchkeyid}}">
															<input type="hidden" name="returnkey"  {% if returndata %} value="{{returndata}}"{%endif%}>
															<button type="submit" class="btn btn-pexSearch" value="{{searchrow.searchid}}" name="return" >SELECT</button>
														</form>-->
														</div>
														{% endif %}
													{% elif row.cabintype2 != ''%}
													
															<div class="col-xs-12 nopadding mvb10px na-ra">
																<h5 class="econo edit-width-econo">{{row.cabintype2}}</h5>
																<div class="right-data-responsive">
																<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.maincabin|add:minprice|intcomma}} {%else%}{{row.maincabin|intcomma}} {%endif%} Miles + <span>${{row.maintax|floatadd:tax|floatformat:2}}</span>
															</p></div>
															</div>
															{% if action == 'depart' %}
															<div>
																<!--
															<form action="getsearchresult" method="get">
																{% csrf_token %}
																<input type="hidden" name="price"  value="{{row.firstclass}}">
																<input type="hidden" name="rowid"  value="{{row.rowid}}">
																<input type="hidden" name="cabin"  value="{{request.GET.cabin}}">
																<input type="hidden" name="tax"  value="{{row.firsttax}}">
																<input type="hidden" name="action"  value="return">
																<input type="hidden" name="keyid"  value="{{row.searchkeyid}}">
																<input type="hidden" name="returnkey"  {% if returndata %} value="{{returndata}}"{%endif%}>
																<button type="submit" class="btn btn-pexSearch" value="{{searchrow.searchid}}" name="return" >SELECT</button>
															</form> -->
															</div>
															{% else %}
															<div>
															</div>
															{% endif %}
													 {% else %}
														
													<div class="col-xs-12 nopadding mvb10px na-ra">
													<h5 class="econo edit-width-econo">{{row.cabintype3}}</h5>
													<div class="right-data-responsive">
														<p class="flight-rate">
																{% if row.datasource == "delta" %}
																{{row.maincabin|add:minprice|intcomma}} {%else%}{{row.maincabin|intcomma}} {%endif%} Miles + <span>${{row.maintax|floatadd:tax|floatformat:2}}</span>
															</p>
														</div>
													</div>
											{% if action == 'depart' %}
													<div>
														<!--
													<form action="getsearchresult" method="get">
														{% csrf_token %}
														<input type="hidden" name="price"  value="{{row.business}}">
														<input type="hidden" name="rowid"  value="{{row.rowid}}">
														<input type="hidden" name="cabin"  value="{{request.GET.cabin}}">
														<input type="hidden" name="tax"  value="{{row.businesstax}}">
														<input type="hidden" name="action"  value="return">
														<input type="hidden" name="keyid"  value="{{row.searchkeyid}}">
														<input type="hidden" name="returnkey"  {% if returndata %} value="{{returndata}}"{%endif%}>
														<button type="submit" class="btn btn-pexSearch" value="{{searchrow.searchid}}" name="return" >SELECT</button>
													</form> -->
													</div>
													{% else %}
													<div>
													</div>
													{% endif %}
													{% endif %}
											{% endif%}											
										</div>
									</div>  
											
										</div>
										<div class="col-md-4 col-xs-12 text-center nopr hidden-xs">
											<div class="col-xs-12 nopadding non-stop">
												<p>
													{{row.stoppage}}
												</p>
												<p>
													{{row.duration}}
												</p>

											</div>
											<h4 class="econo nomt"> 
												{% if request.GET.cabin == 'maincabin' or cabin == 'maincabin'%}
												{{row.cabintype1}} {% elif request.GET.cabin == 'firstclass' or cabin == 'firstclass' %} {{row.cabintype2}} {% else%}{{row.cabintype3}} {% endif %}</h4>
											
										</div>
										<div class="col-xs-12 pop-hover nopadding">
											<div class="collapse" id="{{row.rowid}}">
												<div class="well">
													<h2>DEPART</h2>
													<p>
														COMPANY FLIGHT (ECO)
													</p>
													<div class="table-responsive table-date-search">
														<table class="table">
															{% with row.departdetails|split:'@' as mylist%}
															{% with row.arivedetails|split:'@' as mylist1%}
															{% with row.planedetails|split:'@' as mylist2%}
															<tr>
																<td>Depart:</td>
																<td>
																{{mylist.0}}
																</td>
															</tr>
															
															
															<tr>
																<td>Arives:</td>
																<td>
																{{mylist1.0}} 
																</td>
															</tr>
															<tr>
																<td>Flight:</td>
																<td>
																{{mylist2.0}}
																</td>
															</tr>
															{% if row.stoppage == '1 STOP' or row.stoppage == '2 STOPS' %}
															<tr>
																<td></td>
																<td>
																	<h4>Change planes </h4>
																</td>
															</tr>
															<tr>
																<td>Depart:</td>
																<td>
																{{mylist.1}}
																</td>
															</tr>
															
															
															<tr>
																<td>Arives:</td>
																<td>
																{{mylist1.1}} 
																</td>
															</tr>
															<tr>
																<td>Flight:</td>
																<td>
																{{mylist2.1}}
																</td>
															</tr>
															
															{% endif %}
															{% if row.stoppage == '2 STOPS' %}
															<tr>
																<td></td>
																<td>
																	<h4>Change planes </h4>
																</td>
															</tr>
															<tr>
																<td>Depart:</td>
																<td>
																{{mylist.2}}
																</td>
															</tr>
															
															
															<tr>
																<td>Arives:</td>
																<td>
																{{mylist1.2}} 
																</td>
															</tr>
															<tr>
																<td>Flight:</td>
																<td>
																{{mylist2.2}}
																</td>
															</tr>
															
															{% endif %}
															
															
															
															{% endwith %}
															{% endwith %}
															{% endwith %}
															
														</table>
													</div>
													<a href="#">share</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							{% endif %}
							
							
							</div>

							<div class="col-md-2 col-xs-12 nopadding "><img src="{% static 'flightsearch/img/ad.jpg' %}"  alt="Responsive image" class="img-responsive">

							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
			 $(function(){
	 		$('#return').datetimepicker({format: "m/d/Y",'timepicker': false,closeOnDateSelect: true,scrollMonth: false});
            $('#departuredate').datetimepicker({ format: "m/d/Y",minDate: 0,'timepicker': false,closeOnDateSelect: true,scrollMonth: false,
                        onSelectDate: function(selectedDate)
                        {
                                $("#return").focus();
                                $( "#return" ).datetimepicker({format: "m/d/Y", minDate: selectedDate,scrollMonth: false });
                        }
               });
       });

			
			
			
			$('#passenger').change(function(){
				$('#traveller').val($('#passenger').val());
			});
		</script>
		    
			<!--

			<script>

			jQuery(window).load(function()
			{

			var $ = jQuery;

			$("#datatable").dataTable({
			{ "data": "Flight No." },
			{ "data": "Source Station" },
			{ "data": "Departure Time" },
			{ "data": "Main Cabin" },
			{ "data": "First/Business" },
			{ "data": "Arival Time" },
			{ "data": "Destination Station" },

			]
			});
			/*
			$("#datatable tbody input[type=checkbox]").each(function(i, el)
			{
			var $this = $(el),
			$p = $this.closest('tr');

			$(el).on('change', function()
			{
			var is_checked = $this.is(':checked');

			$p[is_checked ? 'addClass' : 'removeClass']('highlight');
			});
			});

			// Replace Checboxes
			$(".pagination a").click(function(ev)
			{
			replaceCheckboxes();
			});*/

			});

			// Sample Function to add new row
			var giCount = 1;
			</script>
			<link rel="stylesheet" href="{% static 'flightsearch/datatables/responsive/css/datatables.responsive.css' %}">
			<script src="{% static 'flightsearch/js/vendor/jquery-1.11.2.min.js' %}"></script>
			<script src="{% static 'flightsearch/js/jquery.dataTables.min.js' %}"></script>
			<script src="{% static 'flightsearch/datatables/TableTools.min.js' %}"></script>
			<script src="{% static 'flightsearch/datatables/jquery.dataTables.columnFilter.js' %}"></script>
			<script src="{% static 'flightsearch/datatables/responsive/js/datatables.responsive.js' %}"></script>
			<script src="{% static 'flightsearch/datatables/lodash.min.js' %}"></script>
			<script src="{% static 'flightsearch/js/dataTables.bootstrap.js' %}"></script>
			-->
			{% include "flightsearch/footer.html" %}
			<script src="{% static 'flightsearch/js/vendor/bootstrap.min.js' %}"></script>
			<script>
				$(document).ready(function(){
					if(($('.chk-airlines').length) != ($('.chk-airlines:checked').length)){
						
						$("#selectairline").prop('checked', false);
					}
					else
					{ 
						$("#selectairline").prop('checked', true);
					}
					
					if(($('.chk-stoppage').length) != ($('.chk-stoppage:checked').length)){
						
						$("#selectallstop").prop('checked', false);
					}
					else
					{ 
						$("#selectallstop").prop('checked', true);
					}
					
				});
			</script>
			<script>
			//@@@ SELECT ALL CABIN@@@@@@@@@ 
			$(document).ready(function() {
					
			$("#checkallcabin").on("click", function() {
			        if ($(this).is(':checked')) {
			        	$(".chk").each(function(){
			        		this.checked = true; 
			        	
			        });
			        } else {
			            $(".chk").each(function(){
	        			this.checked = false;
	            	});
		        }
		    	});
		    $(".chk").on("click",function(){
		    	if(!$(this).is(':checked')){
		    		$("#checkallcabin").attr('checked', false);
		    	}
		    });
		    
		    
		    //@@@@ SELECT ALL AIRLINES @@@@@@@@@
		    
		    $("#selectairline").on("click", function() {
			        if ($(this).is(':checked')) {
			        	$(".chk-airlines").each(function(){
			        		this.checked = true; 
			        	
			        });
			        } else {
			            $(".chk-airlines").each(function(){
	        			this.checked = false;
	            	});
		        }
		    	});
		    $(".chk-airlines").on("click",function(){
		    	if(!$(this).is(':checked')){
		    		$("#selectairline").attr('checked', false);
		    	}
		    });
		    
		   //@@@@ SELECT ALL STOPPAGE @@@@@@@@@ 
		   
		    $("#selectallstop").on("click", function() {
			        if ($(this).is(':checked')) {
			        	$(".chk-stoppage").each(function(){
			        		this.checked = true; 
			        	
			        });
			        } else {
			            $(".chk-stoppage").each(function(){
	        			this.checked = false;
	            	});
		        }
		    	});
		    $(".chk-stoppage").on("click",function(){
		    	if(!$(this).is(':checked')){
		    		$("#selectallstop").attr('checked', false);
		    	}
		    });
		   
		   });
			</script>

			<script>
			var deptmintime ;
			var arivemintime; 
			var deptmaxtime;
			var arivemaxtime;
			
			function timeconversion(time)
			{
					var val = time;
					var hour;
					ampm = val.split(' ');
					mindepature = ampm[0].split(':');
					hour = mindepature[0];
					
					if($.trim(ampm[1]) != "p.m." && $.trim(ampm[1]) != "PM") 
					{
						
		
						if(parseInt(hour) > 11)
						{
							hour = 0;
						}	
					}
					else
					{
						
						hour = parseInt(hour)+12;
						
					}
					minute = mindepature[1];	
					deptmin = (hour*60);
					if(minute)
					{
						deptmin = parseInt(deptmin)+parseInt(minute);
					}
					
					return deptmin;
					
				
			}
			
				{%if timedata %}
				
					
					var dept = "{{ timedata.mindept }}";
					if(dept != "None")
					{
						deptmintime = timeconversion(dept);
					}
					else{
						deptmintime=0;
					}
					
					var arive = "{{ timedata.minarival }}";
					if(arive != "None")
					{
						arivemintime = timeconversion(arive);
					}
					else{
						arivemintime=0;
					}
					var maxdeparture = "{{ timedata.maxdept }}";
					if(maxdeparture != "None")
					{
						deptmaxtime = timeconversion(maxdeparture);
					}
					else{
						deptmaxtime=1439;
					}
					
					var maxarivaltime = "{{ timedata.maxarival }}";
					
					if(maxarivaltime != "None")
					{
						
						arivemaxtime = timeconversion(maxarivaltime);
						
					}
					else{
						arivemaxtime=1439;
					}
					
					
				{% endif%}
			
			
			
			 
			 
			
				/*************************** SLIDER DECTION  ******************************/
				$("#depart").slider({
					range : true,
					min : 0,
					max : 1439,
					values : [deptmintime, deptmaxtime],
					slide : slideTime1
				});

				function slideTime1(event, ui) {
					var val0 = $("#depart").slider("values", 0),
						val1 = $("#depart").slider("values", 1),
					    minutes0 = parseInt(val0 % 60, 10),
					    hours0 = parseInt(val0 / 60 % 24, 10),
					    minutes1 = parseInt(val1 % 60, 10),
					    hours1 = parseInt(val1 / 60 % 24, 10);
						start = getTime(hours0, minutes0);
						end = getTime(hours1, minutes1);
						$('#depaturemin').val(start);
						$('#depaturemax').val(end);
						$("#time").text(start + ' - ' + end);
				}

				$("#arive").slider({
					range : true,
					min : 0,
					max : 1439,
					values : [arivemintime, arivemaxtime],
					slide : slideTime
				});

				function slideTime(event, ui) {
					var val0 = $("#arive").slider("values", 0),
					    val1 = $("#arive").slider("values", 1),
					    minutes0 = parseInt(val0 % 60, 10),
					    hours0 = parseInt(val0 / 60 % 24, 10),
					    minutes1 = parseInt(val1 % 60, 10),
					    hours1 = parseInt(val1 / 60 % 24, 10);
						startTime = getTime(hours0, minutes0);
						$('#arivalmin').val(startTime);
						endTime = getTime(hours1, minutes1);
						$('#arivalmax').val(endTime);
						$("#arivaltime").text(startTime + ' - ' + endTime);
				}

				function getTime(hours, minutes) {
					var time = null;
					minutes = minutes + "";
					if (hours < 12) {
						time = "AM";
					} else {
						time = "PM";
					}
					if (hours == 0) {
						hours = 12;
					}
					if (hours > 12) {
						hours = hours - 12;
					}
					if (minutes.length == 1) {
						minutes = "0" + minutes;
					}
					return hours + ":" + minutes + " " + time;
				}

				slideTime();
				slideTime1();
				
	$(function() {
    
    $( "#from" ).autocomplete({
    	open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
    	autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#fromid').val(ui.item.id);
    	},
    });
    $( "#to" ).autocomplete({
    	open: function(event, ui) {
	        	$('.ui-autocomplete').off('menufocus hover mouseover');
    		},
    	autoFocus: true,
    	source: "get_airport/",
    	minLength: 2,
    	select: function(event, ui) {
    		$('#toid').val(ui.item.id);
    	},
    });
  });
			</script>
			
<script>
	$(function(){
		if ($(window).width() < 768) {
			$(".filters-holder").addClass('filters-holder-ht');
			$(".show-filter").click(function(){
				$(this).parent().parent().toggleClass('filters-holder-ht');
			});
		}
		$("#cabintab").focus(function(){
			$(".travelers-holder").addClass('open');
			return false;
		});
		$("#cabintab").focusout(function(){
			$(".travelers-holder").removeClass('open');
		});
		$("#cabintab").click(function(){
			$(".travelers-holder").addClass('open');
			return false;
		});
	});
</script>
<script>
	$(document).ready(function() {
		$(".alert-warning").hide();
		var tno='';
		if("{{request.GET.passenger}}"){
			tno = "{{request.GET.passenger}}";
		}
		else{
			tno ="{{passenger}}";
		}
		$('#adults').val(tno);			
		$('#traveller').val(tno);
		//$('#passenger').val(tno);
		travelinfo();
	});
</script>
<script>
	
	var total;
	
//@@increase decrease on buttom click
    $(function () {
    $('.add').on('click',function(){
    	total = tatalpassenger();
    	if(total < 6 )
    	{
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal)) {
            $qty.val(currentVal + 1);
        }
        travelinfo();
       }
    });
    $('.minus').on('click',function(){
    	total = tatalpassenger();
    	if(total > 0){
        var $qty=$(this).closest('p').find('.qty');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $qty.val(currentVal - 1);
        }
        
        travelinfo();
       }
    });
    
});
$('#cabintype').on('change',function(){
	travelinfo();
});
/*
$(document).ready(function(){
	$('#passenger').val('1');
	$(".alert-warning").hide();
});
*/
//@@@Cabin select@@@@

$(document).ready(function(){
	//travelinfo();
	
});



function travelinfo(){
	total = tatalpassenger();
	$('#passenger').val(total);
	var text;
	if(total == 1){
		text = "traveller";
	}
	else{
		text = "travellers";
	}
	var selectedcabin = $("#cabintype option:selected").text();
	var html = "<span id='travelar'>"+total+" "+text+", "+selectedcabin+"</span>";
	$('#travelar').replaceWith(html);
	if(total == 0){
		var msg='';
		$('#submitid').prop('disabled', true);
		$(".alert-warning").empty();
		msg="You must select atleast one traveller";
		$(".alert-warning").append(msg);
		$(".alert-warning").show();
	}
	else{
		$('#submitid').prop('disabled', false);
		$(".alert-warning").hide();
	}
}
//@@@Total Passenger@@@@
function tatalpassenger() {
var sum = 0;
$('.numberHolder').each(function(){
    sum += parseFloat($(this).val());
});
return sum;
};
 
//@@not close on click dropdown

  $('.dropdown-menu .down-menu-block').click(function(e) {
        e.stopPropagation();
    });
	
</script>

