<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                /*padding-top: 50px;*/
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>/-->
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
          $(function(){
            $('.datepicker').datepicker();
          });
          /*jQuery( document ).ready(function( $ ) {
            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

            var checkin = $('#dp1').datepicker({
                language: "pt",
                format: "dd/mm/yyyy",
                beforeShowDay: function (date) {
                    return date.valueOf() < now.valueOf() ? false : '';
                }
            }).on('changeDate', function (ev) {
                if (ev.date.valueOf() > checkout.date.valueOf()) {
                    var newDate = new Date(ev.date);
                    newDate.setDate(newDate.getDate() + 1);

                    checkout.setValue(newDate);
                }

                checkin.hide();
                $('#DtChkOut').focus();
            }).data('datepicker');

            var checkout = $('#dp2').datepicker({
                language: "pt",
                format: "dd/mm/yyyy",
                beforeShowDay: function (date) {
                    return date.valueOf() <= checkin.date.valueOf() ? false : '';
                }
            }).on('changeDate', function (ev) {
                checkout.hide();
            }).data('datepicker');
          });*/
        </script>
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- NAVBAR SECTION/-->

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pexMainNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>

            <a class="navbar-brand brandmedia" href="http://www.pexportal.com"><img src="img/logoMain.jpg" alt="" class="hidden-xs hidden-sm hidden-md"><img src="img/logo.jpg" alt="" class="hidden-lg hidden-xs"><img src="img/logo.jpg" alt="" class="hidden-lg hidden-md hidden-sm"></a>
          </div>

          <div class="collapse navbar-collapse" id="pexMainNavbar">
            <ul class="nav navbar-nav mainNav mvt30px">
              <li class=""><a href="#">Flights</a></li>
              <li class=""><a href="#">Hotels</a></li> 
              <li class=""><a href="#">Cars</a></li>
              <li class=""><a href="#">Cruises</a></li> 
              <li class=""><a href="#">Restaurants</a></li>
            </ul>   
            <ul class="nav navbar-nav navbar-right">
              <li class=""><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li class=""><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li class=""><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
            </ul>
          </div>
        </div>
      </nav>

<!-- BODY SECTION/-->

    <div class="">
      <div class="jumbotron">
        <div class="container-fluid">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-2 col-xs-12 nopadding">
			<div class="col-md-12 col-xs-12 nopadding form-side">
					<div class="priceRangeInfo">
					DEPARTURE TIME
					  <input type="range" name="buying_slider_min" id="buying_slider_min" class="minBuyingSlider" value="0" min="0" max="100" />
					</div>
					<div class="priceRangeInfo mvt15px">
					ARRIVAL TIME
					  <input type="range" name="buying_slider_min" id="buying_slider_min" class="minBuyingSlider" value="0" min="0" max="100" />
					</div>
			</div>
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<p>NUMBER OF STOPS</p>
				<form>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  NONSTOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  STOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  2+ STOPS
						</label>
					  </div>
				</form>
				</div>
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<p>NUMBER OF STOPS</p>
				<form>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  NONSTOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  STOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  2+ STOPS
						</label>
					  </div>
				</form>
				</div>
				<div class="col-md-12 col-xs-12 nopadding form-side">
					<p>NUMBER OF STOPS</p>
				<form>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  NONSTOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  STOP
						</label>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type='checkbox'>
						  <span></span>
						  2+ STOPS
						</label>
					  </div>
				</form>
				</div>
				</div>
				<div class="col-md-8 col-xs-12 ">
					<div class="col-md-12 col-xs-12 centr-info">
						<div class="col-md-6 col-xs-12 nopadding">
						<div class="col-md-12 col-xs-12 nopadding">
							<div class="col-md-8 col-xs-12 nopadding na-ra">
								<p class="flight-name">FIRST FLIGHT OPTION RESULT</p>
								<p class="flight-rate">4,500 POINTS + $5.00</p>
							</div>
							<div class="col-md-4 col-xs-12"><img src="img/logoMain.jpg" class="img-responsive" alt="Responsive image"></div>
						</div>
						</div>
						<div class="col-md-6 col-xs-12 nopadding">	
						<div class="col-md-12 col-xs-12 nopadding">	
							<div class="col-md-8 col-xs-12 nopadding">
								<div class="arrivel">
									<p>FILL</p>
									<p>19:25</p>
								</div>
								<div class="arrow-div">
								</div>
								<div class="arrivel-2">
									<p>FILL</p>
									<p>19:25</p>
								</div>
	
								
								
							</div>
							
							<div class="col-md-2 col-xs-12 non-stop">
							<p>NONSTOP</p>
							
							</div>
						</div>	
						<div class="col-xs-12 nopadding pop-hover"><p class="econo">ECONOMY</p>
									<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">SHOW DETAILS</a>
								<div class="collapse" id="collapseExample">
								  <div class="well">
									<h2>DEPART</h2>
									<p>COMPANY FLIGHT (ECO)</p>
									<div class="table-responsive table-date-search">
									  <table class="table">
										<tr>
											<td>19:25</td>
											<td>Flight Date</td>
											<td>Fll Ft. lauderdale</td>
										</tr>
										<tr>
											<td>19:25</td>
											<td>Flight Date</td>
											<td>Fll Ft. lauderdale</td>
										</tr>
									  </table>
									</div>
									<a href="#">share</a>
								  </div>
								</div>
								</div>
						</div>	
						</div>
						
					</div>
				
				
				<div class="col-md-2 col-xs-12 nopadding"><img src="img/ad.jpg" class="img-responsive" alt="Responsive image"></div>
			</div>
        </div>
      </div>
 </div>

      <footer class="container-footer">
        <nav class="navbar navbar-footer">
          <div class="container-fluid">
            
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <center >
              <ul class="nav navbar-nav navbar-footerfont">
                <li><a href="#">About</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </center>
              <br />
              <ul class="nav navbar-nav navbar-footerimg">
                <li class=""><a href="http://www.twitter.com/PEXPlus"><img src="img/twtr.png"></a></li>
                <li class=""><a href="http://www.facebook.com/PEXPlus"><img src="img/fb.png"></a></li>
                <li class=""><a href="http://www.instagram.com/PEXPlus"><img src="img/instgm.png"></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="footertext">
          <div class="footertext-copyright">
            <div class="text-center">
              <p class="">Copyright 2015 PEX+. All Rights Reserved. </p>
              <p class="alignright pspacerv15t textalignright spacerh15r">Search cheap rewards flights with PEX+ Awards Search. Find the cheapest airline rewards tickets for all top airlines around the world and the top international flight routes. PEX+ Awards Search searches hundreds of travel sites to help you find and book the rewards flight that suits you best.</p>
              <br />
            </div>
          </div>
        </div>
      </footer>

      <!-- <footer class="container-footer">
      <center>
        
        bla bla lba
      </center>
        <div class="container">
              <nav class="navbar navbar-footer">
                <div class="container-fluid">
                  
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <ul class="nav navbar-nav navbar-footerfont">
                          <li><a href="#">About</a></li>
                          <li><a href="#">How It Works</a></li>
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">Privacy</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4 col-sm-offset-4">
                        <ul class="nav navbar-nav navbar-footerimg">
                          <li class=""><a href="http://www.twitter.com/PEXPlus"><img src="img/twtr.png"></a></li>
                          <li class=""><a href="http://www.facebook.com/PEXPlus"><img src="img/fb.png"></a></li>
                          <li class=""><a href="http://www.instagram.com/PEXPlus"><img src="img/instgm.png"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
                <div class="footertext">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="footertext-copyright">
                          <div class="text-center hidden-sm hidden-xs hidden-xxs">
                            <p class="">Copyright 2015 PEX+. All Rights Reserved. </p>
                            <p class="alignright pspacerv15t textalignright spacerh15r">Search cheap rewards flights with PEX+ Awards Search. Find the cheapest airline rewards tickets for all top airlines around the world and the top international flight routes. PEX+ Awards Search searches hundreds of travel sites to help you find and book the rewards flight that suits you best.</p>
                            <br />
                          </div>
                          <div class="hidden-lg hidden-md">
                            <p class="">Copyright 2015 PEX+. All Rights Reserved.</p>
                            <p class="alignright pspacerv15t textalignright spacerh15r">Search cheap rewards flights with PEX+ Awards Search. Find the cheapest airline rewards tickets for all top airlines around the world and the top international flight routes. PEX+ Awards Search searches hundreds of travel sites to help you find and book the rewards flight that suits you best.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </footer> /-->
      </div><!-- /container -->       

    


    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
   
   
  </body>
</html>
