{% if not history %}
    <h5>There is no transaction history.</h5>
{% else %}
<div class="table-responsive">
<table class="table" style="background: #E9F2FA;">
    <thead>
        <tr style="background: #E9F2FA;">
            {% for th_history in history.0.fields %}
                <th class="text-center">{{ th_history.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for history_item in history %}
        {% if forloop.counter|divisibleby:2 %}
            <tr style="background: #E9F8E7;">
        {% else %}
            <tr style="background: #E7F0F8;">
        {% endif %}
            {% for history_subitem in history_item.fields %}
            <td class="text-center">{{ history_subitem.value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
