{% if not history %}
    <h5>There is no transaction history.</h5>
{% else %}
<div class="table-responsive">
<table class="table" style="background: #E9F2FA;">
    <thead>
        <tr>
            {% for th_history in history.0.fields %}
                <th class="text-center">{{ th_history.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody style="background: #E9F2FA;">
        {% for history_item in history %}
        <tr>
            {% for history_subitem in history_item.fields %}
            <td class="text-center" style="background: #E9F2FA;">{{ history_subitem.value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
