<!-- search form/-->


		<div class="col-md-2 col-sm-2 col-xs-12  col-md-pull-10 col-sm-pull-10 nopadding">
			<div class="menu-site-bar">
				<h2>General</h2>
				<nav class="nav-sidebar nav nav-tabs">
					<ul class="nav tabs">
						<li><a href="staticPage?action=About" data-toggle="tab">About</a></li>
						<li><a href="staticPage?action=Team" data-toggle="tab">Team</a></li>
						<li class=""><a href="staticPage?action=Blog" data-toggle="tab">Blog</a></li>
						<li class=""><a href="staticPage?action=Press Contact" data-toggle="tab">Press Contact</a></li>
						<li class=""><a href="staticPage?action=Help" data-toggle="tab">Help</a></li>
					</ul>
				</nav>
			</div>
			<div class="menu-site-bar">
				<h2>For Businesses</h2>
				<nav class="nav-sidebar">
					<ul class="nav tabs">
						<li class=""><a href="#f" data-toggle="tab">Hotel Owners</a></li>
						<li class=""><a href="#g" data-toggle="tab">Partners Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="menu-site-bar">
				<h2>Useful Tools</h2>
				<nav class="nav-sidebar">
					<ul class="nav tabs">
						<li class=""><a href="#h" data-toggle="tab">Airline Fees</a></li>
						<li class=""><a href="#i" data-toggle="tab">Low Fare Tips</a></li>
					</ul>
				</nav>
			</div>
		</div>

