<!-- search form/-->
<div class="col-md-2 col-sm-2 col-xs-12  col-md-pull-10 col-sm-pull-10 nopadding">
    <div class="menu-site-bar">
        <h2>General</h2>
        <nav class="nav-sidebar nav nav-tabs">
            <ul class="nav tabs">
                <li><a href="/staticPage/About">About</a></li>
                <li><a href="/staticPage/Team">Team</a></li>
                <li class=""><a href="/blog">Blog</a></li>
                <li class=""><a href="/staticPage/Press_Contact">Press Contact</a></li>
                <li class=""><a href="/staticPage/Help">Help</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-site-bar">
        <h2>For Businesses</h2>
        <nav class="nav-sidebar">
            <ul class="nav tabs">
                <li class=""><a href="/staticPage/Hotel_Owners">Hotel Owners</a></li>
                <li class=""><a href="/staticPage/Partners_Contact">Partners Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-site-bar">
        <h2>Useful Tools</h2>
        <nav class="nav-sidebar">
            <ul class="nav tabs">
                <!--li class=""><a href="#"  >Airline Fees</a></li-->
                <li class=""><a href="/staticPage/Low_Fare_Tips">Low Fare Tips</a></li>
            </ul>
        </nav>
    </div>
    <div class="google-adsense">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Pexportal Ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7742023368051032" data-ad-slot="2027680907" data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
