<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                /*padding-top: 50px;*/
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tusaj-main">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed hidden-lg hidden-md hidden-sm pspacer5 btn-search" data-toggle="collapse" data-target="#tusaj-searchjobs">
              <img src="img/searchjobsicontwo.png">
            </button>

            <a class="navbar-brand brandmedia" href="http://www.topusajobs.com"><img src="img/tusajlogo_final.png" alt="" class="hidden-xs hidden-sm"><img src="img/tusajlogo_finalsmall.png" alt="" class="hidden-lg hidden-md hidden-xs"><img src="img/tusajlogo_finalphone.png" alt="" class="hidden-lg hidden-md hidden-sm"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="pspacerv20t spacerh10r">
            <div class="collapse navbar-collapse" id="tusaj-main">
              <ul class="nav navbar-nav navbar-right">
                <!--<p class="navbar-text">Search Jobs By:</p> /-->
                <li><a href="http://usa.jobs.topusajobs.com">Search Jobs By State</a></li>
                <li class="divider-vertical hidden-md hidden-sm hidden-xs"></li>
                <li><a href="http://jobs.topusajobs.com"><div class="spacerh80"> Search Jobs By Category</div></a></li>
                <li><a href="http://www.topusajobs.com/cgi/page.cgi?page=postjobsinfo">Post Jobs</a></li>
                <li class="divider-vertical hidden-md hidden-sm hidden-xs"></li>
                <li class="dropdown">
                  <a href="http://www.topusajobs.com/login/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Client Login <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <form class="form-inline no-margin center-block" action="http://www.topusajobs.com/unknown" method="POST" role="form">
                        <div class="form-group pspacerv10b pspacerv10t">
                          <div class="col-sm-5">
                            <input type="text" placeholder="Username" class="form-control">
                          </div>
                        </div>
                        <div class="form-group pspacerv10b">
                          <div class="col-sm-5">
                            <input type="password" placeholder="Password" class="form-control">
                          </div>
                        </div>
                        <input type="hidden" name="unknown" value="unknown">
                        <div class="form-group center-block pspacerv10b">
                          <div class="col-sm-3">
                            <button type="submit" class="btn btn-success">Sign in</button>
                          </div>
                        </div>
                      </form> 
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div><!-- /.navbar-collapse -->
          <div class="hidden-lg hidden-md hidden-sm">
            <div class="pspacerv20t spacerh10r">
              <div class="collapse navbar-collapse" id="tusaj-searchjobs">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <form class="form-inline no-margin center-block" action="http://www.topusajobs.com/unknown" method="POST" role="form">
                      <div class="form-group pspacerv10b pspacerv10t">
                        <div class="col-sm-5">
                          <input type="search" placeholder="Keyword" class="form-control">
                        </div>
                      </div>
                      <div class="form-group pspacerv10b">
                        <div class="col-sm-5">
                          <input type="search" placeholder="City, State, or Zip Code" class="form-control">
                        </div>
                      </div>
                      <input type="hidden" name="unknown" value="unknown">
                      <div class="form-group center-block pspacerv10b">
                        <div class="col-sm-3">
                          <button type="submit" class="btn btn-success">Search</button>
                        </div>
                      </div>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
        <!-- <p class="navbar-right navbar-textfont">Search Jobs and Careers: Find your Ideal Job. 1000's of New Jobs daily!</p> /-->
        <div class="tagline col-lg-12">
          <p class="taglinealignright pspacerv15t spacerh25r taglinetext">Search Jobs and Careers: Find Your Ideal Job. 1,000s of New Jobs Daily!</p>
          <br />
        </div>
      </nav>

      <div id="topusabanner" class="topusabanner-bgsearch-red hero1 hidden-xs">
        <div class="container-fluid">
          <div class="top-section">
              <div class="container">
                <form class="form-inline no-margin center-block" action="http://www.topusajobs.com/unknown" method="POST" role="form">
                  <div class="row">
                    <center>
                    <fieldset>

                      <!-- Search input-->
                      <div class="form-group center-block">
                        <div class="col-sm-4">
                          <input id="keyword" name="keyword" type="search" placeholder="Keyword" class="form-control input-lg">
                          
                        </div>
                      </div>

                      <!-- Search input-->
                      <div class="form-group center-block">
                        <div class="col-sm-4">
                          <input id="location" name="location" type="search" placeholder="City, State, or Zip Code" class="form-control input-lg">
                          
                        </div>
                      </div>

                      <input type="hidden" name="unknown" value="unknown">

                      <!-- Button -->
                      <div class="form-group center-block">
                        <div class="col-sm-2">
                          <button type="submit" id="btn-search" name="btn-search" class="btn btn-primary btn-lg btn-tusaj">Search</button>
                        </div>
                      </div>
                      </center>
                    </fieldset>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <!-- Main jumbotron for a primary marketing message or call to action
    <div class="tusajbanner-final">
      <br />
      <br />
      <br />
      <div class="container">
        <h1>GATEWAY TO TOP JOBS AND CAREERS</h1>

        <div class="container">
          <form class="form-inline no-margin center-block">
            <div class="row col-lg-offset-2">
              <fieldset>

                <!-- Search input
                <div class="form-group center-block">
                  <div class="col-lg-5">
                    <input id="keyword" name="keyword" type="search" placeholder="Keyword" class="form-control input-lg">
                    
                  </div>
                </div>

                <!-- Search input
                <div class="form-group center-block">
                  <div class="col-lg-5">
                    <input id="location" name="location" type="search" placeholder=" City, State, or Zip Code" class="form-control input-lg">
                    
                  </div>
                </div>

                <!-- Button 
                <div class="form-group center-block">
                  <div class="col-lg-2">
                    <button id="btn-search" name="btn-search" class="btn btn-primary btn-lg btn-tusaj">Search</button>
                  </div>
                </div>

              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action 
    <div class="jumbotron tusajbanner container-fluid">
      <!-- <br />
      <br />
      <br /> 
      <div class="container">
        <h1>GATEWAY TO TOP JOBS AND CAREERS</h1>

        <div class="container">
          <form class="form-inline no-margin center-block">
            <div class="row col-lg-offset-2">
              <fieldset>

                <!-- Search input
                <div class="form-group center-block">
                  <div class="col-lg-5">
                    <input id="keyword" name="keyword" type="search" placeholder="Keyword" class="form-control input-lg">
                    
                  </div>
                </div>

                <!-- Search input
                <div class="form-group center-block">
                  <div class="col-lg-5">
                    <input id="location" name="location" type="search" placeholder=" City, State, or Zip Code" class="form-control input-lg">
                    
                  </div>
                </div>

                <!-- Button 
                <div class="form-group center-block">
                  <div class="col-lg-2">
                    <button id="btn-search" name="btn-search" class="btn btn-primary btn-lg btn-tusaj">Search</button>
                  </div>
                </div>

              </fieldset>
            </div>
          </form>
        </div> /-->


      </div>
    </div> 

<!-- TITLE SECTION/-->

    <div class="container-title">
      <div class="container">
      <!--  Content Area-->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row content">
              <h2 class="htitle">Terms of Use</h2>
            </div>
            <div class="row content">
              <center>
                <b></b>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div> 
      

<!-- BODY SECTION/-->


    <div class="container">
      <!--  Content Area-->

        <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2>TABLE OF CONTENTS</h2>
              </div>
              <div class="row content">
              <a href="#entireagreement">1. ENTIRE AGREEMENT</a>
              <br />
              <a href="#liability">2. LIABILITY</a>
              <br />
              <a href="#copyright">3. COPYRIGHT</a>
              <br />
              <a href="#nowarranties">4. NO WARRANTIES</a>
              <br />
              <a href="#privacy">5. PRIVACY</a>
              <br />
              <a href="#governlaw">6. GOVERNING LAW AND JURISDICTION</a>
              <br />
              <a href="#limitliability">7. LIMITATION OF LIABILITY</a>
              <br />
              <a href="#severwaiver">8. SEVERABILITY AND WAIVER</a>
              <br />
              <a href="#attorneyfee">9. ATTORNEYS' FEES</a>
              <br />
              <br />
              <br />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="entireagreement">1. ENTIRE AGREEMENT</a></h2>
              </div>
              <div class="row content">
              <p>This Agreement, as amended from time to time, including the terms of use, constitute the entire agreement between the parties, and all prior or other agreements or representations, written or oral, are superseded.
              <br />
              <br />
              a. TopUSAJobs.com reserves the right to modify the terms and conditions of this agreement or provide additional usage requirements in its sole discretion at any time by posting a revised version hereof. Your continued use of the site after the revised changes constitutes your acceptance to the revisions.
              <br />
              <br />
              b. Usage of TopUSAJobs.com including registering, searching or posting jobs, implies acceptance of these terms and conditions.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="liability">2. LIABILITY</a></h2>
              </div>
              <div class="row content">
              <p>We assume no liability or responsibility for the content submitted by the users of this site. TopUSAJobs.com is not responsible for the accuracy of posted.
              <br />
              <br />
              a. Advertisers and Users of TopUSAJobs.com retain the sole responsibility for content of adverts and all applicable laws, regulations and standards.
              <br />
              <br />
              b. All employers, job boards, recruiters and agencies on this site must adhere to commonsense business ethics. This includes: No obscene, discriminating, libelous, defamatory, sexually explicit, misleading or false information.
              <br />
              <br />
              c. TopUSAJobs.com is not a placement agency or recruiting firm and we do not guarantee that posted will result in candidates being contacted or hired or jobs filled. 
              <br />
              <br />
              e. The unauthorized use of spiders, robots, or any other such device to navigate or search any area of this website is prohibited.
              <br />
              <br />
              f. TopUSAJobs.com reserves the right to deny or suspend the services of this site to any individual for any reason.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="copyright">3. COPYRIGHT</a></h2>
              </div>
              <div class="row content">
              <p>All site Content, including logos, text, graphics, software, animation, Search Engine and Databases are the sole property of TopUSAJobs.com, and are protected by U. S. and International copyright laws. You may not reproduce, modify, display, distribute or sell the content. This also applies to HTML code used to generate Web pages on TopUSAJobs.com.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="nowarranties">4. NO WARRANTIES</a></h2>
              </div>
              <div class="row content">
              <p>The site is provided by TopUSAJobs.com on an 'As Is' basis. TopUSAJobs.com makes no warranties, express or implied, including the warranties of merchant ability, fitness, for a particular purpose, or non-infringement with respect to its services or the site, or the functionality, performance, content or results of use thereof.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="privacy">5. PRIVACY</a></h2>
              </div>
              <div class="row content">
              <p>TopUSAJobs.com is committed to protect the privacy of our users. We use our best efforts to ensure that any information you provide will remain private and confidential. TopUSAJobs.com obtains personal information from Companies on a voluntary basis only. The information allows us to list jobs in our secure database. The user decides which information to display. WE DO NOT SELL OR GIVE AWAY USER'S PERSONAL INFORMATION.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="governlaw">6. GOVERNING LAW AND JURISDICTION</a></h2>
              </div>
              <div class="row content">
              <p>The provisions of this Agreement and the legal relations between the parties arising out of this Agreement will be governed and construed in accordance with the laws of the State of Florida. Guarantor hereby irrevocably and unconditionally submit to the jurisdiction of any court of competent jurisdiction located in the County of Miami-Dade, State of Florida in any action arising out of or relating to this Agreement and you hereby irrevocably and unconditionally agree that all claims with respect to such action or proceeding may only be heard in a court located in the County of Miami-Dade, State of Florida. You and TopUSAJobs.com com hereto irrevocably and unconditionally waive any forum non-conveniens objection that either of them may have to suit arising out of or relating to this Agreement being venued in the County of Miami-Dade, State of Florida.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="limitliability">7. LIMITATION OF LIABILITY</a></h2>
              </div>
              <div class="row content">
              <p>Any liability of TopUSAJobs.com under this Agreement, whether to you or any other party, whatever the basis of the liability, shall not exceed $100.00 for any transaction out of which the liability arose or occurred. Neither TopUSAJobs.com nor their agents, officers, directors or employees shall be liable for indirect, special or consequential damages.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="severwaiver">8. SEVERABILITY AND WAIVER</a></h2>
              </div>
              <div class="row content">
              <p>If any provision of this Agreement is found by a court of competent jurisdiction to be invalid, unenforceable, or illegal, the invalidity of that provision will not affect any of the remaining provisions and this Agreement will be construed as if the invalid, unenforceable or illegal provision is not contained in the Agreement. Neither the failure nor delay by TopUSAJobs.com to exercise, or partial exercise of, any right under this Agreement will operate as a waiver or estoppel of such right, nor shall it amend this Agreement. The waiving party must sign all waivers.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row content">
                <h2><a name="attorneyfee">9. ATTORNEYS' FEES</a></h2>
              </div>
              <div class="row content">
              <p>You will be liable for and will indemnify and reimburse TopUSAJobs.com for any and all attorneys' fees and other collection costs and expenses incurred at or before Trial and in any Appellate proceeding paid or incurred by TopUSAJobs.com or their agents in the enforcement of this Agreement, or in collecting any amounts due from you or resulting from any breach by you of this Agreement.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />

<!-- FOOTER SECTION/-->
  <!-- TOP FOOTER SECTION/-->
      <footer class="container-homefooter">

        <nav class="navbar navbar-footer">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-footertwo navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-footerfont">
                <li><a href="http://usa.jobs.topusajobs.com">Search Jobs By State</a></li>
                <li class="divider-vertical"></li>
                <li><a href="http://jobs.topusajobs.com"> Search Jobs By Category</a></li>
                <li class="divider-vertical"></li>
                <li><a href="http://www.topusajobs.com/cgi/page.cgi?page=postjobsinfo">Post Jobs</a></li>
                <li class="divider-vertical"></li>
                <li><a href="http://www.topusajobs.com/cgi/page.cgi?page=aboutus">About Us</a></li>
                <li class="divider-vertical"></li>
                <li><a href="tou.html">Terms Of Use</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right navbar-nav-align navbar-footerimg">
                <li><a href="http://www.facebook.com/topusajobs"><img src="img/fb-off.png" alt="#"></a></li>
                <li><a href="https://twitter.com/topusajobs"><img src="img/tw-off.png" alt="#"></a></li>
                <li><a href="https://www.linkedin.com/groups?gid=2734649&mostPopular=&trk=tyah&trkInfo=tarId%3A1415899904833%2Ctas%3Atopusajobs%2Cidx%3A2-1-2"><img src="img/li-off.png" alt="#"></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
          <hr>

  <!-- BOTTOM FOOTER SECTION/-->

          <div class="footertext">
              <div class="footertext-copyright">
                <p class="alignleft spacerh15l"><img src="img/weddles-14.png" alt=""> 8-Time Weddles User's Choice Award Winner. </p>
                <p class="alignright pspacerv15t textalignright spacerh15r">&copy; 2003-2015 TopUSAJobs.com All Rights Reserved</p>
                <br />
              </div>
          </div>
        </nav>
      </div>
        
      </footer>
    </div> <!-- /container -->        

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>
